@using Teleopti.Ccc.UserTexts
@using Teleopti.Ccc.Web.Areas.MyTime.Core
@model Teleopti.Ccc.Web.Areas.MobileReports.Models.Layout.ReportViewModel
@{ Layout = "~/Areas/MobileReports/Views/Shared/MobileLayoutBase.cshtml"; }
@section csshead {
	<link rel="stylesheet" href="@Url.Content("~/Areas/MobileReports/Content/Css/mobile.custom.css")" />
	<link rel="stylesheet" href="@Url.Content("~/Areas/MobileReports/Content/MobileDateBox/jqm-datebox.min.css")" />
}
@section jsBeforeMobile {
	<script src="@Url.Content("~/Areas/MobileReports/Content/Scripts/Teleopti.MobileReports.Common.js")"></script>
	<script src="@Url.Content("~/Areas/MobileReports/Content/Scripts/Teleopti.MobileReports.Index.js")"></script>
}
@section jsAfterMobile {
	<script src="@Url.Content("~/Areas/MobileReports/Content/Scripts/RGraph.common.core.js")"></script>
	<script src="@Url.Content("~/Areas/MobileReports/Content/Scripts/RGraph.common.key.js")"></script>
	<script src="@Url.Content("~/Areas/MobileReports/Content/Scripts/RGraph.bar.js")"></script>
	<script src="@Url.Content("~/Areas/MobileReports/Content/Scripts/RGraph.line.js")"></script>
	<!--[if lt IE 9]><script src="@Url.Content("~/Areas/MobileReports/Content/Scripts/excanvas.original.js")"></script><![endif]-->
	<script src="@Url.Content("~/Areas/MobileReports/Content/Scripts/jquery.mobile.setting.skillpicker.js")"></script>
	<script src="@Url.Content("~/Areas/MobileReports/Content/Scripts/jquery.mobile.report.graph.js")"></script>
	<script src="@Url.Content("~/Areas/MobileReports/Content/Scripts/jquery.mobile.report.table.js")"></script>
	<script src="@Url.Content("~/Areas/MobileReports/Content/MobileDateBox/jqm-datebox.core.js")"></script>
	<script src="@Url.Content("~/Areas/MobileReports/Content/MobileDateBox/jqm-datebox.mode.calbox.js")"></script>
	<script>
		$.extend($.mobile.datebox.prototype.options.lang, {
			'loc': @Html.Raw(Model.DateBoxGlobalization.ToJson())
		});

		$.extend($.mobile.datebox.prototype.options, {
			useLang: 'loc'
		});
	</script>
	<script>
		Teleopti.MobileReports.Index.Init(['@(Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.LoadingThreeDots)))', '@(Html.Raw(HttpUtility.JavaScriptStringEncode(Resources.CommunicationErrorEndPoint)))'])
	</script>
}
<div data-role="page" id="home-view">
	<div data-role="header">
		<h1>
			@Resources.MobileReports
		</h1>
		@Html.ActionLink(Resources.SignInAsAnotherUser, "SignInAsAnotherUser", "Authentication", new
																			{
																				area = "MobileReports"
																			}, new { id = "signout-button", data_icon = "delete", data_iconpos = "left", @class = "ui-btn-right", data_theme = "b", rel = "external" })
	</div>
	<div data-role="content">
		<ul data-role="listview" data-inset="true" data-theme="b">
			<li data-role="list-divider">@Resources.Reports</li>
			<li><a href="#report-settings-view" data-icon="info">@Resources.Show</a></li>
		</ul>
	</div>
</div>
<div data-role="page" id="report-settings-view">
	<div data-role="header">
		<h1>@Resources.Settings</h1>
		<a href="#home-view" data-icon="home" data-direction="reverse" title="@Html.AttributeEncode(Resources.Home)"
		   data-theme="b">@Resources.Home</a>
	</div>
	<div data-role="content">
		<ul data-role="listview" data-inset="true">
			<li data-role="fieldcontain">
				<fieldset data-role="controlgroup">
					<legend>@Resources.Reports</legend>
					@foreach (var report in Model.Reports)
	 {
		 var encodedId = Html.AttributeEncode(string.Format("sel-report-{0}", report.ReportId));

						<input type="radio" name="sel-report" id="@encodedId" value="@Html.AttributeEncode(report.ReportId)" />
						<label for="@encodedId">@report.ReportName</label>
	 }
				</fieldset>
			</li>
			<li data-role="fieldcontain">
					<label for="sel-date">@Resources.DateSelection</label>

					<input name="sel-date" id="sel-date" data-theme="b" type="date" data-role="datebox" data-options='{"mode": "calbox", "pickPageTheme": "b", "pickPageButtonTheme": "b"}' />
			</li>
			<li data-role="fieldcontain">
				<fieldset data-role="controlgroup" data-type="horizontal">
					<legend>Interval (loc)</legend>
					<input type="radio" name="sel-interval" id="report-settings-interval-day" value="1" checked="checked" />
					<label for="report-settings-interval-day">
						@Resources.Day</label>
					<input type="radio" name="sel-interval" id="report-settings-interval-week" value="7" />
					<label for="report-settings-interval-week">
						@Resources.Week</label>
				</fieldset>
			</li>
			<li data-role="fieldcontain">
				<label for="sel-skill">@Resources.Skill</label>
				<select name="sel-skill" id="sel-skill" data-role="none" data-native-menu="false" multiple="multiple">
					@foreach (var skill in Model.Skills)
					{
						var encodedId = Html.AttributeEncode(string.Format("{0}", skill.SkillId));
						<option value="@encodedId" selected="selected">@skill.SkillName</option>
					}
				</select>
			</li>
			<li data-role="fieldcontain">
				<fieldset data-role="controlgroup">
					<legend>@Resources.TypeLOC</legend>
					<input type="checkbox" name="report-settings-type-graph" id="report-settings-type-graph" />
					<label for="report-settings-type-graph">
						@Resources.GraphLOC</label>
					<input type="checkbox" name="report-settings-type-table" id="report-settings-type-table" />
					<label for="report-settings-type-table">
						@Resources.TableLOC
					</label>
				</fieldset>
			</li>
		</ul>
		<div class="right-wrapper">
			<a id="report-view-show-button" data-role="button" data-theme="a" data-inline="true">@Resources.Show</a>
		</div>
	</div>
</div>
<div data-role="page" id="report-view">
	<div data-role="header">
		<a href="#report-settings-view" data-icon="gear" data-direction="reverse" data-theme="b"
			title="@Html.AttributeEncode(Resources.Settings)">@Resources.Settings</a><h1>@Resources.ShowResult</h1>
	</div>
	<div data-role="content">
		<div data-role="controlgroup" data-type="horizontal" class="center-wrapper mt0">
			<a data-role="button" data-icon="arrow-l" data-iconpos="left" class="glyphicon glyphicon-only" id="report-view-date-nav-prev">
				&nbsp;</a> <a href="#" data-role="button" id="report-view-date-nav-current">&nbsp;</a>
			<a data-role="button" data-icon="arrow-r" data-iconpos="right" class="glyphicon glyphicon-only"
				id="report-view-date-nav-next">&nbsp;</a>
		</div>
		<ul data-role="listview" data-inset="true" data-theme="b">
			<li data-role="list-divider" id="report-name"></li>
			<li data-role="fieldcontain" class="pdr0 pdl0">
				<div id="report-graph-holder" class="center-wrapper">
					
				</div>
			</li>
			<li data-role="fieldcontain" class="pd0">
				<div id="report-table-holder" class="center-wrapper">
				</div>
			</li>
		</ul>
	</div>
</div>
<ul data-role="listview" id="error-message" style="display: none;" data-inset="true"
	data-theme="b">
	<li data-role="fieldcontain">
		<div class="center-wrapper">
			<br />
			<span class="error"></span>
			<br />
			<br />
		</div>
	</li>
</ul>
