@using Teleopti.Ccc.UserTexts
@{
	Layout = null;
}
<div id="settings" class="edit-module">
	<div class="edit-module-inner" id="passwordDiv">
		<div class="edit-module-element">
			<label>@Resources.NewPassword</label>
			@Html.Password("password", string.Empty, new { placeholder = @Resources.NewPassword })<br />
			@Html.Password("passwordValidation", string.Empty, new { placeholder = @Resources.ConfirmNewPassword })
			<span id="nonMatchingPassword" style="color: red; display: none">@Resources.PasswordsDoNotMatch</span>
		</div>
		<div class="edit-module-element pdt10">
			<label>@Resources.PasswordOld</label>
			@Html.Password("oldPassword", string.Empty, new { placeholder = @Resources.PasswordOld })
			<span id="incorrectOldPassword" style="color: red; display: none">@Resources.PasswordWrong</span>
		</div>
		<div class="edit-module-element pdt20">
			<label id="updated" style="color: green; display: none">@Resources.Updated</label>
			<input type="button" value="@Resources.Update" id="passwordButton" disabled="disabled"/>
		</div>
	</div>
</div>