@using Teleopti.Ccc.UserTexts
@{
    Layout = null;
}
<div id="settings" class="well well-sm">
    <div>
	    <label for="password">@Resources.NewPassword</label>
	    <input class="form-control" id="password" placeholder="New password"/>
        <br />
		 <input class="form-control" id="passwordValidation" placeholder = "Confirm new password"/>
        <div id="alertPassword" class="alert alert-danger" style="display: none">
            <span id="nonMatchingPassword" style="display: none">@Resources.PasswordsDoNotMatch</span>
            <span id="invalidNewPassword" style="display: none">@Resources.PasswordPolicyWarning</span>
        </div>
    </div>
    <br />
    <div>
        <label for="oldPassword">@Resources.PasswordOld</label>
        @Html.Password("oldPassword", string.Empty, new { placeholder = @Resources.PasswordOld, @class = "form-control" })
        <div id="alertOldPassword" class="alert alert-danger" style="display: none">
            <span id="incorrectOldPassword" style="display: none">@Resources.PasswordWrong</span>
        </div>
    </div>
    <br />
    <div>
        <label id="updated" style="color: green; display: none">@Resources.Updated</label>
        <button class="btn btn-primary" id="passwordButton" disabled="disabled">@Resources.Update</button>
    </div>
</div>
