@using Teleopti.Ccc.UserTexts
@{
	 Layout = null;
}
<div class="ui-corner-all">
	<div>
		<p>
			@Resources.NewPassword<br/>
			@Html.Password("password", string.Empty, new { placeholder = @Resources.NewPassword })<br/>
			@Html.Password("passwordValidation", string.Empty, new { placeholder = @Resources.ConfirmNewPassword })
			<label id="nonMatchingPassword" style="color: red; display:none">@Resources.PasswordsDoNotMatch</label>
		</p>
		<br/>
		<p>
			@Resources.PasswordOld<br/>
			@Html.Password("oldPassword", string.Empty, new { placeholder = @Resources.PasswordOld })
			<label id="incorrectOldPassword" style="color: red; display:none">@Resources.PasswordWrong</label>	
		</p>
		<br/>
		<p>
			<label id="updated" style="color: red; display:none">@Resources.Updated</label>	
		</p>
		<br/>
		<p>
			<input type="button" value="@Resources.Update" id="passwordButton" disabled="disabled"/>
		</p>
	</div>
</div>