@using Teleopti.Ccc.UserTexts
@using Teleopti.Ccc.Web.Areas.MyTime.Models.Settings
@model SettingsPermissionViewModel
@{
    Layout = null;
}
<div class="container setting-padding">
    <div id="settings" class="well well-sm">
        <div class="clearfix">
            <label for="CultureUi-Picker" class="col-xs-12 control-label">@Resources.Language</label>
            <select id="CultureUi-Picker" class="col-xs-4 culture-setting" data-bind="foreach: cultures, select2: { value: selectedUiCulture }, enable: culturesLoaded ">
                <option data-bind="text: text, value: id"></option>
            </select>
        </div>
        <br />
        <div class="clearfix">
            <label for="Culture-Picker" class="col-xs-12 control-label">@Resources.DateFormat</label>
            <select id="Culture-Picker" class="col-xs-4 culture-setting" data-bind="foreach: cultures, select2: { value: selectedCulture }, enable: culturesLoaded">
                <option data-bind="text: text, value: id"></option>
            </select>
        </div>
        <br />

        <div class="clearfix">
            <!-- ko if: IsNotificationSupported() -->
            <span class="btn-group">
                <button class="btn btn-default" data-bind="click: RequestNotificationPermission">@Resources.AllowDesktopNotifications</button>
            </span>
            <!-- /ko -->
            @if (Model.ShareCalendarPermission)
            {
                <div class="btn-group">
                    <button class="btn btn-default share-my-calendar" data-bind="css: { active: CalendarSharingActive() }, click: ActivateCalendarSharing">@Resources.ShareMyCalendar</button>
                    <button class="btn btn-default revoke" data-bind="css: { active: !CalendarSharingActive() }, click: DeactivateCalendarSharing">@Resources.Revoke</button>
                </div>
				<!-- ko if: CalendarSharingActive() -->
                <div>
                    <span>@Resources.ShareMyCalendarHint</span><a href="http://wiki.teleopti.com/TeleoptiCCC/CalendarLink" target="_blank">@Resources.Here</a>
                </div>
                <div>
                    <input class="calendar-url col-md-10" data-bind="value: CalendarUrl, selected: true" />
                </div>
				<!-- /ko -->
            }
        </div>
    </div>
</div>