@using Teleopti.Ccc.Web.Areas.MyTime.Models.Settings
@model SettingsPermissionViewModel
@{
	Layout = null;
}
<div class="container setting-padding">
	<div id="settings" class="well well-sm row">
		<div class="col-xs-12" data-bind="css: {'settings-input-border': isQRCodeForMobileAppsEnabled(),'col-sm-6': isQRCodeForMobileAppsEnabled(), 'col-sm-12': !isQRCodeForMobileAppsEnabled() }">
			<div class="clearfix">
				<label for="CultureUi-Picker" class="col-xs-12 control-label">@Resources.Language</label>
				<select id="CultureUi-Picker" class="col-xs-4 culture-setting" data-bind="foreach: cultures, select2: { value: selectedUiCulture }, enable: settingsLoaded ">
					<option data-bind="text: text, value: id"></option>
				</select>
			</div>
			<br />
			<div class="clearfix">
				<label for="Culture-Picker" class="col-xs-12 control-label">@Resources.DateFormat</label>
				<select id="Culture-Picker" class="col-xs-4 culture-setting" data-bind="foreach: cultures, select2: { value: selectedCulture }, enable: settingsLoaded">
					<option data-bind="text: text, value: id"></option>
				</select>
			</div>
			<br />
			<!-- ko if: isSetAgentDescriptionEnabled()-->
			<div class="clearfix">
				<label for="CommonAgentName-Picker" class="col-xs-12 control-label">@Resources.AgentDescription</label>
				<select id="CommonAgentName-Picker" class="col-xs-4 culture-setting" data-bind="foreach: nameFormats, select2: { value: selectedNameFormat }, enable: settingsLoaded">
					<option data-bind="text: text, value: id"></option>
				</select>
			</div>
			<br />
			<!-- /ko -->

			<div class="clearfix">
				<!-- ko if: IsNotificationSupported -->
				<span class="btn-group">
					<button class="btn btn-primary" data-bind="click: RequestNotificationPermission">@Resources.AllowDesktopNotifications</button>
				</span>
				<!-- /ko -->
				  @if (!Model.HasWorkflowControlSet)
				  {
					<div id="Setting-MissingWorkflowControlSet" class="alert alert-warning">
						@Resources.MissingWorkflowControlSet
					</div>
				  }

				@if (Model.ShareCalendarPermission && Model.HasWorkflowControlSet)
				{
					<div class="btn-group">
						<button class="btn btn-primary share-my-calendar" data-bind="css: { active: CalendarSharingActive }, click: ActivateCalendarSharing">@Resources.ShareMyCalendar</button>
						<button class="btn btn-primary revoke" data-bind="css: { active: !CalendarSharingActive() }, click: DeactivateCalendarSharing">@Resources.Revoke</button>
					</div>
					<!-- ko if: CalendarSharingActive -->
					<div>
						<span>@Resources.ShareMyCalendarHint</span><a href="https://wiki.teleopti.com/TeleoptiWFM/CalendarLink" target="_blank">@Resources.Here</a>
					</div>
					<div>
						<input class="calendar-url col-md-10" data-bind="value: CalendarUrl, selected: true" />
					</div>
					<!-- /ko -->
				}
			</div>
		</div>
		
		<!-- ko if: isQRCodeForMobileAppsEnabled()-->
		<div class="col-xs-12 col-sm-6 qrcode-container">
			<label>@Resources.TeleoptiMobileApp</label>

			<!-- ko if: customMobileAppBaseUrlError() -->
			<p>@Resources.ErrorOccurredWhenGeneratingQrcode</p>
			<!-- /ko -->

			<!-- ko if: !customMobileAppBaseUrlError() -->
			<div id="#QRCodePlaceHolder"></div>

			<h5>@Resources.UseTeleoptiMobileAppToScanThisQRCode 
				<span dir="ltr">(
				<a class="android-app-link" target="_blank" data-bind="attr:{href: androidAppLink()}"> Android
					<div id="#AndroidApp"></div>
				</a>
				 | 
				<a class="ios-app-link" target="_blank" data-bind="attr:{href: iOSAppLink()}"> iOS
					<div id="#iOSApp"></div>
				</a>
				)</span>
				</h5>
			<!-- /ko -->
		</div>
		<!-- /ko -->
	</div>
</div>