@using Teleopti.Ccc.UserTexts
@model Teleopti.Ccc.Web.Areas.Reporting.Models.ReportModel
@{
	Layout = null;
}
<!DOCTYPE html>
<html style="height:100%">
<head>
	<title>@Model.Name</title>
	<link href="~/Areas/Reporting/Content/Styles/Styles.css" rel="stylesheet" />
	<link href="~/Content/bootstrap/Content/bootstrap.css" rel="stylesheet" />
	<script src="~/Content/jquery/jquery-1.12.4.min.js"></script>
	<script src="~/Content/bootstrap/Scripts/bootstrap.js"></script>
	<script type="text/javascript">
		function setCookie() {
			if (window.location.hash) {
				var d = new Date();
				d.setTime(d.getTime() + (5 * 60 * 1000));
				var expires = "expires=" + d.toUTCString();
				document.cookie = "returnHash" + "=" + window.location.hash + "; " + expires + "; path=/";
			}
			var re = new RegExp(/^.*\//);
			var loc = re.exec(window.location.href);
			window.location = loc + "../Authentication";
		}
	</script>


</head>
<body style="margin-top: 0;height:95%">
	<header>
		<div class="navbar navbar-default navbar-inverse">
			<div class="navbar-header pull-left">
				<button id="mainNavbarToggler" type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navbar-offcanvas">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				<a class="navbar-brand" href="#@Model.Id">Teleopti WFM</a>
			</div>

			<div class="navbar-offcanvas navmenu-fixed-right offcanvas" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					@if (Model.ReportNavigationItems.Any())
					{

						<li class="dropdown">
							<a id="reports" href="#" class="dropdown-toggle" data-toggle="dropdown">@Resources.Reports <b class="caret"></b></a>
							<ul id="report-list" class="dropdown-menu">
								@foreach (var reportNavSection in Model.ReportNavigationItems)
								{
									if (reportNavSection.IsDivider)
									{
										@*<li class="divider"></li>*@
										continue;
									}
									<li>
										@*@if (reportNavSection.IsWebReport)
											{
												<a href="@string.Format("#{0}Tab", reportNavSection.Controller)" data-mytime-action="@Html.Portal().GetAction(reportNavSection)">@reportNavSection.Title<span class="badge hide"></span></a>
											}*@

										@*if (!reportNavSection.IsWebReport)
										{
											<a href="@reportNavSection.Url">@reportNavSection.Title</a>
										}*@
										<a href="@reportNavSection.Url">@reportNavSection.Title</a>
									</li>
								}
							</ul>
						</li>
					}
				</ul>
			</div>
			<div class="nav navbar-nav pull-right" style="margin-right: 30px">
				<ul class="nav navbar-nav" style="margin-right: 30px">

					<li class="dropdown " id="user-settings">
						<a href="#" class="dropdown-toggle user-name-link" data-toggle="dropdown">
							<i class="glyphicon glyphicon-user"></i>
							<span class="user-name" title=@Model.CurrentLogonAgentName><small> @Model.CurrentLogonAgentName</small></span> <b class="caret"></b>
						</a>
						<ul class="dropdown-menu show-outside-toolbar">

							<li>@Html.ActionLink(@Resources.SignOut, "SignOut", "Authentication", new { area = "Start" }, new { id = "signout" })</li>
							<li class="divider"></li>
							<li><a href="#" onclick="setCookie()">@Resources.BusinessUnit</a> </li>
						</ul>
					</li>

				</ul>
				<a style="float: right; margin-top: 10px" href="@Model.HelpUrl" target="_blank">
					<img id="ImageButtonHelp" src="~/Areas/Reporting/images/Question_16x16.png" alt="Help" />
				</a>

			</div>
			<div class="" style="padding-top: 15px; margin-right: 20px;float: right; color: #ffffff;">
				@Model.CurrentBuName
			</div>
			<div class="ReportName" style="padding-top: 2px">
				@Model.Name
			</div>
		</div>
	</header>

	<iframe style="border: none;height: 95%;width:99.4%;position: fixed;top: 50px;" src="~/Areas/Reporting/ScheduleAdherence.aspx?ReportID=@Model.Id"></iframe>
</body>
</html>