@using Teleopti.Ccc.UserTexts
@{
Layout = null;
}

<div class="BadgeLeaderBoardReport">
	<!-- ko if: showOptions -->
	<div class="navbar teleopti-toolbar subnavbar">
		<div class="container">
			<ul class="nav navbar-nav teleopti-toolbar row submenu">

				<li class="col-xs-12 col-sm-4" data-bind="if: showOptions">
					<span class="input-group">
						<select id="Hierarchy-Picker" data-bind="foreach: availableOptions, select2: { value: selectedOptionId }, disable:isLoading ">
							<option data-bind="text: text, value: id, css:{'site-option':  type == 2, 'team-option': type == 1}"></option>
						</select>
					</span>
				</li>
				<li class="col-xs-12 col-sm-4 mobile-datepicker datepicker-style" data-bind="if:showCalendar">
					<span class="input-group">
						<input type="hidden" class="format-field" value="@ViewBag.DatePickerFormat">
						<input type="hidden" class="rolling-type-field" value="@ViewBag.GamificationRollingPeriodSet">
						<span class="input-group-btn">
							<button id="period-navigator-previous" class="btn btn-default" data-bind="click: previous, disable: isLoading"
							 type="button">
								<i class="glyphicon glyphicon-chevron-left"></i>
							</button>
						</span>
						<input class="form-control text-center date-input-style" data-bind="value: displayDate" type="text" readonly="readonly" />
						<span class="input-group-btn">
							<span class="btn btn-default moment-datepicker" type="button">
								<i class="glyphicon glyphicon-calendar"></i>
							</span>
							<button id="period-navigator-next" class="btn btn-default" data-bind="click: next, disable: isLoading" type="button">
								<i class="glyphicon glyphicon-chevron-right"></i>
							</button>
						</span>
					</span>
				</li>
			</ul>
		</div>
	</div>
	<!-- /ko -->

	<div class="container relative well pagebody">
		<table style="width: 100%;">
			<thead>
				<tr>
					<td class="agent-badge-header">@Resources.Rank</td>
					<td class="agent-badge-header">@Resources.AgentName</td>
					<td class="agent-badge-num"><img src="~/Areas/MyTime/Content/Images/gold.png" /></td>
					<td class="agent-badge-num"><img src="~/Areas/MyTime/Content/Images/silver.png" /></td>
					<td class="agent-badge-num"><img src="~/Areas/MyTime/Content/Images/bronze.png" /></td>
				</tr>
			</thead>

			<tbody class="badge-leader-board-report">
				<!-- ko foreach:agentBadges() -->
				<tr class="agent-badge">
					<td data-bind="text:rank" class="agent-rank"></td>
					<td data-bind="text:name" class="agent-name"></td>
					<td id="gold-badge-num" class="agent-badge-num" data-bind="text: gold"></td>
					<td id="silver-badge-num" class="agent-badge-num" data-bind="text: silver"></td>
					<td id="bronze-badge-num" class="agent-badge-num" data-bind="text: bronze"></td>
				</tr>
				<!-- /ko -->
			</tbody>
		</table>
	</div>
	<div class="container" data-bind="visible: isLoading">
		<img src='@Url.Content("~/Areas/MyTime/Content/Images/ajax-loader-small-f8f8f8.gif")' alt="..." />
		@Resources.LoadingThreeDots
	</div>
</div>