@using Teleopti.Ccc.Web.Models.Shared
@model ErrorViewModel
@{
	Layout = null;
}
<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en" class="no-js ">
<!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>MyTime Web</title>
	<meta name="description" content="" />
	<meta name="author" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="@Url.Content("~/Content/Css/Site.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/JQueryUITheme/jquery.ui.all.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/Css/jquery.ui.custom.css")" rel="stylesheet" type="text/css" />
	<script src="@Url.Content("~/Content/jquery/jquery-1.10.2.js")"></script>
	<script src="@Url.Content("~/Content/Scripts/modernizr-2.6.2.js")"></script>
	<script src="@Url.Content("~/Content/Scripts/jquery.ui.core.min.js")"></script>
	<script src="@Url.Content("~/Content/Scripts/jquery.ui.widget.min.js")"></script>
	<script src="@Url.Content("~/Content/Scripts/jquery.ui.button.min.js")"></script>

	<script src="@Url.Content("~/Content/Scripts/Teleopti.MyTimeWeb.Common.js")"></script>
</head>
<body>
	<div id="page-signin">
		<img alt="Teleopti MyTime" id="logo" src="@Url.Content("~/Content/Images/login_logo.png")">
		<div class="col-1 signin pdt5" id="body-signin">
			<div class="sign-in-form ui-tabs ui-widget ui-widget-content ui-corner-all mt15 ml5" id="error-panel">
				@Html.Partial("ErrorPartial", Model)
			</div>
		</div>
	</div>
	<div class="col-1">
	</div>
	<div id="dialog-modal">
	</div>
	<div id="dialog">
	</div>
</body>
</html>
