@{
	Layout = null;
}
<!DOCTYPE html>
<html>
	<head>
		<title>Browser Detection</title>
		<script type="text/javascript">
			var jQuery = jQuery || {};
			jQuery.browser = jQuery.browser || {};
		</script>
		<script src="@Url.Content("~/Content/scripts/detectmobilebrowser.js")"> </script>
		<script>
			@{
				var origin = Html.ViewContext.RequestContext.RouteData.Values["origin"];
			}
			var locUrls = {
				orig: '@HttpUtility.JavaScriptStringEncode((string)origin)',
				desktop: '@HttpUtility.JavaScriptStringEncode(Url.RouteUrl(new { Controller = "Authentication", Action = "SignIn", area = origin ?? "Start" }))',
				mobile: '@HttpUtility.JavaScriptStringEncode(Url.RouteUrl(new{ Controller = "Authentication", Action="MobileSignIn", area = origin ?? "Start" }))',
				target: ''
			};
			locUrls.target = jQuery.browser.mobile && !locUrls.orig.length ? locUrls.mobile : locUrls.desktop;
			if(locUrls.target && locUrls.target.length) {
				window.location.replace(locUrls.target);
			}
		</script>
	</head>
	<body>
		Goto @Html.ActionLink("Desktop","SignIn", "Authentication") or @Html.ActionLink("Mobile","MobileSignIn", "Authentication")
	</body>
</html>


