@{
	Layout = null;
}
/
<!DOCTYPE html>
<html>
	<head>
		<title>Browser Detection</title>
		<script type="text/javascript">
			var jQuery = jQuery || {};
			jQuery.browser = jQuery.browser || {};
		</script>
		<script src="@Url.Content("~/Content/scripts/detectmobilebrowser.js")"> </script>
		<script>
			@{
				var origin = Html.ViewContext.RequestContext.RouteData.Values["origin"];
			}
			
			var orig = '@HttpUtility.JavaScriptStringEncode((string)origin)';
			var desktop = '@HttpUtility.JavaScriptStringEncode(Url.RouteUrl(new { Controller = "Authentication", Action = "SignIn", area = origin ?? "Start" }))';
			var mobile = '@HttpUtility.JavaScriptStringEncode(Url.RouteUrl(new{ Controller = "Authentication", Action="MobileSignIn", area = origin ?? "Start" }))';
			var location = jQuery.browser.mobile && !orig.length ? mobile : desktop;
			if(location && location.length) {
				window.location.replace(location);
			}
		</script>
	</head>
	<body>
		Goto @Html.ActionLink("Desktop","SignIn", "Authentication") or @Html.ActionLink("Mobile","MobileSignIn", "Authentication")
	</body>
</html>


