@using System.Web.Optimization
@using Teleopti.Ccc.UserTexts
@using Teleopti.Ccc.Web.Core.Startup.InitializeApplication
@section head {
	@Styles.Render(BundleScripts.SignInCss)
	@Scripts.Render(BundleScripts.SignInJs)
	@Styles.Render("~/Areas/Start/Content/Css/main.min.css")
	@Styles.Render("~/Areas/SSO/Content/Css/newLogin.css")


	<script type="text/javascript">
		var authentication;
		$(function () {
			Teleopti.Start.Authentication.Settings = {
				baseUrl: '@Url.Content("~/")'
			};
			authentication = new Teleopti.Start.Authentication.Init();
		});
	</script>
}
@{
	var signOutUrl = "authentication/SignOut";
	if (Request.RawUrl.EndsWith("/"))
	{
		signOutUrl = "../" + signOutUrl;
	}
}

<div id="wave-background">
	<svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 1920 160"><path fill="#fff" d="M1920 0s-115 144-432 144S844 0 465 0 0 144 0 144v16h1920V0z"></path></svg>
</div>
<section id="page-signin">
	<div id="Login-container">
		<div id="Exception-div" class="alert alert-danger hide">
			<button type="button" class="close" data-dismiss="alert">×</button>
			<span id="Exception-message"></span>
		</div>

		<div class="con-row">
			<div class="con-flex"></div>
			<div class="con-flex split-1-2">
				<div class="panel material-depth-1 line-center">
					<div class="sub-header">
						<h1>TELEOPTI WFM</h1>
					</div>
					<div class="con-row">
						<div class="con-flex">
							<div>
								<div id="view"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="con-flex"></div>
		</div>

		<div id="signin">
			<div id="Signin-error"
				 class="alert alert-warning formError material-depth-1"
				 data-bind="visible: HasErrorMessage, text: ErrorMessage"
				 data-nobusinessunitext="@Resources.NoAllowedBusinessUnitFoundInCurrentDatabase"
				 data-nodatasourcetext="@Resources.NoDatasource"
				 data-credentialsmissingtext="@Resources.IdentityLogonMissing"
				 data-nopermissiontext="@Resources.InsufficientPermissionForWeb">
			</div>

			<div data-bind="if: ShowSignInAsAnotherUser && HasErrorMessage">
				<a style="display: inline-block;" class="wfm-btn wfm-btn-primary" href="@signOutUrl">@Resources.SignInAsAnotherUser</a>
			</div>
		</div>

		<div id="businessunit">
			<div id="BusinessUnit-error"
			     class="alert alert-warning formError material-depth-1"
			     data-bind="visible: HasErrors, text: ErrorMesg">
			</div>
			<p>@Resources.PleaseChooseABusinessUnit</p>
			<ul id="BusinessUnits" data-bind="visible: !HasErrors(), foreach: BusinessUnits" class="list-group">
				<li>
					<a href="#" class="list-group-item" data-bind="text: Name, click: Select"></a>
				</li>
			</ul>
			<div data-bind="visible: Ajax.Active" class="loader"></div>
		</div>

		<div id="menu">
			<div data-bind="foreach: Applications" class="list-group">
				<a href="#" class="list-group-item" data-bind="attr: { href: Url }, text: Name"></a>
			</div>
		</div>
	</div>

</section>

