@using Teleopti.Ccc.Web.Areas.Start.Models.Authentication
@model SignInBusinessUnitViewModel
<div id="business_unit_partial_target">
    @using (Ajax.BeginForm("Logon", new AjaxOptions
    {
        UpdateTargetId = "business_unit_partial_target",
        InsertionMode = InsertionMode.Replace,
		OnComplete = "Teleopti.Start.Authentication.SignInPartialInit",
		OnFailure = "Teleopti.Start.Common.AjaxFailed"
    }))
    { 
        <div class="select-list floatleft mt10 mr10 ml10">
            @Html.HiddenFor(m => m.SignIn.BusinessUnitId)
            <ul id="BusinessUnitList">
            @foreach (var item in Model.BusinessUnits)
			{
                <li data-mytime-value="@Html.AttributeEncode(item.Id)">@item.Name</li>
			}
            </ul>
        </div>
        <h1 class="floatleft mt10">
            @Html.LabelFor(m => m.SignIn.BusinessUnitId)
        </h1>
        @Html.ValidationMessageFor(m => m.SignIn.BusinessUnitId)<br />
        @Html.ValidationSummary(true)
        <div class="floatright clearboth mr10 ml10 mt5">
			@Html.ActionLink(Teleopti.Ccc.UserTexts.Resources.Cancel, "SignOut", new { returnUrl = "~/" }, new { @class = "button" })
            <input type="submit" value="@Html.AttributeEncode(Teleopti.Ccc.UserTexts.Resources.Ok)" class="button" id="BusinessUnitOkButton" />
        </div>
		@Html.HiddenFor(m => m.SignIn.DataSourceName)
		@Html.HiddenFor(m => m.SignIn.PersonId)
    }    
</div>