@using Teleopti.Ccc.UserTexts
@{
	Layout = null;
}
<div>
	<input type="text" class="form-control request-edit-subject" placeholder="@Resources.Subject" data-bind="value: Subject, visible: IsEditable" />
</div>
<!-- ko if: IsEditable -->
<textarea class="form-control request-edit-message" placeholder="@Resources.Message" data-bind="value: Message" />
<!-- /ko -->
<!-- ko if: WaitlistPosition() > 0 -->
<div>
	<label>@Resources.WaitlistPosition</label>&nbsp;<span id="waitlistPosition" data-bind="text:WaitlistPosition"></span>
</div>
<!-- /ko -->
<div class="form-group">
	<label style="padding-top: 10px;">
		@Resources.AbsenceType
	</label>
	<div class="row">
		<div class="col-xs-6" style="padding-top: 6px;">
			<select class="request-edit-absence form-control" data-bind="value: AbsenceId, enable: IsEditable && '@(Model.AbsenceTypes.Count > 0)' == 'True'">
				@if (Model.AbsenceTypes.Count > 0)
				{
					foreach (var absenceType in Model.AbsenceTypes)
					{
						<option value="@Html.AttributeEncode(absenceType.Id)">@absenceType.Name</option>
					}
				}
				else { <option value="">@Resources.NoAbsenceTypesOpenForRequests</option>}
			</select>
		</div>
		<!-- ko if: ShowAbsenceAccount -->
		<div id="absence-personal-account">
			<div>
				<label>
					@Resources.Remaining:
				</label>
				<!-- ko if: AbsenceTrackedAsDay() -->
				<span class="remainingTime" data-bind="text: AbsenceRemaining() + ' @Resources.Days	'"></span>
				<!-- /ko -->
				<!-- ko if: AbsenceTrackedAsHour() -->
				<span class="remainingTime" data-bind="text: AbsenceRemaining()"></span>
				<!-- /ko -->
			</div>
			<div>
				<label>
					@Resources.Used:
				</label>
				<!-- ko if: AbsenceTrackedAsDay() -->
				<span class="usedTime" data-bind="text: AbsenceUsed() + ' @Resources.Days	'"></span>
				<!-- /ko -->
				<!-- ko if: AbsenceTrackedAsHour() -->
				<span class="usedTime" data-bind="text: AbsenceUsed()"></span>
				<!-- /ko -->
			</div>
		</div>
		<!-- /ko -->
	</div>
</div>
<div class="row form-group">
	<div class="col-xs-12">
		<span class="input-group">
			<input class="request-edit-datefrom input-sm form-control" data-bind="datepicker: DateFrom, datepickerOptions: { autoHide: true, format: DateFormat(), weekStart: weekStart() }, enable: IsEditable() && IsDateInputEditable" type="text" />
			<span class="input-group-btn">
				<button class="btn btn-sm" aria-label="@Resources.SelectDate" aria-haspopup="true" data-bind="datepicker: DateFrom, datepickerOptions: { autoHide: true, weekStart: weekStart() }, enable: IsEditable">
					<i class="glyphicon glyphicon-calendar"></i>
				</button>
			</span>
		</span>
	</div>
	<div class="col-xs-12 bootstrap-timepicker">
		<div class="request-edit-timefrom input-group">
			<input type="text" class="input-sm form-control" data-bind="timepicker: TimeFrom, timepickerOptions: { showMeridian: ShowMeridian, showInputs: false}, visible: IsTimeInputVisible, enable: IsEditable, scrollIntoViewWhenClick:'#Request-add-section'" />
			<span class="input-group-btn">
				<button class="btn btn-sm" aria-label="@Resources.SelectTime" aria-haspopup="true" data-bind="timepicker: TimeFrom, timepickerOptions: { showMeridian: ShowMeridian, showInputs: false}, visible: IsTimeInputVisible, enable: IsEditable">
					<i class="glyphicon glyphicon-time"></i>
				</button>
			</span>
		</div>
	</div>
</div>
<div class="row form-group">
	<div class="col-xs-12">
		<span class="input-group">
			<input class="request-edit-dateto input-sm form-control" data-bind="datepicker: DateTo, datepickerOptions: { autoHide: true, format: DateFormat(), weekStart: weekStart() }, enable: IsEditable() && IsDateInputEditable" type="text" />
			<span class="input-group-btn">
				<button class="btn btn-sm" aria-label="@Resources.SelectDate" aria-haspopup="true" data-bind="datepicker: DateTo, datepickerOptions: { autoHide: true, weekStart: weekStart() }, enable: IsEditable">
					<i class="glyphicon glyphicon-calendar"></i>
				</button>
			</span>
		</span>
	</div>
	<div class="col-xs-12 bootstrap-timepicker">
		<div class="request-edit-timeto input-group">
			<input type="text" class="input-sm form-control" data-bind="timepicker: TimeTo, timepickerOptions: { showMeridian: ShowMeridian, showInputs: false}, visible: IsTimeInputVisible, enable: IsEditable, scrollIntoViewWhenClick:'#Request-add-section'" />
			<span class="input-group-btn">
				<button class="btn btn-sm" aria-label="@Resources.SelectTime" aria-haspopup="true" data-bind="timepicker: TimeTo, timepickerOptions: { showMeridian: ShowMeridian, showInputs: false}, visible: IsTimeInputVisible, enable: IsEditable">
					<i class="glyphicon glyphicon-time"></i>
				</button>
			</span>
		</div>
	</div>
</div>
<label class="checkbox">
	<input type="checkbox" class="request-edit-fullday" data-bind="checked: IsFullDay, enable: IsEditable" /> @Resources.FullDay
</label>
<div class="request-edit-error alert alert-danger" data-bind="visible: ShowError, html: ErrorMessage"></div>
<div class="clearfix" data-bind="if: IsEditable">
	<button class="request-edit-update btn btn-primary pull-right" data-bind="click: AddRequest">@Resources.Save</button>
</div>