@using Teleopti.Ccc.UserTexts
@{
    Layout = null;
}

<div class="request-denyreason alert" data-bind="html: DenyReason, visible: DenyReason() != ''" />
    <div>
        <input type="text" class="input-block-level request-edit-subject" placeholder="@Resources.Subject" data-bind="value: Subject, visible: IsEditable" />
    </div>
        <!-- ko if: IsEditable -->
            <textarea class="input-block-level request-edit-message" placeholder="@Resources.Message" data-bind="value: Message" />
        <!-- /ko -->
    <div>
        <label>
            @Resources.AbsenceType
        </label>
        <select class="request-edit-absence" data-bind="value: AbsenceId, enable: IsEditable">
			@foreach (var absenceType in Model.AbsenceTypes)
			{
				<option value="@Html.AttributeEncode(absenceType.Id)">@absenceType.Name</option>
			}
		</select>
    </div>
    <div>
        <span class="input-append">
			<![if (!IE)|(gt IE 8)]>
			<input class="request-edit-datefrom" data-bind="datepicker: DateFrom, datepickerOptions: { autoHide: true, format: DateFormat(), weekStart: weekStart() }, enable: IsEditable" type="text" />
			<![endif]>
			<!--[if lte IE 8]>
			<input class="request-edit-datefrom" data-bind="value: DateFrom().format(DateFormat())" readonly="readonly" type="text" />
			<![endif]-->
            <span class="add-on" data-bind="datepicker: DateFrom, datepickerOptions: { autoHide: true, weekStart: weekStart() }, enable: IsEditable"><i class="icon-th"></i></span>
        </span>
        <div class="request-edit-timefrom input-append bootstrap-timepicker">
            <input type="text" class="input-small" data-bind="timepicker: TimeFrom, timepickerOptions: {showMeridian: ShowMeridian}, enable: IsTimeInputEnabled" />
            <span class="add-on"><i class="icon-time"></i></span>
        </div>
    </div>
    <div>
        <span class="input-append">
			<![if (!IE)|(gt IE 8)]>
			<input class="request-edit-dateto" data-bind="datepicker: DateTo, datepickerOptions: { autoHide: true, format: DateFormat(), weekStart: weekStart() }, enable: IsEditable" type="text" />
			<![endif]>
			<!--[if lte IE 8]>
			<input class="request-edit-dateto" data-bind="value: DateTo().format(DateFormat())" readonly="readonly" type="text" />
			<![endif]-->
            <span class="add-on" data-bind="datepicker: DateTo, datepickerOptions: { autoHide: true, weekStart: weekStart() }"><i class="icon-th"></i></span>
        </span>
        <div class="request-edit-timeto input-append bootstrap-timepicker">
            <input type="text" class="input-small" data-bind="timepicker: TimeTo, timepickerOptions: {showMeridian: ShowMeridian}, enable: IsTimeInputEnabled" />
            <span class="add-on"><i class="icon-time"></i></span>
        </div>
    </div>
    <label class="checkbox">
        <input type="checkbox" class="request-edit-fullday" data-bind="checked: IsFullDay, enable: IsEditable" /> @Resources.FullDay
    </label>
    <div class="request-edit-error alert alert-danger" data-bind="visible: ShowError, html: ErrorMessage" />    
    <div class="clearfix" data-bind="if: IsEditable">
	    <button class="request-edit-update btn btn-primary pull-right" data-bind="click: AddRequest">@Resources.Save</button>
    </div>