@using Teleopti.Ccc.UserTexts
@{
    Layout = null;
}

<div class="form-group">
    <input type="text" class="request-new-subject form-control" placeholder="@Resources.Subject" data-bind="value: Subject" maxlength="80"/>
</div>
<div class="form-group">
    <textarea class="request-new-message form-control" placeholder="@Resources.Message" data-bind="value: Message, valueUpdate: 'afterkeydown', limitCharacters: 2000" />
</div>

<div class="form-group" data-bind="visible: ShowAbsencesCombo">
    <label>
        @Resources.AbsenceType
    </label>
    <div class ="row">
	    <div class="col-md-3">
            <select class="request-new-absence request-abcense input-sm form-control" data-bind="value: AbsenceId">
                @foreach (var absenceType in Model.AbsenceTypes)
                {
                    <option value="@Html.AttributeEncode(absenceType.Id)">@absenceType.Name</option>
                }
            </select>
	    </div>
		<!-- ko if: ShowAbsenceAccount -->
	    <div id="absence-personal-account" class="col-md-4" style="padding-top: 5px; padding-left: 0">
		    <label>
			    @Resources.Remaining:
		    </label>
		    <!-- ko if: AbsenceTrackedAsDay() -->
		    <span class="remainingTime" data-bind="text: AbsenceRemaining() + ' @Resources.Days'"></span>
		    <!-- /ko -->
		    <!-- ko if: AbsenceTrackedAsHour() -->
		    <span class="remainingTime" data-bind="text: AbsenceRemaining()"></span>
		    <!-- /ko -->
		    <span> / </span>
		    <label>
			    @Resources.Used:
		    </label>
		    <!-- ko if: AbsenceTrackedAsDay() -->
		    <span class="usedTime" data-bind="text: AbsenceUsed() + ' @Resources.Days'"></span>
		    <!-- /ko -->
		    <!-- ko if: AbsenceTrackedAsHour() -->
		    <span class="usedTime" data-bind="text: AbsenceUsed()"></span>
		    <!-- /ko -->
	    </div>
		<!-- /ko -->
    </div>
</div>
<div class="row form-group">
    <div class="floatleft request-date">
        <span class="input-group">
            <![if (!IE)|(gt IE 8)]>
            <input class="request-new-datefrom input-sm form-control" data-bind="datepicker: DateFrom, datepickerOptions: { autoHide: true, format: DateFormat(), weekStart: weekStart() }" type="text" />
            <![endif]>
            <!--[if lte IE 8]>
            <input class="request-new-datefrom input-sm form-control" readonly="readonly" data-bind="value: DateFrom().format(DateFormat())" type="text" />
            <![endif]-->
            <span class="input-group-btn">
                <button class="btn btn-default btn-sm" data-bind="datepicker: DateFrom, datepickerOptions: { autoHide: true, format: DateFormat(), weekStart: weekStart() }">
                    <i class="glyphicon glyphicon-calendar"></i>
                </button>
            </span>
        </span>
    </div>
    <div class="floatleft">
        <div class="bootstrap-timepicker request-time">
            <div class="input-group">
                <input type="text" class="request-new-timefrom input-sm form-control" data-bind="timepicker: TimeFrom, timepickerOptions: { showMeridian: ShowMeridian }, enable: IsTimeInputEnabled" />
                <span class="input-group-btn">
                    <button class="btn btn-default btn-sm" data-bind="timepicker: TimeFrom, timepickerOptions: { showMeridian: ShowMeridian }, enable: IsTimeInputEnabled, 'disabled': IsTimeInputEnabled ? null : 'disabled'">
                        <i class="glyphicon glyphicon-time"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="row form-group">
    <div class="floatleft request-date" >
        <span class="input-group ">
            <![if (!IE)|(gt IE 8)]>
            <input class="request-new-dateto input-sm form-control" data-bind="datepicker: DateTo, datepickerOptions: { autoHide: true, format: DateFormat(), weekStart: weekStart() }" type="text" />
            <![endif]>
            <!--[if lte IE 8]>
            <input class="request-new-dateto input-sm form-control" readonly="readonly" data-bind="value: DateTo().format(DateFormat())" type="text" />
            <![endif]-->
            <span class="input-group-btn">
                <button class="btn btn-default btn-sm" data-bind="datepicker: DateTo, datepickerOptions: { autoHide: true, format: DateFormat(), weekStart: weekStart() }">
                    <i class="glyphicon glyphicon-calendar"></i>
                </button>
            </span>
        </span>
    </div>
    <div class="floatleft">
        <div class="bootstrap-timepicker request-time">
            <div class="input-group">
                <input type="text" class="request-new-timeto input-sm form-control" data-bind="timepicker: TimeTo, timepickerOptions: { showMeridian: ShowMeridian }, enable: IsTimeInputEnabled" />
                <span class="input-group-btn">
                    <button class="btn btn-default btn-sm" data-bind="timepicker: TimeTo, timepickerOptions: { showMeridian: ShowMeridian }, enable: IsTimeInputEnabled, 'disabled': IsTimeInputEnabled ? null : 'disabled'">
                        <i class="glyphicon glyphicon-time"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>
</div>
<label class="checkbox">
    <input type="checkbox" class="request-new-fullday" data-bind="checked: IsFullDay" />
    @Resources.FullDay
</label>
<div class="request-new-error alert alert-danger" data-bind="visible: ShowError, html: ErrorMessage" />
<div class="pull-right">
    <button class="request-new-cancel btn" data-bind="click: $parent.CancelAddingNewRequest">@Resources.Cancel</button>
    <button class="request-new-send btn btn-primary" data-bind="click: AddRequest">@Resources.Save</button>
</div>
