@using Teleopti.Ccc.UserTexts
@{
    Layout = null;
}
 
<div>
    <input type="text" class="request-new-subject input-block-level" placeholder="@Resources.Subject" data-bind="value: Subject" maxlength="80"/>
</div>
<div>
    <textarea class="request-new-message input-block-level" placeholder="@Resources.Message" data-bind="value: Message, valueUpdate: 'afterkeydown', limitCharacters: 2000" />
</div>
<div data-bind="visible: ShowAbsencesCombo">
    <label>
        @Resources.AbsenceType
    </label>
    <select class="request-new-absence" data-bind="value: AbsenceId">
		@foreach (var absenceType in Model.AbsenceTypes)
		{
			<option value="@Html.AttributeEncode(absenceType.Id)">@absenceType.Name</option>
		}
    </select>
</div>
<div>
	<span class="input-append">
		<![if (!IE)|(gt IE 8)]>
		<input class="request-new-datefrom" data-bind="datepicker: DateFrom, datepickerOptions: { autoHide: true, format: DateFormat(), weekStart: weekStart() }" type="text" />
		<![endif]>
		<!--[if lte IE 8]>
		<input class="request-new-datefrom" readonly="readonly" data-bind="value: DateFrom().format(DateFormat())" type="text" />
		<![endif]-->
		<span class="btn-group">
			<button class="btn" data-bind="datepicker: DateFrom, datepickerOptions: { autoHide: true, format: DateFormat(), weekStart: weekStart() }">
				<i class="icon-th"></i>
			</button>
		</span>
	</span>
	<div class="input-append bootstrap-timepicker">
        <input type="text" class="request-new-timefrom input-small" data-bind="timepicker: TimeFrom, timepickerOptions: {showMeridian: ShowMeridian}, enable: IsTimeInputEnabled" />
		<span class="btn-group">
			<button class="btn" data-bind="timepicker: TimeFrom, timepickerOptions: { showMeridian: ShowMeridian }, enable: IsTimeInputEnabled, 'disabled': IsTimeInputEnabled ? null : 'disabled'">
				<i class="icon-time"></i>
			</button>
		</span>
    </div>
</div>
<div>
    <span class="input-append">
		<![if (!IE)|(gt IE 8)]>
		<input class="request-new-dateto" data-bind="datepicker: DateTo, datepickerOptions: { autoHide: true, format: DateFormat(), weekStart: weekStart() }" type="text" />
		<![endif]>
		<!--[if lte IE 8]>
		<input class="request-new-dateto" readonly="readonly" data-bind="value: DateTo().format(DateFormat())" type="text" />
		<![endif]-->
		<span class="btn-group">
			<button class="btn" data-bind="datepicker: DateTo, datepickerOptions: { autoHide: true, format: DateFormat(), weekStart: weekStart() }">
				<i class="icon-th"></i>
			</button>
		</span>
    </span>
    <div class="input-append bootstrap-timepicker">
        <input type="text" class="request-new-timeto input-small" data-bind="timepicker: TimeTo, timepickerOptions: {showMeridian: ShowMeridian}, enable: IsTimeInputEnabled" />
        <span class="btn-group">
			<button class="btn" data-bind="timepicker: TimeTo, timepickerOptions: { showMeridian: ShowMeridian }, enable: IsTimeInputEnabled", 'disabled': IsTimeInputEnabled ? null : 'disabled'">
				<i class="icon-time"></i>
			</button>
		</span>
    </div>
</div>
<label class="checkbox">
    <input type="checkbox" class="request-new-fullday" data-bind="checked: IsFullDay" /> @Resources.FullDay
</label>
<div class="request-new-error alert alert-danger" data-bind="visible: ShowError, html: ErrorMessage" />    
<div class="pull-right">
    <button class="request-new-cancel btn" data-bind="click: $parent.CancelAddingNewRequest">@Resources.Cancel</button>
	<button class="request-new-send btn btn-primary" data-bind="click: AddRequest">@Resources.Save</button>
</div>
