@using Teleopti.Ccc.UserTexts

<div class="row shift-trade-filter-container" data-bind="if: !missingWorkflowControlSet() && isReadyLoaded(),visible: !isDetailVisible()">
	<div class="col-sm-6 col-md-6 col-lg-3">
		<div>
			<div class="input-group schedule-filter-component">
				<span class="input-group-btn">
					<button class="previous-date btn" aria-label="@Resources.PreviousDay" data-bind="click: previousDate, enable: previousDateEnable">
						<i class="glyphicon glyphicon-chevron-left"></i>
					</button>
				</span>

				<input type="text" class="col-lg-2 form-control add-shifttrade-datepicker text-center date-input-style" data-bind="datepicker: requestedDate, datepickerOptions: { format: DatePickerFormat(), startDate: openPeriodStartDate(), endDate: openPeriodEndDate(), weekStart: weekStart() }, enable: !IsLoading()" />

				<span class="input-group-btn">
					<button class="btn" aria-label="@Resources.SelectDate" aria-haspopup="true" data-bind="datepicker: requestedDate, datepickerOptions: { startDate: openPeriodStartDate(), endDate: openPeriodEndDate(), weekStart: weekStart() }, enable: !IsLoading()">
						<i class="glyphicon glyphicon-calendar"></i>
					</button>
					<button class="next-date btn" aria-label="@Resources.NextDay" data-bind="click: nextDate, enable: nextDateEnable">
						<i class="glyphicon glyphicon-chevron-right"></i>
					</button>
				</span>
			</div>
		</div>
	</div>

	<div class="col-sm-3 col-md-3 col-lg-2" data-bind="if: !noAnySiteToShow()">
		<div class="schedule-filter-component">
			<select id="Site-Picker" data-bind="foreach: availableSites, select2: { value: selectedSite } ">
				<option data-bind="text: text, value: id"></option>
			</select>
		</div>
	</div>

	<div class="col-sm-3 col-md-3 col-lg-2" data-bind="if: !noAnyTeamToShow()">
		<div class="schedule-filter-component">
			<select id="Team-Picker" data-bind="foreach: availableTeams, select2: { value: selectedTeam } ">
				<option data-bind="text: text, value: id"></option>
			</select>
		</div>
	</div>

	<div class="col-sm-7 col-md-6 col-lg-3">
		<div class="row">
			<div class="col-xs-6" data-bind="visible: !isDetailVisible()">
				<div class="dropdown filter-time-dropdown-button schedule-filter-component" data-bind="click: filterStartEndTimeClick, css:{'filteractived':isStartTimeFilterActived()}">
					<a class="dropdown-toggle btn" data-toggle="dropdown" href="#" style="color: black">
						@Resources.StartTime
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu filter-time-dropdown-form" role="menu">
						<li>
							<div class="input-group start-time-sort-order">
								<div class="btn-group" role="group">
									<!-- ko foreach: displaySortOrderTemplateList -->
									<!-- ko if: IsStart -->
									<span data-bind="attr:{class: Description},css:{'sortingbuttonselected': $parent.isSortingTimeActive( $data)}, click : $parent.updateTimeSortOrder, value: Value"></span>
									<!-- /ko -->
									<!-- /ko -->
								</div>
							</div>
						</li>
						<!-- ko foreach: filterStartTimeList -->
						<li>
							<label class="checkbox filter-time-text">
								<input type="checkbox" data-bind="checked: isChecked">
								<span data-bind="text: text"></span>
							</label>
						</li>
						<!--/ko-->
					</ul>
				</div>
			</div>
			<div class="col-xs-6" data-bind="visible: !isDetailVisible()">
				<div class="dropdown filter-time-dropdown-button schedule-filter-component" data-bind="click: filterStartEndTimeClick , css:{'filteractived':isEndTimeFilterActived()}">
					<a class="dropdown-toggle btn" data-toggle="dropdown" href="#" style="color: black">
						@Resources.EndTime
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu filter-time-dropdown-form" role="menu">
						<li>
							<div class="input-group end-time-sort-order">
								<div class="btn-group" role="group">
									<!-- ko foreach: displaySortOrderTemplateList -->
									<!-- ko if: !IsStart -->
									<span data-bind="attr:{class: Description},css:{'sortingbuttonselected': $parent.isSortingTimeActive( $data)}, click : $parent.updateTimeSortOrder, value: Value"></span>
									<!-- /ko -->
									<!-- /ko -->
								</div>
							</div>
						</li>
						<!-- ko foreach: filterEndTimeList -->
						<li>
							<label class="checkbox filter-time-text">
								<input type="checkbox" data-bind="checked: isChecked">
								<span data-bind="text: text"></span>
							</label>
						</li>
						<!--/ko-->
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="col-sm-5 col-md-6 col-lg-2">
		<div class="input-group name-search schedule-filter-component">
			<input type="search" class="form-control" placeholder='@Resources.SearchHintForName' data-bind="value: searchNameText, disable: IsLoading, event: { change: changeInSearchBox} " />
			<span class="input-group-addon input-group-addon-narrow">
				<!-- ko if: IsLoading -->
				<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
				<!-- /ko -->
				<!-- ko ifnot: IsLoading -->
				<span class="glyphicon  glyphicon-search clickable" data-bind="click: changeInSearchBox"></span>
				<!-- /ko -->
			</span>
		</div>
	</div>
</div>

<div class="shift-trade-schedule-container" data-bind="visible: isReadyLoaded() && !isDetailVisible(), fadeInIf: !IsLoading() , fadeInDuration: 150, fadeOutDuration: 50">
	<div class="shift-trade-missing-team-message alert alert-warning" data-bind="visible: noAnyTeamToShow">
		@Resources.YouDoNotHaveAccessToAnyTeams
	</div>
	<div class="shift-trade-add-schedule" data-bind="visible: !noAnyTeamToShow() && !missingWorkflowControlSet()">
		<div class="shift-trade-timeline">
			<div class="relative">
				<div data-bind="foreach: hours">
					<div class="shift-trade-ruler absolute" data-bind="style: rulerStyleJson, visible: showHourLine"></div>
					<div class="shift-trade-label label label-info absolute" data-bind="style: labelStyleJson, text: hourText, visible: isVisible"></div>
				</div>
			</div>
		</div>
		<table class="responsive">
			<thead>
				<tr>
					<td>&nbsp;</td>
					<td></td>
					<td class="hidden-xs hidden-sm">
						<strong>@Resources.ContractTime</strong>
					</td>
					<td></td>
				</tr>
				<tr class="shift-trade-my-schedule-row">
					<td class="shift-trade-agent-name">
						<div data-bind="style: {'font-weight': 'bold'}">@Resources.MySchedule</div>
						<div class="hidden-md hidden-lg shift-trade-contract-time-mobile" data-bind="text: mySchedule().contractTime"></div>
					</td>
					<td class="shift-trade-my-schedule">
						<!--ko if:mySchedule().isFullDayAbsence-->
						<div data-bind="foreach: mySchedule().layers">
							<!--ko if:!$parent.mySchedule().isDayOff-->
							<div class="shift-trade-layer-container floatleft">
								<div class="shift-trade-layer add" data-bind="style: styleJson, tooltip: { title: tooltipText, html: true }, attr: { 'scheduleinfo': tooltipText }"></div>
							</div>
							<!--/ko-->
							<!--ko if:$parent.mySchedule().isDayOff-->
							<div class="shift-trade-layer-container floatleft shift-trade-dayoff">
								<div class="dayoff" data-bind="style:{'background-color':backgroundColor},tooltip: { title: tooltipText, html: true}, text:$parent.mySchedule().dayOffName || titleHeader"></div>
							</div>
							<!--/ko-->
						</div>
						<!--/ko-->
						<!--ko if:!mySchedule().isFullDayAbsence-->
						<div data-bind="foreach: mySchedule().layers">
							<div class="shift-trade-layer-container floatleft">
								<div class="shift-trade-layer add" data-bind="style: styleJson, tooltip: { title: tooltipText, html: true }, attr: { 'scheduleinfo': tooltipText }"></div>
							</div>
						</div>
						<!--ko if:mySchedule().isDayOff -->
						<div class="shift-trade-layer-container floatleft shift-trade-dayoff">
							<div class="dayoff" data-bind="text: mySchedule().dayOffName"></div>
						</div>
						<!--/ko-->
						<!--/ko-->
					</td>
					<td class="hidden-xs hidden-sm shift-trade-contract-time">
						<div data-bind="text: mySchedule().contractTime"></div>
					</td>
					<td class="shift-trade-button-cell"></td>
				</tr>
			</thead>
			<tbody data-bind="foreach: possibleTradeSchedules">
				<tr class="shift-trade-person-schedule-row agent" data-bind="click: $parent.chooseAgent, hoverToggle: 'hoverBorder', hoverIf: !$parent.isDetailVisible()">
					<td class="shift-trade-agent-name">
						<div data-bind="style: {'font-weight': 'bold'}, text: $data.agentName, tooltip: { title: $data.agentName, html: true}">@Resources.MySchedule</div>
						<div class="hidden-md hidden-lg shift-trade-contract-time-mobile" data-bind="text: contractTime"></div>
					</td>
					<td class="shift-trade-possible-trade-schedule">
						<div data-bind="foreach: $data.layers">
							<!--ko if:!$parent.isDayOff-->
							<div class="shift-trade-layer-container floatleft">
								<div class="shift-trade-layer add" data-bind="style: styleJson, tooltip: { title: tooltipText, html: true }, attr: { 'scheduleinfo': tooltipText }"></div>
							</div>
							<!--/ko-->
							<!--ko if:$parent.isDayOff-->
							<div class="shift-trade-layer-container floatleft shift-trade-dayoff">
								<div class="dayoff" data-bind="text: $parent.dayOffName || titleHeader"></div>
								<div class="shift-trade-layer add" data-bind="visible:!$parent.isFullDayAbsence, style: styleJson, tooltip: { title: tooltipText, html: true }, attr: { 'scheduleinfo': tooltipText }"></div>
							</div>
							<!--/ko-->
						</div>
						<!--ko if:isDayOff && $data.layers.length == 0 -->
						<div class="shift-trade-layer-container floatleft shift-trade-dayoff">
							<div class="dayoff" data-bind="text: dayOffName"></div>
						</div>
						<!--/ko-->
					</td>

					<td class="hidden-xs hidden-sm shift-trade-contract-time">
						<div data-bind="text: contractTime"></div>
					</td>

					<td class="shift-trade-button-cell">
					</td>
				</tr>
			</tbody>
		</table>
		<div class="pull-right" data-bind="visible: !isDetailVisible() && isPageVisible()">
			<ul class="pagination pagination-sm">
				<li><a data-bind="click: goToFirstPage,css:{'disabled':selectedPageIndex()===1,'hidden':selectablePages().length===0}"><i
						 class="glyphicon glyphicon-fast-backward"></i></a></li>
				<li>
					<a data-bind="click: goPreviousPages, visible: isPreviousMore()">...</a>
				</li>
				<!-- ko foreach: selectablePages() -->
				<li data-bind="css: {'active': $parent.isSelected($data)}">
					<a data-bind="text: $data.index(), click: $parent.selectPage"></a>
				</li>
				<!-- /ko -->
				<li>
					<a data-bind="click: goNextPages, visible: isMore()">...</a>
				</li>
				<li>
					<a data-bind="click: goToLastPage,css:{'disabled':pageCount()===selectedPageIndex(),'hidden':selectablePages().length===0}"><i
						 class="glyphicon glyphicon-fast-forward"></i></a>
				</li>
			</ul>
		</div>
		<div class="tooltipContainer"></div>
	</div>
</div>

<div class="shift-trade-request-container" data-bind="visible: isDetailVisible, css: {'shift-trade-request-container-mobile': isMobile || isiPad}">
	<div class="navbar teleopti-toolbar subnavbar" data-bind="visible: isMobile && isReadyLoaded() && isDetailVisible()">
		<div class="container multi-shift-trade-toolbar-icon">
			<a class="pull-left" data-bind="click: previousPage">
				<i class="glyphicon glyphicon-chevron-left"></i>
			</a>
			<a class="pull-right multi-shift-trade-selected-schedules-icon" data-bind="visible: !showCartPanel(), click: cartMenuClick">
				<i class="glyphicon glyphicon-shopping-cart"></i>
				<span class="badge" data-bind="text: selectedCount"></span>
			</a>
		</div>
	</div>

	<div class="multi-shift-trade-error-message" data-bind="css:{'multi-shift-trade-error-message-toggled': showToloranceMessage()}">
		<div class="alert-warning cursorpointer" data-bind="click: toloranceMessageClicked">
			<i class="glyphicon glyphicon-warning-sign"></i>
			<span class="multi-shift-trade-error-message-text">@Resources.ContractTimeViolation</span>
			<span class="pull-right">
				<i class="glyphicon glyphicon-chevron-down" data-bind="visible: !showToloranceMessageDetail()"></i>
				<i class="glyphicon glyphicon-chevron-up" data-bind="visible: showToloranceMessageDetail"></i>
			</span>
		</div>

		<div class="multi-shift-trade-error-detail" data-bind="css:{'multi-shift-trade-error-detail-toggled': showToloranceMessageDetail}">
			<p>@Resources.ContractTimeViolationMessageInShiftTradeRequest</p>
			<div>
				<p class="multi-shift-trade-error-detail-name">&nbsp;</p>
				<p class="multi-shift-trade-error-detail-time">
					<span>
						<span>@Resources.Period</span>
						<span>@Resources.Deviation</span>
					</span>
				</p>
			</div>
			<!-- ko if: myToleranceMessages().length > 0-->
			<div>
				<p class="multi-shift-trade-error-detail-name">@Resources.MySchedule</p>
				<p class="multi-shift-trade-error-detail-time">
					<!--ko foreach: myToleranceMessages-->
					<span>
						<span class="multi-shift-trade-error-time">
							[
							<span data-bind="text: $root.formatDate(periodStart)">
							</span>
							-
							<span data-bind="text: $root.formatDate(periodEnd)"></span>
							]
						</span>
						<span class="multi-shift-trade-error-deviation" data-bind="text: contractTimeGap"></span>
					</span>
					<!--/ko-->
				</p>
			</div>
			<!--/ko-->
			<!-- ko if: targetToleranceMessages().length > 0-->
			<div>
				<p class="multi-shift-trade-error-detail-name" data-bind="text: agentChoosed() ? agentChoosed().agentName : ''"></p>
				<p class="multi-shift-trade-error-detail-time">
					<!--ko foreach: targetToleranceMessages-->
					<span>
						<span class="multi-shift-trade-error-time">
							[
							<span data-bind="text: $root.formatDate(periodStart)"></span>
							-
							<span data-bind="text: $root.formatDate(periodEnd)"></span>
							]
						</span>
						<span class="multi-shift-trade-error-deviation" data-bind="text: contractTimeGap"></span>
					</span>
					<!--/ko-->
				</p>
			</div>
			<!--/ko-->
		</div>
	</div>

	<div class="multi-shift-trade-panel">
		<!-- ko if: isiPad || isDesktop || (isMobile && !showCartPanel()) -->
		<div class="multi-shift-trade-schedules-list relative">
			<div class="multi-shift-trade-schedules-list-header">
				<div class="multi-shift-trade-date-cell"></div>
				<div class="multi-shift-trade-shift-detail my-schedule-detail text-center">
					<span>@Resources.MySchedule</span>
				</div>
				<div class="multi-shift-trade-shift-detail target-schedule-detail text-center">
					<span data-bind="text:agentChoosed() ? agentChoosed().agentName : ''"></span>
				</div>
				<div class="multi-shift-trade-selection"></div>
			</div>

			<div class="multi-shift-trade-schedules-list-panel" data-bind="event:{scroll: scrolled}, css:{'cursorpointer': isMobile || isiPad}">
				<div class="loading-gradient" data-bind="if: isLoadingSchedulesOnTop">
					<div class="loading"></div>
				</div>
				<!--ko foreach: loadedSchedulePairs-->
				<div class="multi-shift-trade-row" data-bind="attr: {id: 'shift-row-' + date.valueOf()}, css:{'multi-shift-trade-row-disabled':!isEnable, 'multi-shift-trade-row-mobile': $root.isMobile, 'multi-shift-trade-first-row': $index()==0}">
					<div class="multi-shift-trade-date-cell" data-bind="text:$root.formatDate(date)"></div>
					<div class="multi-shift-trade-shift-detail my-schedule-detail">
						<!--ko if: !mySchedule-->
						<div class="multi-shift-trade-row-text-container">
							<p>
								<span>@Resources.NotScheduled</span>
							</p>
						</div>
						<!--/ko-->

						<!--ko if: mySchedule-->
						<div data-bind="style:{'background-color':mySchedule && mySchedule.categoryColor && $root.isMobile ? mySchedule.categoryColor: 'none', 'color':mySchedule && mySchedule.categoryColor && $root.isMobile ? $root.getTextColor(mySchedule.categoryColor) : 'none'}">
							<!--ko if: !mySchedule.isDayOff && !mySchedule.isFullDayAbsence-->
							<div class="multi-shift-trade-row-text-container">
								<p>
									<span data-bind="text:mySchedule.categoryName + $root.getOvertimeAndIntradayAbsenceText(mySchedule, '@Resources.OvertimeShortName'),tooltip: {title: mySchedule.categoryName + $root.getOvertimeAndIntradayAbsenceText(mySchedule, '@Resources.OvertimeShortName'), placement: $index()==0 ? 'bottom' : 'top'}"></span>
								</p>
								<div class="multi-shift-trade-start-end-time">
									<span data-bind="text:mySchedule.scheduleStart + $root.getOvernightFlag(mySchedule.scheduleStartTime(), date)"></span>
									<span class="spliter">-</span>
									<span data-bind="text:mySchedule.scheduleEnd + $root.getOvernightFlag(mySchedule.scheduleEndTime(), date)"></span>
								</div>
								<div class="shift-trade-contract-time">
									<span data-bind="text:mySchedule.contractTime"></span>
								</div>
							</div>

							<!-- ko if: $root.isDesktop || $root.isiPad-->
							<div class="multi-shift-trade-schedule-container">
								<div class="multi-shift-trade-layer-container">
									<!-- ko foreach: mySchedule.layers -->
									<div class="multi-shift-trade-visual-layer cursorpointer" data-bind="style: styleJson74947, tooltip: { title: tooltipText, html: true }"></div>
									<!--/ko-->
								</div>
							</div>
							<!--/ko-->
							<!--/ko-->

							<!--ko if: mySchedule.isDayOff && !mySchedule.isFullDayAbsence-->
							<div class="multi-shift-trade-row-text-container" data-bind="css: {'dayoff': $root.isMobile}">
								<p>
									<span data-bind="text: mySchedule.dayOffName + $root.getOvertimeAndIntradayAbsenceText(mySchedule, '@Resources.OvertimeShortName'), tooltip: {title: mySchedule.dayOffName + $root.getOvertimeAndIntradayAbsenceText(mySchedule, '@Resources.OvertimeShortName'), placement: $index()==0 ? 'bottom' : 'top'}"></span>
								</p>
							</div>

							<!-- ko if: $root.isDesktop || $root.isiPad-->
							<div class="multi-shift-trade-schedule-container">
								<div class="multi-shift-trade-layer-container" data-bind="visible: !$root.isMobile">
									<div class="multi-shift-trade-visual-layer dayoff cursorpointer" data-bind="tooltip: { title: mySchedule.dayOffName, html: true }"></div>
								</div>
							</div>
							<!--/ko-->
							<!--/ko-->

							<!--ko if: mySchedule.isFullDayAbsence-->
							<div class="multi-shift-trade-row-text-container">
								<p>
									<span data-bind="text: mySchedule.categoryName, tooltip: {title: mySchedule.categoryName}"></span>
								</p>
							</div>
							<div data-bind="visible: !$root.isMobile" class="multi-shift-trade-schedule-container">
								<div class="multi-shift-trade-layer-container">
									<!-- ko foreach: mySchedule.layers -->
									<div class="multi-shift-trade-visual-layer" data-bind="style: styleJson74947, tooltip: { title: tooltipText, html: true }"></div>
									<!-- /ko -->
								</div>
							</div>
							<!--/ko-->
						</div>
						<!--/ko-->
					</div>

					<div class="multi-shift-trade-shift-detail target-schedule-detail">
						<!--ko if: !targetSchedule-->
						<div class="multi-shift-trade-row-text-container">
							<p>
								<span>@Resources.NotScheduled</span>
							</p>
						</div>
						<!--/ko-->

						<!--ko if: targetSchedule-->
						<div data-bind="style:{'background-color':targetSchedule && targetSchedule.categoryColor && $root.isMobile ? targetSchedule.categoryColor: 'none', 'color':targetSchedule && targetSchedule.categoryColor && $root.isMobile ? $root.getTextColor(targetSchedule.categoryColor) : 'none'}">
							<!--ko if: !targetSchedule.isDayOff && !targetSchedule.isFullDayAbsence-->
							<div class="multi-shift-trade-row-text-container">
								<p>
									<span data-bind="text:targetSchedule.categoryName + $root.getOvertimeAndIntradayAbsenceText(targetSchedule, '@Resources.OvertimeShortName'), tooltip: {title : targetSchedule.categoryName + $root.getOvertimeAndIntradayAbsenceText(targetSchedule, '@Resources.OvertimeShortName'), placement: $index()==0 ? 'bottom' : 'top'}"></span>
								</p>
								<div class="multi-shift-trade-start-end-time">
									<span data-bind="text:targetSchedule.scheduleStart + $root.getOvernightFlag(targetSchedule.scheduleStartTime(), date)"></span>
									<span class="spliter">-</span>
									<span data-bind="text:targetSchedule.scheduleEnd + $root.getOvernightFlag(targetSchedule.scheduleEndTime(), date)"></span>
								</div>
								<div class="shift-trade-contract-time">
									<span data-bind="text:targetSchedule.contractTime"></span>
								</div>
							</div>

							<!-- ko if: $root.isDesktop || $root.isiPad-->
							<div class="multi-shift-trade-schedule-container">
								<div class="multi-shift-trade-layer-container">
									<!-- ko foreach: targetSchedule.layers -->
									<div class="multi-shift-trade-visual-layer cursorpointer" data-bind="style: styleJson74947, tooltip: { title: tooltipText, html: true }"></div>
									<!--/ko-->
								</div>
							</div>
							<!--/ko-->
							<!--/ko-->

							<!--ko if: targetSchedule.isDayOff && !targetSchedule.isFullDayAbsence-->
							<div class="multi-shift-trade-row-text-container" data-bind="css: {'dayoff': $root.isMobile}">
								<p>
									<span data-bind="text: targetSchedule.dayOffName + $root.getOvertimeAndIntradayAbsenceText(targetSchedule, '@Resources.OvertimeShortName'), tooltip: {title: targetSchedule.dayOffName + $root.getOvertimeAndIntradayAbsenceText(targetSchedule, '@Resources.OvertimeShortName'), placement: $index()==0 ? 'bottom' : 'top'}"></span>
								</p>
							</div>

							<!-- ko if: $root.isDesktop || $root.isiPad-->
							<div class="multi-shift-trade-schedule-container">
								<div class="multi-shift-trade-layer-container" data-bind="visible: !$root.isMobile">
									<div class="multi-shift-trade-visual-layer dayoff cursorpointer" data-bind="tooltip: { title: targetSchedule.dayOffName, html: true }"></div>
								</div>
							</div>
							<!--/ko-->
							<!--/ko-->

							<!--ko if: targetSchedule.isFullDayAbsence-->
							<div class="multi-shift-trade-row-text-container">
								<p>
									<span data-bind="text: targetSchedule.categoryName, tooltip: {title: targetSchedule.categoryName}"></span>
								</p>
							</div>
							<div data-bind="visible: !$root.isMobile" class="multi-shift-trade-schedule-container">
								<div class="multi-shift-trade-layer-container">
									<!-- ko foreach: targetSchedule.layers -->
									<div class="multi-shift-trade-visual-layer" data-bind="style: styleJson74947, tooltip: { title: tooltipText, html: true }"></div>
									<!-- /ko -->
								</div>
							</div>
							<!--/ko-->
						</div>
						<!--/ko-->
					</div>

					<div class="multi-shift-trade-selection relative">
						<span class="shift-trade-select-checkbox" data-bind="css: {'shift-trade-select-checkbox-disabled': !isEnable}, tooltip:{title:reason, placement: 'left'}">
							<input type="checkbox" data-bind="attr: {'id': 'shift-trade-' + $index()}, enable: isEnable, checked: isSelected, click:$root.select" />
							<label class="cursorpointer" data-bind="attr: {'for': 'shift-trade-' + $index()}"></label>
							<i class="glyphicon glyphicon-ban-circle cursorpointer"></i>
						</span>
					</div>
				</div>
				<!--/ko-->
				<div class="loading-gradient" data-bind="if: isLoadingSchedulesOnBottom">
					<div class="loading"></div>
				</div>
			</div>
		</div>
		<!-- /ko -->

		<!-- ko if: showCartPanel -->
		<div class="multi-shift-trade-cart" data-bind="css: {'multi-shift-trade-cart-mobile': isMobile}">
			<div class="multi-shift-trade-cart-wrapper">
				<div class="multi-shift-trade-cart-container">
					<!--ko foreach: selectedSchedulePairs-->
					<div class="multi-shift-trade-cart-row">
						<div class="multi-shift-trade-cart-detail">
							<div class="multi-shift-trade-cart-date" data-bind="text:$root.formatDate(date)"></div>
							<div class="multi-shift-trade-cart-detail-info">
								<div class="multi-shift-trade-cart-schedule">
									<!--ko if:!mySchedule-->
									<span class="multi-shift-trade-cart-schedule-category">@Resources.NotScheduled</span>
									<!--/ko-->
									<!--ko if:mySchedule && mySchedule.isDayOff-->
									<div class="multi-shift-trade-cart-schedule-category dayoff" data-bind="tooltip: { title: mySchedule.dayOffName}">
										<span data-bind="text:mySchedule.dayOffName"></span>
									</div>
									<!--/ko-->
									<!--ko if:mySchedule && !mySchedule.isDayOff-->
									<div class="multi-shift-trade-cart-schedule-category" data-bind="style:{'background-color': mySchedule.categoryColor ? mySchedule.categoryColor: 'none', 'color': mySchedule.categoryColor ? $root.getTextColor(mySchedule.categoryColor) : 'none'}, tooltip: { title: mySchedule.categoryName}">
										<span data-bind="text:mySchedule.categoryName"></span>
									</div>
									<span class="multi-shift-trade-cart-text" data-bind="text:mySchedule.scheduleStart + $root.getOvernightFlag(mySchedule.scheduleStartTime(), date) + '-' + mySchedule.scheduleEnd + $root.getOvernightFlag(mySchedule.scheduleEndTime(), date)"></span>
									<span data-bind="text:mySchedule.contractTime"></span>
									<!--/ko-->
								</div>

								<div class="multi-shift-trade-cart-schedule">
									<!--ko if:!targetSchedule-->
									<span class="multi-shift-trade-cart-schedule-category">@Resources.NotScheduled</span>
									<!--/ko-->
									<!--ko if:targetSchedule && targetSchedule.isDayOff-->
									<div class="multi-shift-trade-cart-schedule-category dayoff" data-bind="tooltip: { title: targetSchedule.dayOffName}">
										<span data-bind="text:targetSchedule.dayOffName"></span>
									</div>
									<!--/ko-->
									<!--ko if:targetSchedule && !targetSchedule.isDayOff-->
									<div class="multi-shift-trade-cart-schedule-category" data-bind="style:{'background-color': targetSchedule.categoryColor ? targetSchedule.categoryColor: 'none', 'color': targetSchedule.categoryColor ? $root.getTextColor(targetSchedule.categoryColor) : 'none'}, tooltip: { title: targetSchedule.categoryName}">
										<span data-bind="text:targetSchedule.categoryName"></span>
									</div>
									<span class="multi-shift-trade-cart-text" data-bind="text:targetSchedule.scheduleStart + $root.getOvernightFlag(targetSchedule.scheduleStartTime(), date) + '-' + targetSchedule.scheduleEnd + $root.getOvernightFlag(targetSchedule.scheduleEndTime(), date)"></span>
									<span data-bind="text:targetSchedule.contractTime"></span>
									<!--/ko-->
								</div>
							</div>
						</div>
						<div class="multi-shift-trade-cart-selection">
							<button data-bind="click:$root.removeSelect" type="button" class="btn-remove">
								<i class="glyphicon glyphicon-remove"></i>
							</button>
						</div>
					</div>
					<!--/ko-->
				</div>
				<div class="add-shift-trade-request-block">
					<div class="form-group">
						<input class="request-add-shift-trade-subject-input form-control input-block-level" type="text" data-bind="value: subject"
						 placeholder="@Resources.Subject" maxlength="80" />
					</div>
					<div class="form-group">
						<textarea class="request-add-shift-trade-message-input" class="form-control input-block-level" data-bind="value: message, valueUpdate: 'afterkeydown', event:{change : checkMessageLength}"
						 rows="4" placeholder="@Resources.Message"></textarea>
					</div>
					<div class="pull-right">
						<button class="btn cart-cancel-button" data-bind="click: cancelRequest">@Resources.Cancel</button>
						<button class="btn btn-primary send-button" data-bind="enable: isSendEnabled, click: sendRequest">@Resources.Send</button>
					</div>
					<div class="error" data-bind="html: errorMessage"></div>
				</div>
			</div>
		</div>
		<!-- /ko -->
	</div>
</div>

<div class="shift-trade-no-possible-trades alert alert-info" data-bind="visible: noPossibleShiftTrades()">
	@Resources.NoAgentsAvailableForShiftTrade
</div>