@using Teleopti.Ccc.UserTexts
<div id="Request-add-shift-trade" class="request-shift-trade-add-section displaynone ui-corner-all">
	<span id="Request-add-loaded-date" class="displaynone" data-bind="text: loadedDateSwedishFormat"></span>
	<div id="Request-add-shift-trade-missing-wcs-message" class="friendly-message ui-corner-all" data-bind="visible : missingWorkflowControlSet">
		@Resources.MissingWorkflowControlSet
	</div>
	<div data-bind="visible : !missingWorkflowControlSet()">
		<button class="shift-trade-add-previous-date" data-bind="click : previousDate"></button>
		<input class="shift-trade-add-datepicker ui-corner-all" type="text" data-bind="datepicker: requestedDate" />
		<button class="shift-trade-add-next-date" data-bind="click : nextDate"></button>
	</div>
	<div class="shift-trade-add-schedule ui-corner-bottom">
		<div class="shift-trade-timeline" data-bind="foreach: hours">
			<span class="shift-trade-timeline-line" data-bind="style: { width : hourWidth }">
				<span class="shift-trade-timeline-number ui-corner-all" data-bind="text: hourText, style: {left: leftPx}"></span>
			</span>
		</div>
		<div class="shift-trade-my-schedule-row">
			<span style="width: 150px; float: left" data-bind="text: mySchedule().agentName"></span>
			<div class="shift-trade-my-schedule" data-bind="foreach: mySchedule().layers">
				<span class="shift-trade-layer ui-corner-all" data-bind="style: { left : leftPx, backgroundColor : backgroundColor, paddingLeft : paddingLeft}, attr: {'title' : title}, css:{ striped : $parent.mySchedule().showDayOffStyle(), dayoff : $parent.mySchedule().showDayOffStyle() }">
					<span class="shift-trade-dayoff-name" data-bind="text: $parent.mySchedule().dayOffText"></span>
				</span>
			</div>
		</div>
		<div data-bind="foreach: possibleTradeSchedules">
			<div class="shift-trade-person-schedule-row agent" data-bind="visible: isVisible, click: $parent.chooseAgent, hoverToggle: 'hoverBorder', hoverIf: !$parent.agentChoosed()">
				<span class="shift-trade-agent-name" data-bind="text: agentName"></span>
				<div class="shift-trade-possible-trade-schedule" data-bind="foreach: $data.layers">
					<span class="shift-trade-layer ui-corner-all" data-bind="style: { left : leftPx, backgroundColor : backgroundColor, paddingLeft : paddingLeft}, attr: {'title' : title}, css:{ striped : $parent.showDayOffStyle(), dayoff : $parent.showDayOffStyle() }">
						<span class="shift-trade-dayoff-name" data-bind="text: $parent.dayOffText"></span>
					</span>					
				</div>
			</div>
		</div>
	</div>
	<div id="Request-add-shift-trade-detail-section" data-bind="visible: isDetailVisible" class="request-shift-trade-add-section mt10 ui-corner-all" style="width: 400px;">
		<div class="edit-module-element">
			<label class="displayblock" for="Request-add-shift-trade-subject-input">@Resources.Subject</label>
			<input id="Request-add-shift-trade-subject-input" type="text" class="request-subject-input" />
		</div>
		<div class="edit-module-element">
			<label class="displayblock" for="Request-add-shift-trade-message-input">@Resources.Message</label>
			<textarea id="Request-add-shift-trade-message-input" class="request-message-input" />
		</div>
		<div class="edit-module-element clearleftfloat">
			<button class="send-button floatright">@Resources.Send</button>
		</div>
		<div class="clearleftfloat">&nbsp;</div>
	</div>
	<div id="Request-add-shift-trade-no-possible-trades" class="shift-trade-no-possible-trades" data-bind="visible : noPossibleShiftTrades()">
		@Resources.NoAgentsAvailableForShiftTrade
	</div>
</div>