@using Teleopti.Ccc.UserTexts

<input id="Request-all-permitted-teams" type="hidden" value="@Resources.AllPermittedTeamsToMakeShiftTradeWith" />
<input id="Request-all-permitted-sites" type="hidden" value="@Resources.AllPermittedSitesToMakeShiftTradeWith" />

<div id="Request-add-shift-trade" class="well well-sm displaynone fixed-non-responsive">
	<span class="ready-loading-flag displaynone" data-bind="css: { 'is-ready-loaded': isReadyLoaded }"></span>
	<div class="shift-trade-missing-wcs-message alert alert-warning" data-bind="visible: missingWorkflowControlSet">
		@Resources.MissingWorkflowControlSet
	</div>

	<div id="loadingRequestIndicator" class="loading-gradient" data-bind="if: !isReadyLoaded()">
		<div class="loading"></div>
	</div>

	<div class="row" data-bind="if: !missingWorkflowControlSet() && isReadyLoaded()">
		<div class="col-sm-6 col-md-6 col-lg-3">
			<div>
				<div class="input-group schedule-filter-component">
					<span class="input-group-btn">
						<button class="previous-date btn" data-bind="click: previousDate, clickable: previousDateValid && !IsLoading(), enable: previousDateValid && !IsLoading()">
							<i class="glyphicon glyphicon-chevron-left" data-bind="enable: !IsLoading()"></i>
						</button>
					</span>
					<![if (!IE)|(gt IE 8)]>
					<input type="text" class="col-lg-2 form-control add-shifttrade-datepicker text-center date-input-style" data-bind="datepicker: requestedDate, datepickerOptions: { format: DatePickerFormat(), startDate: openPeriodStartDate(), endDate: openPeriodEndDate(), weekStart: weekStart() }, enable: !IsLoading()" />
					<![endif]>
					<!--[if lte IE 8]>
						<input type="text" class="col-lg-2 form-control add-shifttrade-datepicker" data-bind="value: requestedDate().format(DatePickerFormat())" readonly="readonly" />
					<![endif]-->
					<span class="input-group-btn">
						<button class="btn" data-bind="datepicker: requestedDate, datepickerOptions: { startDate: openPeriodStartDate(), endDate: openPeriodEndDate(), weekStart: weekStart() }, enable: !IsLoading()">
							<i class="glyphicon glyphicon-calendar"></i>
						</button>
						<button class="next-date btn" data-bind="click: nextDate, clickable: nextDateValid && !IsLoading(), enable: nextDateValid && !IsLoading()">
							<i class="glyphicon glyphicon-chevron-right" data-bind="enable: !IsLoading()"></i>
						</button>
					</span>
				</div>
			</div>
		</div>

		<!-- ko if: isSiteFilterEnabled -->
		<div class="col-sm-3 col-md-3 col-lg-2" data-bind="if: !noAnySiteToShow()">
			<div class="schedule-filter-component">
				<select id="Site-Picker" data-bind="foreach: availableSites, select2: { value: selectedSite } ">
					<option data-bind="text: text, value: id"></option>
				</select>
			</div>
		</div>
		<!-- /ko -->

		<div class="col-sm-6 col-md-6 col-lg-3" data-bind="if: !noAnyTeamToShow(), css:{'col-sm-3 col-md-3 col-lg-2': isSiteFilterEnabled}">
			<div class="schedule-filter-component">
				<select id="Team-Picker" data-bind="foreach: availableTeams, select2: { value: selectedTeam } ">
					<option data-bind="text: text, value: id"></option>
				</select>
			</div>
		</div>

		<div class="col-sm-7 col-md-6 col-lg-4" data-bind="css:{'col-lg-3': isSiteFilterEnabled}">
			<div class="row">
				<div class="col-xs-6" data-bind="visible: !isDetailVisible()">
					<div class="dropdown filter-time-dropdown-button schedule-filter-component" data-bind="click: filterStartEndTimeClick, css:{'filteractived':isStartTimeFilterActived()}">
						<a class="dropdown-toggle btn" data-toggle="dropdown" href="#" style="color: black">
							@Resources.StartTime
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu filter-time-dropdown-form" role="menu">
							<li>
								<div class="input-group start-time-sort-order">
									<div class="btn-group" role="group">
										<!-- ko foreach: displaySortOrderTemplateList -->
										<!-- ko if: IsStart -->
										<span data-bind="attr:{class: Description},css:{'sortingbuttonselected': $parent.isSortingTimeActive( $data)}, click : $parent.updateTimeSortOrder, value: Value"></span>
										<!-- /ko -->
										<!-- /ko -->
									</div>
								</div>
							</li>
							<!-- ko foreach: filterStartTimeList -->
							<li>
								<label class="checkbox filter-time-text">
									<input type="checkbox" data-bind="checked: isChecked">
									<span data-bind="text: text"></span>
								</label>
							</li>
							<!--/ko-->
						</ul>
					</div>
				</div>
				<div class="col-xs-6" data-bind="visible: !isDetailVisible()">
					<div class="dropdown filter-time-dropdown-button schedule-filter-component" data-bind="click: filterStartEndTimeClick , css:{'filteractived':isEndTimeFilterActived()}">
						<a class="dropdown-toggle btn" data-toggle="dropdown" href="#" style="color: black">
							@Resources.EndTime
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu filter-time-dropdown-form" role="menu">
							<li>
								<div class="input-group end-time-sort-order">
									<div class="btn-group" role="group">
										<!-- ko foreach: displaySortOrderTemplateList -->
										<!-- ko if: !IsStart -->
										<span data-bind="attr:{class: Description},css:{'sortingbuttonselected': $parent.isSortingTimeActive( $data)}, click : $parent.updateTimeSortOrder, value: Value"></span>
										<!-- /ko -->
										<!-- /ko -->
									</div>
								</div>
							</li>
							<!-- ko foreach: filterEndTimeList -->
							<li>
								<label class="checkbox filter-time-text">
									<input type="checkbox" data-bind="checked: isChecked">
									<span data-bind="text: text"></span>
								</label>
							</li>
							<!--/ko-->
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="col-sm-5 col-md-6 col-lg-2">
			<div class="input-group name-search schedule-filter-component">
				<input type="search" class="form-control" placeholder='@Resources.SearchHintForName' data-bind="value: searchNameText, disable: IsLoading, event: { change: changeInSearchBox} " />
				<span class="input-group-addon input-group-addon-narrow">
					<!-- ko if: IsLoading -->
					<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
					<!-- /ko -->
					<!-- ko ifnot: IsLoading -->
					<span class="glyphicon  glyphicon-search clickable" data-bind="click: changeInSearchBox"></span>
					<!-- /ko -->
				</span>
			</div>
		</div>
	</div>
	<div data-bind="visible: isReadyLoaded(), fadeInIf: !IsLoading() , fadeInDuration: 150, fadeOutDuration: 50">
		<div class="shift-trade-missing-team-message alert alert-warning" data-bind="visible: noAnyTeamToShow">
			@Resources.YouDoNotHaveAccessToAnyTeams
		</div>
		<div class="shift-trade-add-schedule" data-bind="visible: !noAnyTeamToShow() && !missingWorkflowControlSet()">
			<div class="shift-trade-timeline">
				<div class="relative">
					<div data-bind="foreach: hours">
						<div class="shift-trade-ruler absolute" data-bind="style: rulerStyleJson, visible: showHourLine"></div>
						<div class="shift-trade-label label label-info absolute" data-bind="style: labelStyleJson, text: hourText, visible: isVisible"></div>
					</div>
				</div>
			</div>
			<table class="responsive">
				<thead>
					<tr>
						<td>&nbsp;</td>
						<td></td>
						<!--ko if:showContractTime-->
						<td class="hidden-xs hidden-sm">
							<strong>@Resources.ContractTime</strong>
						</td>
						<!--/ko-->
						<td></td>
					</tr>
					<tr class="shift-trade-my-schedule-row">
						<td class="shift-trade-agent-name">
							<div data-bind="style:showContractTime && {'font-weight': 'bold'}">@Resources.MySchedule</div>
							<!--ko if:showContractTime-->
							<div class="hidden-md hidden-lg shift-trade-contract-time-mobile" data-bind="text: mySchedule().contractTime"></div>
							<!--/ko-->
						</td>
						<!--ko if: isShiftTradeScheduleNoReadModelEnabled()-->
						<td class="shift-trade-my-schedule">
							<!--ko if:mySchedule().isFullDayAbsence-->
							<div data-bind="foreach: mySchedule().layers">
								<!--ko if:!$parent.mySchedule().isDayOff-->
								<div class="shift-trade-layer-container floatleft">
									<div class="shift-trade-layer add" data-bind="style: styleJson, tooltip: { title: tooltipText, html: true }, attr: { 'scheduleinfo': tooltipText() }"></div>
								</div>
								<!--/ko-->
								<!--ko if:$parent.mySchedule().isDayOff-->
								<div class="shift-trade-layer-container floatleft shift-trade-dayoff">
									<div class="dayoff" data-bind="style:{'background-color':backgroundColor},tooltip: { title: tooltipText, html: true}, text:$parent.mySchedule().dayOffName || titleHeader"></div>
								</div>
								<!--/ko-->
							</div>
							<!--/ko-->
							<!--ko if:!mySchedule().isFullDayAbsence-->
							<div data-bind="foreach: mySchedule().layers">
								<div class="shift-trade-layer-container floatleft">
									<div class="shift-trade-layer add" data-bind="style: styleJson, tooltip: { title: tooltipText, html: true }, attr: { 'scheduleinfo': tooltipText() }"></div>
								</div>
							</div>
							<!--ko if:mySchedule().isDayOff -->
							<div class="shift-trade-layer-container floatleft shift-trade-dayoff">
								<div class="dayoff" data-bind="text: mySchedule().dayOffName"></div>
							</div>
							<!--/ko-->
							<!--/ko-->
						</td>
						<!--/ko-->
						<!--ko if: !isShiftTradeScheduleNoReadModelEnabled()-->
						<td class="shift-trade-my-schedule">
							<div data-bind="foreach: mySchedule().layers">
								<div class="shift-trade-layer-container floatleft">
									<div class="shift-trade-layer add" data-bind="style: styleJson, tooltip: { title: tooltipText, html: true }, attr: { 'scheduleinfo': tooltipText() }"></div>
								</div>
							</div>
							<!--ko if:mySchedule().isDayOff -->
							<div class="shift-trade-layer-container floatleft shift-trade-dayoff">
								<div class="dayoff" data-bind="text: mySchedule().dayOffName"></div>
							</div>
							<!--/ko-->
						</td>
						<!--/ko-->
						<!--ko if:$data.showContractTime-->
						<td class="hidden-xs hidden-sm shift-trade-contract-time">
							<div data-bind="text: mySchedule().contractTime"></div>
						</td>
						<!--/ko-->
						<td class="shift-trade-button-cell"></td>
					</tr>
				</thead>
				<tbody data-bind="foreach: possibleTradeSchedules">
					<tr class="shift-trade-person-schedule-row agent" data-bind="visible: isVisible, click: $parent.chooseAgent, hoverToggle: 'hoverBorder', hoverIf: !$parent.isDetailVisible()">
						<td class="shift-trade-agent-name floatleft">
							<div data-bind="style:$root.showContractTime && {'font-weight': 'bold'}, text: $data.agentName, tooltip: { title: $data.agentName, html: true}">@Resources.MySchedule</div>
							<!--ko if:$root.showContractTime-->
							<div class="hidden-md hidden-lg shift-trade-contract-time-mobile" data-bind="text: contractTime"></div>
							<!--/ko-->
						</td>
						<td class="shift-trade-possible-trade-schedule">
							<div data-bind="foreach: $data.layers">
								<!--ko if:!$parent.isDayOff-->
								<div class="shift-trade-layer-container floatleft">
									<div class="shift-trade-layer add" data-bind="style: styleJson, tooltip: { title: tooltipText, html: true }, attr: { 'scheduleinfo': tooltipText() }"></div>
								</div>
								<!--/ko-->
								<!--ko if:$parent.isDayOff-->
								<div class="shift-trade-layer-container floatleft shift-trade-dayoff">
									<div class="dayoff" data-bind="text: $parent.dayOffName || titleHeader"></div>
									<div class="shift-trade-layer add" data-bind="visible:!$parent.isFullDayAbsence, style: styleJson, tooltip: { title: tooltipText, html: true }, attr: { 'scheduleinfo': tooltipText() }"></div>
								</div>
								<!--/ko-->
							</div>
							<!--ko if:isDayOff && $data.layers.length == 0 -->
							<div class="shift-trade-layer-container floatleft shift-trade-dayoff">
								<div class="dayoff" data-bind="text: dayOffName"></div>
							</div>
							<!--/ko-->
						</td>

						<!--ko if:$root.showContractTime-->
						<td class="hidden-xs hidden-sm shift-trade-contract-time">
							<div data-bind="text: contractTime"></div>
						</td>
						<!--/ko-->

						<td class="shift-trade-button-cell">
							<!-- ko if: $root.isAddVisible-->
							<button id="shift-trade-add" type="button" class="btn btn-primary btn-xs" data-bind="click: $root.add">
								<i class="glyphicon glyphicon-plus"></i>
							</button>
							<!-- /ko -->
						</td>
					</tr>
				</tbody>
			</table>
			<div class="pull-right" data-bind="visible: !isDetailVisible() && isPageVisible()">
				<ul class="pagination pagination-sm">
					<li><a data-bind="click: goToFirstPage,css:{'disabled':selectedPageIndex()===1,'hidden':selectablePages().length===0}"><i class="glyphicon glyphicon-fast-backward"></i></a></li>
					<li>
						<a data-bind="click: goPreviousPages, visible: isPreviousMore()">...</a>
					</li>
					<!-- ko foreach: selectablePages() -->
					<li data-bind="css: {'active': $parent.isSelected($data)}">
						<a data-bind="text: $data.index(), click: $parent.selectPage"></a>
					</li>
					<!-- /ko -->
					<li>
						<a data-bind="click: goNextPages, visible: isMore()">...</a>
					</li>
					<li>
						<a data-bind="click: goToLastPage,css:{'disabled':pageCount()===selectedPageIndex(),'hidden':selectablePages().length===0}"><i class="glyphicon glyphicon-fast-forward"></i></a>
					</li>
				</ul>
			</div>
			<div class="tooltipContainer"></div>
		</div>

		<!-- ko if: isShowList-->
		<div class="divider choose-history-divider"></div>
		<div><strong>@Resources.MyTradeCart</strong></div>
		<div id="choose-history-list" class="shift-trade-add-schedule" data-bind="foreach:chooseHistorys()">
			<div class="trade-date" data-bind="text: $data.selectedDateInFormat"></div>
			<div class="shift-trade-timeline">
				<div class="relative">
					<div data-bind="foreach: $data.hours()">
						<div class="shift-trade-ruler absolute" data-bind="style: rulerStyleJson, visible: showHourLine"></div>
						<div class="shift-trade-label label label-info absolute" data-bind="style: labelStyleJson, text: hourText"></div>
					</div>
				</div>
			</div>
			<table class="responsive">
				<thead>
					<tr>
						<td>&nbsp;</td>
						<td></td>
						<!--ko if:$root.showContractTime-->
						<td class="hidden-xs hidden-sm"><strong>@Resources.ContractTime</strong></td>
						<!--/ko-->
						<td></td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="shift-trade-agent-name">
							<div data-bind="style:$root.showContractTime && {'font-weight': 'bold'}">@Resources.MySchedule</div>
							<!--ko if:$root.showContractTime-->
							<div class="hidden-md hidden-lg shift-trade-contract-time-mobile" data-bind="text: $data.mySchedule().contractTime"></div>
							<!--/ko-->
						</td>
						<!--ko if: $root.isShiftTradeScheduleNoReadModelEnabled()-->
						<td class="shift-trade-my-schedule">
							<!--ko if:$data.mySchedule().isFullDayAbsence-->
							<div data-bind="foreach: $data.mySchedule().layers">
								<!--ko if:!$parent.mySchedule().isDayOff-->
								<div class="shift-trade-layer-container floatleft">
									<div class="shift-trade-layer add" data-bind="style: styleJson, tooltip: { title: tooltipText, html: true }, attr: { 'scheduleinfo': tooltipText() }"></div>
								</div>
								<!--/ko-->
								<!--ko if:$parent.mySchedule().isDayOff-->
								<div class="shift-trade-layer-container floatleft shift-trade-dayoff">
									<div class="dayoff" data-bind="style:{'background-color':backgroundColor},tooltip: { title: tooltipText, html: true}, text:$parent.mySchedule().dayOffName || titleHeader"></div>
								</div>
								<!--/ko-->
							</div>
							<!--/ko-->
							<!--ko if:!$data.mySchedule().isFullDayAbsence-->
							<div data-bind="foreach: $data.mySchedule().layers">
								<div class="shift-trade-layer-container floatleft">
									<div class="shift-trade-layer add" data-bind="style: styleJson, tooltip: { title: tooltipText, html: true }, attr: { 'scheduleinfo': tooltipText() }"></div>
								</div>
							</div>
							<!--ko if:$data.mySchedule().isDayOff -->
							<div class="shift-trade-layer-container floatleft shift-trade-dayoff">
								<div class="dayoff" data-bind="text: $data.mySchedule().dayOffName"></div>
							</div>
							<!--/ko-->
							<!--/ko-->
						</td>
						<!--/ko-->
						<!--ko if: !$root.isShiftTradeScheduleNoReadModelEnabled()-->
						<td class="shift-trade-my-schedule">
							<div data-bind="foreach: $data.mySchedule().layers">
								<div class="shift-trade-layer-container floatleft">
									<div class="shift-trade-layer add" data-bind="style: styleJson, tooltip: { title: tooltipText, html: true }, attr: { 'scheduleinfo': tooltipText() }"></div>
								</div>
							</div>
							<!--ko if:$data.mySchedule().isDayOff -->
							<div class="shift-trade-layer-container floatleft shift-trade-dayoff">
								<div class="dayoff" data-bind="text: $data.mySchedule().dayOffName"></div>
							</div>
							<!--/ko-->
						</td>
						<!--/ko-->
						<!--ko if:$root.showContractTime-->
						<td class="hidden-xs hidden-sm shift-trade-contract-time">
							<div data-bind="text: $data.mySchedule().contractTime"></div>
						</td>
						<!--/ko-->
						<td></td>
					</tr>
				</tbody>
				<tbody>
					<tr data-bind="hoverToggle: 'hoverBorder', hoverIf: !$parent.isDetailVisible()">
						<td class="shift-trade-agent-name floatleft">
							<div data-bind="style:$root.showContractTime && {'font-weight': 'bold'}, text: $data.agentName, tooltip: { title: $data.agentName, html: true}"></div>
							<!--ko if:$root.showContractTime-->
							<div class="hidden-md hidden-lg shift-trade-contract-time-mobile" data-bind="text: $data.selectedSchedule().contractTime"></div>
							<!--/ko-->
						</td>
						<td class="the-other-agent-schedule">
							<div data-bind="foreach: $data.selectedSchedule().layers">
								<!--ko if:!$parent.selectedSchedule().isDayOff-->
								<div class="shift-trade-layer-container floatleft">
									<div class="shift-trade-layer add" data-bind="style: styleJson, tooltip: { title: tooltipText, html: true }, attr: { 'scheduleinfo': tooltipText() }"></div>
								</div>
								<!--/ko-->
								<!--ko if:$parent.selectedSchedule().isDayOff-->
								<div class="shift-trade-layer-container floatleft shift-trade-dayoff">
									<div class="dayoff" data-bind="text: $parent.selectedSchedule().dayOffName || titleHeader"></div>
									<div class="shift-trade-layer add" data-bind="visible:!$parent.selectedSchedule().isFullDayAbsence, style: styleJson, tooltip: { title: tooltipText, html: true }, attr: { 'scheduleinfo': tooltipText() }"></div>
								</div>
								<!--/ko-->
							</div>
							<!--ko if:$data.selectedSchedule().isDayOff && $data.selectedSchedule().layers.length == 0 -->
							<div class="shift-trade-layer-container floatleft shift-trade-dayoff">
								<div class="dayoff" data-bind="text: $data.selectedSchedule().dayOffName"></div>
							</div>
							<!--/ko-->
						</td>
						<!--ko if:$root.showContractTime-->
						<td class="hidden-xs hidden-sm shift-trade-contract-time">
							<div data-bind="text: $data.selectedSchedule().contractTime"></div>
						</td>
						<!--/ko-->
						<td class="shift-trade-button-cell">
							<button type="button" id="shift-trade-remove" class="btn btn-primary btn-xs" data-bind="visible: $root.isDetailVisible, click: $root.remove">
								<i class="glyphicon glyphicon-minus"></i>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- /ko -->

		<div class="row add-shift-trade-detail-section">
			<div id="Request-add-shift-trade-detail-section" data-bind="visible: isDetailVisible" class="well well-sm col-xs-12 col-md-6">
				<div class="form-group">
					<input id="Request-add-shift-trade-subject-input" class="form-control input-block-level" type="text" data-bind="value: subject" placeholder="@Resources.Subject" maxlength="80" />
				</div>
				<div class="form-group">
					<textarea id="Request-add-shift-trade-message-input" class="form-control input-block-level" data-bind="value: message, valueUpdate: 'afterkeydown', event:{change : checkMessageLength}" rows="4" placeholder="@Resources.Message" />
				</div>
				<div class="pull-right">
					<button class="btn cancel-button" data-bind="click: cancelRequest">@Resources.Cancel</button>
					<button class="btn btn-primary send-button" data-bind="enable: isSendEnabled, click: sendRequest">@Resources.Send</button>
				</div>
				<div class="error" data-bind="html: errorMessage"></div>
			</div>
		</div>
		<div class="shift-trade-no-possible-trades alert alert-info" data-bind="visible: noPossibleShiftTrades()">
			@Resources.NoAgentsAvailableForShiftTrade
		</div>
	</div>
</div>