@using Teleopti.Ccc.UserTexts
<div id="Request-add-shift-trade" style="width:954px" class="well well-sm displaynone fixed-non-responsive">
	 
	<span class="ready-loading-flag displaynone" data-bind="css: { 'is-ready-loaded': isReadyLoaded }"></span>
    <div class="shift-trade-missing-wcs-message alert alert-warning" data-bind="visible: missingWorkflowControlSet">
        @Resources.MissingWorkflowControlSet
    </div>
    <div data-bind="if: !missingWorkflowControlSet()">
        <table class="table-condensed">
            <tr>
				<td>
					<div style="margin-bottom: 10px" class="input-group">
						<span class="input-group-btn">
                            <button class="previous-date btn btn-default" data-bind="click: previousDate, clickable: previousDateValid, enable: previousDateValid">
                                <i class="glyphicon glyphicon-chevron-left" data-bind="enable: !IsLoading()"></i>
                            </button>
						</span>
                        <![if (!IE)|(gt IE 8)]>
						<input type="text" class="col-xs-2 form-control add-shifttrade-datepicker" data-bind="datepicker: requestedDate, datepickerOptions: { startDate: openPeriodStartDate(), endDate: openPeriodEndDate(), weekStart: weekStart() }, enable: !IsLoading()" />
                        <![endif]>
                        <!--[if lte IE 8]>
                        <input type="text" class="col-xs-2 form-control add-shifttrade-datepicker" data-bind="value: requestedDate().format(DatePickerFormat())" readonly="readonly" />
                        <![endif]-->
						<span class="input-group-btn">
							<button class="btn btn-default" data-bind="datepicker: requestedDate, datepickerOptions: { startDate: openPeriodStartDate(), endDate: openPeriodEndDate(), weekStart: weekStart() }, enable: !IsLoading()">
								<i class="glyphicon glyphicon-calendar"></i>
							</button>
                            <button class="next-date btn btn-default" data-bind="click: nextDate, clickable: nextDateValid, enable: nextDateValid">
                                <i class="glyphicon glyphicon-chevron-right" data-bind="enable: !IsLoading()"></i>
                            </button>
						</span>
	                </div>
                </td>
                <td>
                    <div style="margin-bottom: 9px" data-bind="if: !missingMyTeam()">
                        <select id="Team-Picker" data-bind="foreach: availableTeams, select2: { value: selectedTeam } ">
                            <option data-bind="text: text, value: id"></option>
                        </select>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div data-bind="fadeInIf: !IsLoading(), fadeInDuration: 150, fadeOutDuration: 50">
        <div class="shift-trade-missing-team-message alert alert-warning" data-bind="visible: missingMyTeam">
            @Resources.YouDoNotHaveAccessToAnyTeams
        </div>
        <div class="shift-trade-add-schedule" data-bind="visible: !missingMyTeam() && !missingWorkflowControlSet()">
            <div class="shift-trade-timeline">
                <div class="relative">
                    <div data-bind="foreach: hours">
                        <div class="shift-trade-ruler absolute" data-bind="style: rulerStyleJson, visible: showHourLine"></div>
                        <div class="shift-trade-label label label-info absolute" data-bind="style: labelStyleJson, text: hourText"></div>
                    </div>
                </div>
            </div>
            <table style="width: 100%">
                <thead>
                    <tr>
                        <td>&nbsp;</td>
	                    <td></td>
							  <!-- ko if: isTradeForMultiDaysEnabled-->
						  	<td></td>
						  	<!--/ko-->
                    </tr>
                </thead>
                <tbody>
                    <tr class="shift-trade-my-schedule-row">
	                    <td class="shift-trade-agent-name">@Resources.MySchedule</td>
							  <!--ko if: !mySchedule().isDayOff-->
	                    <td class="shift-trade-my-schedule" data-bind="foreach: mySchedule().layers">
		                    <div class="shift-trade-layer-container floatleft">
			                    <div class="shift-trade-layer add" data-bind="style: styleJson, tooltip: { title: tooltipText, html: true, container: '.tooltipContainer' }, attr: { 'scheduleinfo': tooltipText() }"></div>                                
		                    </div>
	                    </td>
	                    <!--/ko-->	
							  <!--ko if: mySchedule().isDayOff-->
	                    <td class="shift-trade-my-schedule">
		                    <div class="shift-trade-layer-container floatleft shift-trade-dayoff">
			                    <div class="dayoff">@Resources.DayOff</div>
		                    </div>
	                    </td>
	                    <!--/ko-->
							  <!-- ko if: isTradeForMultiDaysEnabled-->
	                    <td></td>
						  		<!--/ko-->
                    </tr>
                </tbody>
					<tbody data-bind="foreach: possibleTradeSchedules">
						<tr class="shift-trade-person-schedule-row agent" data-bind="visible: isVisible, click: $parent.chooseAgent, hoverToggle: 'hoverBorder', hoverIf: !$parent.isDetailVisible()">
							<td class="shift-trade-agent-name" data-bind="text: $data.agentName"></td>
							<td class="shift-trade-possible-trade-schedule">
								<!--ko if:$data.isDayOff-->
								<div style="height: 22px; width: 100%;" class="dayoff">
									<div class="shift-trade-layer-container floatleft shift-trade-dayoff">@Resources.DayOff</div>
								</div>
								<!--/ko-->
								<!--ko if:!$data.isDayOff-->
								<div style="height: 22px; width: 100%;" data-bind="foreach: $data.layers">
									<div class="shift-trade-layer-container floatleft">
										<div class="shift-trade-layer add" data-bind="style: styleJson, tooltip: { title: tooltipText, html: true, container: '.tooltipContainer' }, attr: { 'scheduleinfo': tooltipText() }"></div>
									</div>
								</div>
								<!--/ko-->
							</td>
							<!-- ko if: $root.isTradeForMultiDaysEnabled-->
							<!-- ko if: $root.isAddVisible-->
							<td class="col-sm-1">
								<button id="shift-trade-add" type="button" class="btn btn-primary btn-xs" data-bind="click: $root.add">
									<i class="glyphicon glyphicon-plus"></i>
								</button>
							</td>
							<!-- /ko -->
							<!-- /ko -->
						</tr>
	            </tbody>
            </table>
            <div id="tooltipContainer" class="tooltipContainer"></div>
        </div>
	    
		 <p></p>
		 <!-- ko if: isShowList-->
	    <div class="divider choose-history-divider"></div>
	    <div><strong>@Resources.MyTradeCart</strong></div>
	    <div id="choose-history-list" class="shift-trade-add-schedule" data-bind="foreach:chooseHistorys(), style:{height:tradeCartHeight()}">
		    <div class="trade-date" data-bind="text: $data.selectedDate"></div>
		    <div class="shift-trade-timeline" style="height: 80px;">
			    <div class="relative">
				    <div data-bind="foreach: $data.hours()">
					    <div class="shift-trade-ruler absolute" data-bind="style: rulerStyleJson, visible: showHourLine"></div>
					    <div class="shift-trade-label label label-info absolute" data-bind="style: labelStyleJson, text: hourText"></div>
				    </div>
			    </div>
		    </div>
		    <table style="width: 100%">
			    <thead>
				    <tr>
					    <td>&nbsp;</td>
					    <td></td>
				    </tr>
			    </thead>
			    <tbody>
				    <tr>
					    <td class="shift-trade-agent-name">@Resources.MySchedule</td>
					    <!--ko if: !$data.mySchedule().isDayOff-->
					    <td data-bind="foreach: $data.mySchedule().layers">
						    <div class="shift-trade-layer-container floatleft">
							    <div class="shift-trade-layer add" data-bind="style: styleJson, tooltip: { title: tooltipText, html: true, container: '.tooltipContainer' }, attr: { 'scheduleinfo': tooltipText() }"></div>
						    </div>
					    </td>
					    <!--/ko-->
					    <!--ko if: $data.mySchedule().isDayOff-->
					    <td>
						    <div class="shift-trade-layer-container floatleft shift-trade-dayoff">
							    <div class="dayoff">@Resources.DayOff</div>
						    </div>
					    </td>
					    <!--/ko-->
				    </tr>
			    </tbody>
			    <tbody>
				    <tr data-bind="hoverToggle: 'hoverBorder', hoverIf: !$parent.isDetailVisible()">
					    <td class="shift-trade-agent-name" data-bind="text: $data.agentName"></td>
					    <td>
						    <!--ko if:$data.selectedSchedule().isDayOff-->
						    <div style="height: 22px; width: 100%;" class="dayoff">
							    <div class="shift-trade-layer-container floatleft shift-trade-dayoff">@Resources.DayOff</div>
						    </div>
						    <!--/ko-->
						    <!--ko if:!$data.selectedSchedule().isDayOff-->
						    <div style="height: 22px; width: 100%;" data-bind="foreach: $data.selectedSchedule().layers">
							    <div class="shift-trade-layer-container floatleft">
								    <div class="shift-trade-layer add" data-bind="style: styleJson, tooltip: { title: tooltipText, html: true, container: '.tooltipContainer' }, attr: { 'scheduleinfo': tooltipText() }"></div>
							    </div>
						    </div>
						    <!--/ko-->
					    </td>
					    <td class="col-sm-1">
						    <button type="button" id="shift-trade-remove" class="btn btn-primary btn-xs" data-bind="visible: $root.isDetailVisible, click: $root.remove">
							    <i class="glyphicon glyphicon-minus"></i>
						    </button>
					    </td>
				    </tr>
			    </tbody>
		    </table>
	    </div>
	 	<!-- /ko -->
		
	    <p></p>
        <div id="Request-add-shift-trade-detail-section" data-bind="visible: isDetailVisible" class="well well-small" style="width: 50%; overflow: hidden;">
		    
            <div class="form-group">
                <input id="Request-add-shift-trade-subject-input" class="form-control" type="text" data-bind="value: subject" class="input-block-level" placeholder="@Resources.Subject" maxlength="80" />
            </div>
            <div class="form-group">
                <textarea id="Request-add-shift-trade-message-input" class="form-control" data-bind="value: message, valueUpdate: 'afterkeydown', limitCharacters: 2000" rows="4" class="input-block-level" placeholder="@Resources.Message" />
            </div>
            <div class="pull-right">
                <button class="btn btn-default cancel-button" data-bind="click: cancelRequest">@Resources.Cancel</button>
                <button class="btn btn-primary send-button" data-bind="enable: isSendEnabled, click: sendRequest">@Resources.Send</button>
            </div>
            <div class="error" data-bind="html: errorMessage"></div>
        </div>
        <div class="shift-trade-no-possible-trades alert alert-info" data-bind="visible: noPossibleShiftTrades()">
            @Resources.NoAgentsAvailableForShiftTrade
        </div>
    </div>
</div>
