@using Teleopti.Ccc.UserTexts
<div id="Request-add-shift-trade" class="well well-small displaynone">
	 
    <div class="displaynone" data-bind="if: isReadyLoaded">
        <span id="Request-add-loaded-ready"></span>
    </div>
    <span id="Request-add-loaded-date" class="displaynone" data-bind="text: loadedDateSwedishFormat"></span>
    <div class="shift-trade-missing-wcs-message alert alert-block" data-bind="visible: missingWorkflowControlSet">
        @Resources.MissingWorkflowControlSet
    </div>
    <div data-bind="if: !missingWorkflowControlSet()">
        <table class="table-condensed">
            <tr>
                <td>
                    <div class="input-append input-prepend">
                        <button class="btn" data-bind="clickable: previousDateValid, enable: previousDateValid">
                            <i class="icon-chevron-left" data-bind="click: previousDate, enable: !IsLoading()"></i>
                        </button>
                        <input type="text" class="span2 add-shifttrade-datepicker" data-bind="datepicker: requestedDate, datepickerOptions: { format: DatePickerFormat(), startDate: openPeriodStartDate(), endDate: openPeriodEndDate(), weekStart: weekStart() }, enable: !IsLoading()" />
                        <button class="btn" data-bind="datepicker: requestedDate, datepickerOptions: { startDate: openPeriodStartDate(), endDate: openPeriodEndDate(), weekStart: weekStart() }, enable: !IsLoading()">
                            <i class="icon-th" ></i>
                        </button>
                        <button class="btn" data-bind="clickable: nextDateValid, enable: nextDateValid">
                            <i class="icon-chevron-right" data-bind="click: nextDate, enable: !IsLoading()"></i>
                        </button>
                    </div>
                </td>
                <td>
                    <div style="margin-bottom: 9px" data-bind="if: !missingMyTeam()">
                        <select id="Team-Picker" data-bind="foreach: availableTeams, select2: { value: selectedTeam } ">
                            <option data-bind="text: text, value: id"></option>
                        </select>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div data-bind="fadeInIf: !IsLoading(), fadeInDuration: 150,fadeOutDuration: 50">
        <div class="shift-trade-missing-team-message alert alert-block" data-bind="visible: missingMyTeam">
            @Resources.YouDoNotHaveAccessToAnyTeams
        </div>
        <div class="shift-trade-add-schedule" data-bind="visible: !missingMyTeam() && !missingWorkflowControlSet()">
            <div class="shift-trade-timeline">
                <div class="relative">
                    <div data-bind="foreach: hours">
                        <div class="shift-trade-ruler absolute" data-bind="style: { left: leftPos() + 'px' }, visible: showHourLine"></div>
                        <div class="shift-trade-label label label-info absolute" data-bind="style: { left: leftPos() - 16 + 'px' }, text: hourText"></div>
                    </div>
                </div>
            </div>
            <table style="width: 100%">
                <thead>
                    <tr>
                        <td>&nbsp;</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr class="shift-trade-my-schedule-row">
                        <td class="shift-trade-agent-name">@Resources.MySchedule</td>
                        <td class="shift-trade-my-schedule" data-bind="foreach: mySchedule().layers">
                            <div class="shift-trade-layer-container floatleft">
                                <div class="shift-trade-layer add" data-bind="style: { left: leftPx, width: widthPx, backgroundColor: backgroundColor }, tooltip: { title: tooltipText, html: true, container: '.tooltipContainer' }, attr: { 'scheduleinfo': tooltipText() }"></div>                                
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tbody data-bind="foreach: possibleTradeSchedules">
                    <tr class="shift-trade-person-schedule-row agent" data-bind="visible: isVisible, click: $parent.chooseAgent, hoverToggle: 'hoverBorder', hoverIf: !$parent.isDetailVisible()">
                        <td class="shift-trade-agent-name" data-bind="text: $data.agentName"></td>
                        <td class="shift-trade-possible-trade-schedule">
                            <div style="height: 22px;width: 100%;" data-bind="foreach: $data.layers">
                                <div class="shift-trade-layer-container floatleft">
                                    <div class="shift-trade-layer add" data-bind="style: { left: leftPx, width: widthPx, backgroundColor: backgroundColor }, tooltip: { title: tooltipText, html: true, container: '.tooltipContainer' }, attr: { 'scheduleinfo': tooltipText() }"></div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div id="tooltipContainer" class="tooltipContainer"></div>
        </div>
		
        <p></p>
        <div id="Request-add-shift-trade-detail-section" data-bind="visible: isDetailVisible" class="well well-small" style="width: 50%; overflow: hidden;">
            <div>
                <input id="Request-add-shift-trade-subject-input" type="text" data-bind="value: subject" class="input-block-level" placeholder="@Resources.Subject" maxlength="80" />
            </div>
            <div>
                <textarea id="Request-add-shift-trade-message-input" data-bind="value: message, valueUpdate: 'afterkeydown', limitCharacters: 2000" rows="4" class="input-block-level" placeholder="@Resources.Message" />
            </div>
            <div class="pull-right">
                <button class="btn cancel-button" data-bind="click: cancelRequest">@Resources.Cancel</button>
                <button class="btn btn-primary send-button" data-bind="enable: isSendEnabled, click: sendRequest">@Resources.Send</button>
            </div>
            <div class="error" data-bind="html: errorMessage"></div>
        </div>
        <div class="shift-trade-no-possible-trades alert alert-info" data-bind="visible : noPossibleShiftTrades()">
            @Resources.NoAgentsAvailableForShiftTrade
        </div>
    </div>
</div>