@using Teleopti.Ccc.UserTexts
@{
	Layout = null;
}
<!-- ko if: WaitlistPosition() > 0 -->
<div>
	<label>@Resources.WaitlistPosition</label>&nbsp;<span id="waitlistPosition" data-bind="text:WaitlistPosition"></span>
</div>
<!-- /ko -->
<!--div class="form-group">
	<label style="padding-top: 10px;">
		@Resources.OvertimeType
	</label>
	<div class="row">
		<div class="col-xs-6" style="padding-top: 6px;">
			<select class="request-edit-absence form-control" data-bind="value: AbsenceId, enable: IsEditable">
				@foreach (var absenceType in Model.AbsenceTypes)
				{
					<option value="@Html.AttributeEncode(absenceType.Id)">@absenceType.Name</option>
				}
			</select>
		</div>
	</div>
</!--div>
<div-- class="row form-group">
	<div class="col-xs-12">
		<span class="input-group">
			<input class="request-edit-datefrom input-sm form-control" data-bind="datepicker: DateFrom, datepickerOptions: { autoHide: true, format: DateFormat(), weekStart: weekStart() }, enable: IsEditable() && IsDateInputEditable" type="text" />
			<span class="input-group-btn">
				<button class="btn btn-sm" data-bind="datepicker: DateFrom, datepickerOptions: { autoHide: true, weekStart: weekStart() }, enable: IsEditable">
					<i class="glyphicon glyphicon-calendar"></i>
				</button>
			</span>
		</span>
	</div>
	<div class="col-xs-12 bootstrap-timepicker">
		<div class="request-edit-timefrom input-group">
			<input type="text" class="input-sm form-control" data-bind="timepicker: TimeFrom, timepickerOptions: { showMeridian: ShowMeridian }, enable: IsTimeInputEditable, visible: IsTimeInputVisible" />
			<span class="input-group-btn">
				<button class="btn btn-sm" data-bind="timepicker: TimeFrom, timepickerOptions: { showMeridian: ShowMeridian }, visible: IsTimeInputVisible">
					<i class="glyphicon glyphicon-time"></i>
				</button>
			</span>
		</div>
	</div>
</div-->


<div class="overtime-add-container clearfix">
	<div class="overtime-add-body">
		<div class="posting-mask" data-bind="visible: IsPostingData">
			<img src="@Url.Content("~/Areas/MyTime/Content/Images/ajax-loader.gif")" alt="Saving..." />
		</div>
		<div class="form-group">
			<input type="text" class="request-new-subject form-control" placeholder="@Resources.Subject" data-bind="value: Subject" maxlength="80" />
		</div>
		<div class="form-group">
			<textarea class="request-new-message form-control" placeholder="@Resources.Message" data-bind="value: Message, valueUpdate: 'afterkeydown', event:{change:checkMessageLength}" />
		</div>

		<div class="row form-group">
			<div class="col-xs-4 col-sm-4 col-md-4 overtime-request-type">
				<label>
					@Resources.OvertimeType
				</label>
				@*<select class="input-sm form-control" data-bind="options: MultiplicatorDefinitionSets, optionsText: 'Name', value: MultiplicatorDefinitionSet"></select>*@
			</div>
		</div>

		<div class="row form-group">
			<div class="col-xs-4 col-sm-4 col-md-4 overtime-request-date">
				<label>
					@Resources.Date
				</label>
				<span class="input-group">
					<input class="input-sm form-control" data-bind="datepicker: StartDate, datepickerOptions: { autoHide: true, format: DateFormat(), weekStart: weekStart() }" type="text" />
					<span class="input-group-btn">
						<button class="btn btn-sm" data-bind="datepicker: StartDate, datepickerOptions: { autoHide: true, format: DateFormat(), weekStart: weekStart() }">
							<i class="glyphicon glyphicon-calendar"></i>
						</button>
					</span>
				</span>
			</div>
			<div class="col-xs-4 col-sm-4 col-md-4 overtime-request-starttime">
				<label>
					@Resources.StartTime
				</label>
				<div class="bootstrap-timepicker">
					<div class="input-group">
						<input type="text" class="input-sm form-control" data-bind="timepicker: StartTime, timepickerOptions: { showMeridian: ShowMeridian }" />
						<span class="input-group-btn">
							<button class="btn btn-sm right-align" data-bind="timepicker: StartTime, timepickerOptions: { showMeridian: ShowMeridian }">
								<i class="glyphicon glyphicon-time"></i>
							</button>
						</span>
					</div>
				</div>
			</div>

			<div class="col-xs-4 col-sm-4 col-md-4 overtime-request-duration">
				<label>
					@Resources.Duration
				</label>
				<div class="input-group">
					<input type="text" class="input-sm form-control" data-bind="value: RequestDuration, event:{change:validateDuration} " maxlength="5">
					<ul role="menu" class="dropdown-menu">
						<!-- ko foreach: TimeList-->
						<li class="ui-menu-item" role="presentation">
							<a href="#" class="ui-corner-all" data-bind="click: function (data, event) { $parent.RequestDuration(data); }, text: $data" tabindex="-1"></a>
						</li>
						<!-- /ko-->
					</ul>
					<span class="input-group-addon input-sm dropdown-toggle" tabindex="-1" data-toggle="dropdown">
						<span class="caret"></span>
					</span>
				</div>
			</div>
		</div>

		<div class="request-new-error alert alert-danger" data-bind="visible: ShowError, html: ErrorMessage" />
	</div>
	<div class="pull-right">
		<button class="request-new-cancel btn" data-bind="click: CancelAddRequest">@Resources.Cancel</button>
		<button class="request-new-send btn btn-primary" data-bind="click: AddRequest, enable: !IsPostingData()">@Resources.Save</button>
	</div>
</div>