@using Teleopti.Ccc.UserTexts
@using Teleopti.Ccc.Web.Areas.MyTime.Models.Requests
@model RequestsViewModel
@{
Layout = null;
}

<script>
	$(function () {
		Teleopti.MyTimeWeb.Request.RequestDetail.PrepareForViewModel(Teleopti.MyTimeWeb.Common.DateTimeDefaultValues);
	});
</script>

<script type="text/html" id="request-detail-not-set">
	<div></div>
</script>

<script type="text/html" id="text-request-detail-template">
	@Html.Partial("TextRequestDetailView")
</script>

<script type="text/html" id="shifttrade-request-detail-template">
	@Html.Partial("ShiftTradeRequestDetailView")
</script>

<script type="text/html" id="absence-request-detail-template">
	@Html.Partial("AbsenceRequestDetailView")
</script>

<script type="text/html" id="add-new-request-detail-template">
	@Html.Partial("AddNewRequestDetailView")
</script>

<script type="text/html" id="add-overtime-request-template">
	@Html.Partial("AddNewOvertimeRequestView")
</script>

<script type="text/html" id="shift-trade-bulletin-board-template">
	@Html.Partial("ShiftTradeBulletinBoardView")
</script>

<script type="text/html" id="shift-exchange-offer-template">
	@Html.Partial("../Schedule/AddShiftExchangeOfferPartial")
</script>

<input id="Request-detail-datepicker-format" type="hidden" value="@Model.DatePickerFormat" />
<div class="navbar-container">
	<button class="close-fab-overlay" data-bind="visible: menuIsVisible, css:{'hide-fab-on-phone': hideFab}, click: disableMenu"></button>
	<div class="with-fab" data-bind="if: showFabButton, css:{'hide-fab-on-phone': hideFab}">
		<button class="fab" data-bind="click: enableMenu" tabindex="0"></button>
		<div class="navbar teleopti-toolbar subnavbar" data-bind="css: {'menu-focusing': menuIsVisible}, visible: menuIsVisible">
			<ul class="nav navbar-nav teleopti-toolbar row submenu">
				<!-- ko if: showRequestListButton-->
				@if (Model.RequestPermission.RequestListPermission)
				{
				<li data-bind="css: { active: requestListActive }" class="col-xs-12 col-sm-4">
					<a id="requestList" href="#" class="request-list" data-bind="click: clickRequestList"><i class="glyphicon glyphicon-th-list"></i>&nbsp;@Resources.RequestList</a>
				</li>
				}
				<!-- /ko -->
				@if (Model.RequestPermission.TextRequestPermission)
				{
				<li data-bind="css: { active: addTextRequestActive }" class="col-xs-12 col-sm-4">
					<a id="addTextRequest" href="#" class="text-request-add" data-bind="click: addTextRequest"><i class="glyphicon glyphicon-plus"></i>&nbsp;@Resources.TextRequest</a>
				</li>
				}
				@if (Model.RequestPermission.AbsenceRequestPermission)
				{
				<li data-bind="css: { active: addAbsenceRequestActive }" class="col-xs-12 col-sm-4">
					<a id="addAbsenceRequest" href="#" class="absence-request-add" data-bind="click: addAbsenceRequest"><i class="glyphicon glyphicon-plus"></i>&nbsp;@Resources.AbsenceRequest</a>
				</li>
				}
				@if (Model.RequestPermission.ShiftTradeRequestPermission)
				{
				<li data-bind="css: { active: addShiftTradeRequestActive }" class="col-xs-12 col-sm-4">
					<a id="addShiftTradeRequest" href="#" class="shifttrade-request-add" data-bind="click: addShiftTradeRequest"><i
						 class="glyphicon glyphicon-plus"></i>&nbsp;@Resources.ShiftTradeRequest</a>
				</li>
				}

				@if (Model.RequestPermission.ShiftTradeBulletinBoardPermission)
				{
				<li data-bind="css: { active: addShiftTradeBulletinBoardActive }" class="col-xs-12 col-sm-4">
					<a id="addShiftTradeRequestFromBulletinBoard" href="#" class="shifttradebulletinboard-request-add" data-bind="click: addShiftTradeBulletinBoardRequest"><i
						 class="glyphicon glyphicon-plus"></i>&nbsp;@Resources.ShiftTradeBulletinBoard</a>
				</li>

				<li data-bind="css: { active: addPostShiftForTradeActive }" class="col-xs-12 col-sm-4">
					<a id="addPostShiftForTrade" href=" #" class="postshiftfortrade-request-add" data-bind="click: addPostShiftForTradeRequest"><i
						 class="glyphicon glyphicon-plus"></i>&nbsp;@Resources.AnnounceShift</a>
				</li>
				}

				@if (Model.RequestPermission.OvertimeRequestPermission && Model.RequestLicense.IsOvertimeRequestEnabled)
				{
				<li class="col-xs-12 col-sm-4" data-bind="css: {active: addOvertimeRequestActive }">
					<a id="addOvertimeRequest" href="#" class="" data-bind="click: addOvertimeRequest">
						<i class="glyphicon glyphicon-plus"></i>&nbsp;@Resources.OvertimeRequest
					</a>
				</li>
				}
			</ul>
		</div>
	</div>
	<div class="no-fab" data-bind="ifnot: showFabButton, click: closeDatePickers">
		<div class="navbar teleopti-toolbar subnavbar" tabindex="0">
			<div class="container">
				<ul class="nav navbar-nav teleopti-toolbar row submenu">
					<!-- ko if: showRequestListButton-->
					@if (Model.RequestPermission.RequestListPermission)
					{
					<li data-bind="css: { active: requestListActive }" class="col-xs-12 col-sm-4">
						<a id="requestList" href="#" class="request-list" data-bind="click: clickRequestList"><i class="glyphicon glyphicon-th-list"></i>&nbsp;@Resources.RequestList</a>
					</li>
					}
					<!-- /ko -->
					@if (Model.RequestPermission.TextRequestPermission)
					{
					<li data-bind="css: { active: addTextRequestActive }" class="col-xs-12 col-sm-4">
						<a id="addTextRequest" href="#" class="text-request-add" data-bind="click: addTextRequest"><i class="glyphicon glyphicon-plus"></i>&nbsp;@Resources.TextRequest</a>
					</li>
					}
					@if (Model.RequestPermission.AbsenceRequestPermission)
					{
					<li data-bind="css: { active: addAbsenceRequestActive }" class="col-xs-12 col-sm-4">
						<a id="addAbsenceRequest" href="#" class="absence-request-add" data-bind="click: addAbsenceRequest"><i class="glyphicon glyphicon-plus"></i>&nbsp;@Resources.AbsenceRequest</a>
					</li>
					}
					@if (Model.RequestPermission.ShiftTradeRequestPermission)
					{
					<li data-bind="css: { active: addShiftTradeRequestActive }" class="col-xs-12 col-sm-4">
						<a id="addShiftTradeRequest" href="#" class="shifttrade-request-add" data-bind="click: addShiftTradeRequest"><i
							 class="glyphicon glyphicon-plus"></i>&nbsp;@Resources.ShiftTradeRequest</a>
					</li>
					}

					@if (Model.RequestPermission.ShiftTradeBulletinBoardPermission)
					{
					<li data-bind="css: { active: addShiftTradeBulletinBoardActive }" class="col-xs-12 col-sm-4">
						<a id="addShiftTradeRequestFromBulletinBoard" href=" #" class="shifttradebulletinboard-request-add" data-bind="click: addShiftTradeBulletinBoardRequest"><i
							 class="glyphicon glyphicon-plus"></i>&nbsp;@Resources.ShiftTradeBulletinBoard</a>
					</li>

					<li data-bind="css: { active: addPostShiftForTradeActive }" class="col-xs-12 col-sm-4">
						<a id="addPostShiftForTrade" href=" #" class="postshiftfortrade-request-add" data-bind="click: addPostShiftForTradeRequest"><i
							 class="glyphicon glyphicon-plus"></i>&nbsp;@Resources.AnnounceShift</a>
					</li>
					}

					@if (Model.RequestPermission.OvertimeRequestPermission && Model.RequestLicense.IsOvertimeRequestEnabled)
					{
					<li class="col-xs-12 col-sm-4" data-bind="css: {active: addOvertimeRequestActive }">
						<a id="addOvertimeRequest" href="#" class="" data-bind="click: addOvertimeRequest">
							<i class="glyphicon glyphicon-plus"></i>&nbsp;@Resources.OvertimeRequest
						</a>
					</li>
					}
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="container pagebody">

	<div id="Requests-body-inner" class="request-body-inner relative">
		@Html.Partial("NewShiftTradeRequestWrapper")

		@Html.Partial("ShiftTradeBulletinBoardView")
		<div>
			<div id="Request-add-data-binding-area" data-bind="with: requestViewModel">
				<div id="Request-add-section" class="well well-small clearfix">
					<div data-bind="template: Template">
					</div>
				</div>
			</div>
		</div>

		<div id="Requests-data-binding-area" data-bind="visible: !hideRequestsOnPhone()">
			<div class="row">
				<div id="request-filter-row" class="row filter-row">
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
						<div class="new-filter">
							<div class="form-group" data-bind="visible: !isLoadingRequests()">
								<select class="form-control" data-bind="options: filters, optionsText: 'name',
									optionsValue: 'show', value: hideOldRequests"
								 id="sel1">
								</select>
							</div>
						</div>
					</div>

					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-3">
						<div class="form-group">
							<div class="new-filter">
								<select class="form-control" data-bind="visible: !isLoadingRequests(), options: sorters, optionsText: 'name',
									optionsValue: 'show', value: IsSortByUpdateDate"
								 id="sel2">
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="alert alert-info" data-bind="visible: Requests().length == 0 && !isLoadingRequests(), hideWhenFadedOut: true"
			 id="Requests-no-requests-found">
				@Resources.NoRequestsFound
			</div>

			<div id="loadingRequestIndicator" class="loading-gradient" data-bind="visible: isLoadingRequests">
				<div class="loading"></div>
			</div>

			<div class="request-list" data-bind="foreach: ColumnRequests">
				<div class="row" data-bind="foreach: Items">
					<div class="request col-md-6">
						<div class="well well-small">
							<div class="request-body" data-bind="click: ShowDetails" style="cursor: pointer">
								<div data-bind="if: CanDelete">
									<button class="request-delete close" data-bind="click: $root.SwitchDeleteConfirmationVisibility, clickBubble: false, disable: IsDeletePending()"
									 title="@Resources.Delete">&times;</button>
								</div>
								<div data-bind="if: CanCancel">
									<button class="request-cancel close" data-bind="click: $root.SwitchCancelConfirmationVisibility, clickBubble: false, disable: IsCancelPending()"
									 title="@Resources.Cancel">&times;</button>
								</div>
								<div class="request-subject">
									<h5 class="request-data-subject" data-bind="text: Subject"></h5>
								</div>

								<div class="alert alert-warning" role="alert" data-bind="visible: IsDeletePending()">
									<span>@Resources.ConfirmDeleteRequest</span>
									<span class="pull-right">
										<a href="#" class="alert-link" data-bind="click: $root.SwitchDeleteConfirmationVisibility, clickBubble: false">@Resources.Cancel</a>
										<a id="request-list-delete" href="#" class="alert-link" data-bind="click: $root.Delete, clickBubble: false">@Resources.Delete</a>
									</span>
								</div>

								<div class="alert alert-warning" role="alert" data-bind="visible: IsCancelPending()">
									<span>@Resources.ConfirmCancelRequest</span>
									<span class="pull-right">
										<a href="#" class="alert-link" data-bind="click: $root.SwitchCancelConfirmationVisibility, clickBubble: false">@Resources.No</a>
										<a id="request-list-cancel" href="#" class="alert-link" data-bind="click: $root.Cancel, clickBubble: false">@Resources.Yes</a>
									</span>
								</div>

								<div class="alert alert-danger" role="alert" data-bind="visible: ErrorMessage()!=null">
									<span data-bind="text: ErrorMessage()"></span>
									<span class="pull-right">
										<a href="#" class="alert-link" data-bind="click: $root.SwitchErrorMessageVisibility, clickBubble: false">@Resources.Dismiss</a>
									</span>
								</div>

								<div class="request-details">
									<div>
										<span class="request-caption">@Resources.Type: </span><span data-bind="text: Type" class="request-data-type"></span>
										<span class="request-caption">@Resources.Status: </span><span class="request-caption" data-bind="visible: isProcessing">
											(@Resources.ProcessingDotDotDot) </span>
										<span class="label request-label" data-bind="text: Status(), css: StatusClass"></span>
									</div>
									<span class="request-caption">@Resources.Date: </span><span class="request-data-date" data-bind="text: Dates"></span>
									<span class="request-caption">@Resources.UpdatedOn: </span><span data-bind="text: UpdatedOn"></span>
								</div>
								<!-- ko if: !IsSelected() -->
								<div class="request-data-message request-text" data-bind="text: ListText()">
								</div>
								<!-- /ko -->
								<!-- ko if: IsSelected() -->
								<!-- ko foreach:TextSegments-->
								<div class="request-data-message request-text" data-bind="text:$data">
								</div>
								<!-- /ko -->
								<!-- /ko -->
							</div>
							<div class="request-edit" data-bind="visible: IsSelected, with: DetailItem">
								<div class="request-denyreason alert alert-warning" data-bind="html: $parent.DenyReason, visible: $parent.DenyReason() != ''"></div>
								<hr />
								<div data-bind="template : Template">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="bottom-of-requests-page"></div>

			<div class="loading-gradient" style="display: none">
				<div class="loading">
				</div>
			</div>
			<div class="pagingIndicatorWrapper" data-bind="ifnot: isLoadingRequests">
				<div id="pagingIndicator" class="arrow-down displaynone" data-bind="fadeInIf: MoreToLoad, hideWhenFadedOut: true, click: loadMoreRequests">
				</div>
			</div>
			<div class="clearboth">
			</div>
		</div>
	</div>
</div>