@using System.Globalization
@using Teleopti.Ccc.UserTexts
@using Teleopti.Ccc.Web.Areas.MyTime.Models.Requests
@using Teleopti.Interfaces.Domain
@model RequestsViewModel
@{
	Layout = null;
}
<script type="text/html" id="request-detail-not-set">
	<div></div>
</script>

<script type="text/html" id="shifttrade-request-detail-template">  
	@Html.Partial("ShiftTradeRequestDetailView")
</script>

<script type="text/html" id="text-request-detail-template">
	<div class="request-denyreason alert" data-bind="html: DenyReason, visible: DenyReason() != ''" />
    <div>
        <input type="text" class="input-block-level request-edit-subject request-edit" placeholder="@Resources.Subject" data-bind="value: Subject, enable: IsEditable" />
    </div>
    <div>
        <textarea class="input-block-level request-edit-message request-edit" placeholder="@Resources.Message" data-bind="value: Message, enable: IsEditable" />
    </div>
    <div>
        <span class="input-append">
            <input class="request-edit date-from request-edit-datefrom" data-bind="datepicker: DateFrom, datepickerOptions: {autoHide: true, format: DateFormat()}, enable: IsEditable" type="text" />
            <span class="add-on"><i class="icon-th"></i></span>
        </span>
        <div class="request-edit-timefrom input-append bootstrap-timepicker">
            <input type="text" class="input-small request-edit time-from" data-bind="timepicker: TimeFrom, timepickerOptions: {showMeridian: ShowMeridian}, enable: IsTimeInputEnabled" />
            <span class="add-on"><i class="icon-time"></i></span>
        </div>
    </div>
    <div>
        <span class="request-edit-dateto input-append">
            <input class="request-edit date-to request-edit-date-to" data-bind="datepicker: DateTo, datepickerOptions: {autoHide: true}, enable: IsEditable" type="text"  />
            <span class="add-on"><i class="icon-th"></i></span>
        </span>
        <div class="request-edit-timefrom input-append bootstrap-timepicker">
            <input type="text" class="input-small request-edit time-to" data-bind="timepicker: TimeTo, timepickerOptions: {showMeridian: ShowMeridian}, enable: IsTimeInputEnabled" />
            <span class="add-on"><i class="icon-time"></i></span>
        </div>
    </div>
    <label class="checkbox">
        <input type="checkbox" class="request-edit request-edit-fullday" data-bind="checked: IsFullDay, enable: IsEditable" /> @Resources.FullDay
    </label>
    <div class="request-edit-error alert alert-danger" data-bind="visible: ShowError, html: ErrorMessage" />    
    <div class="clearfix" data-bind="if: IsEditable">
        <button class="request-edit-update btn btn-primary pull-right" data-bind="click: AddRequest, text: EntityId > 0 ? '@Html.AttributeEncode(Resources.Update)' : '@Html.AttributeEncode(Resources.SubmitRequest)'"/>
    </div>
</script>

<script type="text/html" id="absence-request-detail-template">
	<div class="request-denyreason alert" data-bind="html: DenyReason, visible: DenyReason() != ''" />
    <div>
        <input type="text" class="input-block-level request-edit-subject request-edit" placeholder="@Resources.Subject" data-bind="value: Subject, enable: IsEditable" />
    </div>
    <div>
        <textarea class="input-block-level request-edit-message request-edit" placeholder="@Resources.Message" data-bind="value: Message, enable: IsEditable" />
    </div>
    <div>
        <label>
            @Resources.AbsenceType
        </label>
        <select class="request-edit request-edit-absence" data-bind="value: AbsenceId, enable: IsEditable">
			@foreach (var absenceType in Model.AbsenceTypes)
			{
				<option value="@Html.AttributeEncode(absenceType.Id)">@absenceType.Name</option>
			}
		</select>
    </div>
    <div>
        <span class="input-append">
            <input class="request-edit request-edit-datefrom" data-bind="datepicker: DateFrom, datepickerOptions: {autoHide: true, format: DateFormat()}, enable: IsEditable" type="text" />
            <span class="add-on"><i class="icon-th"></i></span>
        </span>
        <div class="request-edit-timefrom input-append bootstrap-timepicker">
            <input type="text" class="input-small request-edit" data-bind="timepicker: TimeFrom, timepickerOptions: {showMeridian: ShowMeridian}, enable: IsTimeInputEnabled" />
            <span class="add-on"><i class="icon-time"></i></span>
        </div>
    </div>
    <div>
        <span class="input-append">
            <input class="request-edit request-edit-dateto" data-bind="datepicker: DateTo, datepickerOptions: {autoHide: true, format: DateFormat()}, enable: IsEditable" type="text"  />
            <span class="add-on"><i class="icon-th"></i></span>
        </span>
        <div class="request-edit-timeto input-append bootstrap-timepicker">
            <input type="text" class="input-small request-edit" data-bind="timepicker: TimeTo, timepickerOptions: {showMeridian: ShowMeridian}, enable: IsTimeInputEnabled" />
            <span class="add-on"><i class="icon-time"></i></span>
        </div>
    </div>
    <label class="checkbox">
        <input type="checkbox" class="request-edit request-edit-fullday" data-bind="checked: IsFullDay, enable: IsEditable" /> @Resources.FullDay
    </label>
    <div class="request-edit-error alert alert-danger" data-bind="visible: ShowError, html: ErrorMessage" />    
    <div class="clearfix" data-bind="if: IsEditable">
        <button class="request-edit-update btn btn-primary pull-right" data-bind="click: AddRequest, text: EntityId > 0 ? '@Html.AttributeEncode(Resources.Update)' : '@Html.AttributeEncode(Resources.SubmitRequest)'"/>
    </div>
</script>

<script type="text/html" id="add-new-request-detail-template">
    <div>
        <h4 data-bind="visible: TextRequestHeaderVisible">@Resources.TextRequest</h4>
        <h4 data-bind="visible: AbsenceRequestHeaderVisible">@Resources.AbsenceRequest</h4>
    </div>
    <div>
        <input type="text" class="request-new-subject input-block-level" placeholder="@Resources.Subject" data-bind="value: Subject" />
    </div>
    <div>
        <textarea class="request-new-message input-block-level" placeholder="@Resources.Message" data-bind="value: Message" />
    </div>
    <div data-bind="visible: AbsenceRequestHeaderVisible">
        <label>
            @Resources.AbsenceType
        </label>
        <select class="request-new-absence" data-bind="value: AbsenceId">
			@foreach (var absenceType in Model.AbsenceTypes)
			{
				<option value="@Html.AttributeEncode(absenceType.Id)">@absenceType.Name</option>
			}
        </select>
    </div>
	<div>
		<span class="input-append">
            <input class="request-new-datefrom" data-bind="datepicker: DateFrom, datepickerOptions: {autoHide: true, format: DateFormat()}" type="text" />
			<span class="add-on"><i class="icon-th"></i></span>
		</span>
		<div class="input-append bootstrap-timepicker">
            <input type="text" class="request-new-timefrom input-small" data-bind="timepicker: TimeFrom, timepickerOptions: {showMeridian: ShowMeridian}, enable: IsTimeInputEnabled" />
            <span class="add-on"><i class="icon-time"></i></span>
        </div>
    </div>
    <div>
        <span class="input-append">
            <input class="request-new-dateto" data-bind="datepicker: DateTo, datepickerOptions: {autoHide: true, format: DateFormat()}" type="text"  />
            <span class="add-on"><i class="icon-th"></i></span>
        </span>
        <div class="input-append bootstrap-timepicker">
            <input type="text" class="request-new-timeto input-small" data-bind="timepicker: TimeTo, timepickerOptions: {showMeridian: ShowMeridian}, enable: IsTimeInputEnabled" />
            <span class="add-on"><i class="icon-time"></i></span>
        </div>
    </div>
    <label class="checkbox">
        <input type="checkbox" class="request-new-fullday" data-bind="checked: IsFullDay" /> @Resources.FullDay
    </label>
    <div class="request-new-error alert alert-danger" data-bind="visible: ShowError, html: ErrorMessage" />    
    <div class="clearfix">
        <button class="request-new-send btn btn-primary pull-right" data-bind="click: AddRequest, text: EntityId > 0 ? '@Html.AttributeEncode(Resources.Update)' : '@Html.AttributeEncode(Resources.SubmitRequest)'"/>
    </div>
</script>

<div class="displaynone" id="Request-detail-default-start-time">@TimeHelper.TimeOfDayFromTimeSpan(new TimeSpan(8, 0, 0))</div>
<div class="displaynone" id="Request-detail-default-end-time" >@TimeHelper.TimeOfDayFromTimeSpan(new TimeSpan(17, 0, 0))</div>
<div class="displaynone" id="Request-detail-default-fullday-start-time">@TimeHelper.TimeOfDayFromTimeSpan(new TimeSpan(0, 0, 0))</div>
<div class="displaynone" id="Request-detail-default-fullday-end-time" >@TimeHelper.TimeOfDayFromTimeSpan(new TimeSpan(23, 59, 0))</div>
<input id="Request-detail-today-year" type="hidden" value="@CultureInfo.CurrentCulture.Calendar.GetYear(DateTime.Today)"/>
<input id="Request-detail-today-month" type="hidden" value="@CultureInfo.CurrentCulture.Calendar.GetMonth(DateTime.Today)"/>
<input id="Request-detail-today-day" type="hidden" value="@CultureInfo.CurrentCulture.Calendar.GetDayOfMonth(DateTime.Today)"/>
<input id="Request-detail-datepicker-format" type="hidden" value="@Model.DatePickerFormat"/>

<div class="navbar">
	<div class="navbar-inner">
		<ul class="nav">
            @if (Model.RequestPermission.TextRequestPermission)
            {
                <li><a href="#" class="text-request-add" data-bind="click: Teleopti.MyTimeWeb.Request.RequestDetail.AddTextRequestClick"><i class="icon-plus"></i>&nbsp;@Resources.TextRequest</a></li>
            } 
            @if (Model.RequestPermission.AbsenceRequestPermission)
            {
                <li><a href="#" class="absence-request-add" data-bind="click: Teleopti.MyTimeWeb.Request.RequestDetail.AddAbsenceRequestClick"><i class="icon-plus"></i>&nbsp;@Resources.AbsenceRequest</a></li>
            }
            @if (Model.RequestPermission.ShiftTradeRequestPermission)
            {
                <li><a href="#" class="shifttrade-request-add" data-bind="click: Teleopti.MyTimeWeb.Request.AddShiftTradeRequest.OpenAddShiftTradeWindow"><i class="icon-plus"></i>&nbsp;@Resources.ShiftTradeRequest</a></li>
            }
		</ul>
	</div>
</div>
<div id="Requests-body-inner" class="request-body-inner relative">
	@Html.Partial("NewShiftTradeRequest")
    <div id="Request-add-section" class="well well-small" data-bind="visible: IsNewInProgress">
		<div data-bind="template : Template">
		</div>
	</div>
    <div id="Requests-data-binding-area" >
        <div class="alert alert-block" data-bind="visible: Requests().length == 0 && !isLoadingRequests(), hideWhenFadedOut: true" id="Requests-no-requests-found">
            @Resources.NoRequestsFound
        </div>
        
        <div data-bind="visible: isLoadingRequests">	   
            <div class="loading-gradient">
                <div class="loading"></div>
            </div>
        </div>
		
        <div class="request-list" data-bind="foreach: ColumnRequests">
            <div class="row" data-bind="foreach: Items">
                <div class="request span6">
                    <div class="well well-small">
                        <div class="request-body" data-bind="click: ShowDetails" style="cursor: pointer">
                            <div data-bind="if: CanDelete">
                                <button class="request-delete close" data-bind="click: $root.Delete,clickBubble: false" title="@Resources.Delete">&times;</button>
                            </div>
                            <div class="request-subject">
                                <h3 class="request-data-subject" data-bind="html: Subject"></h3>
                            </div>
                            <div class="request-details" >
                                <div>
                                    <span class="request-caption">@Resources.Type: </span><span data-bind="text: Type" class="request-data-type"></span>
                                    <span class="request-caption">@Resources.Status: </span><span class="request-caption" data-bind="visible: isProcessing"> (@Resources.ProcessingDotDotDot) </span><span class="label" data-bind="text: Status, css: StatusClass"></span>
                       
                                </div>
                                <span class="request-caption">@Resources.Date: </span><span class="request-data-date" data-bind="text: Dates"></span>
                                <span class="request-caption">@Resources.UpdatedOn: </span><span data-bind="text: UpdatedOn" ></span>
                            </div>
                            <div class="request-data-message request-text" data-bind="text: Text">
                            </div>
                        </div>
                        <div class="request-edit" data-bind="visible: IsSelected, with: DetailItem">
                            <hr />
                            <div data-bind="template : Template">
                            </div>
                        </div>
                    </div>    
                </div>
            </div>
        </div>

        <div class="loading-gradient" style="display: none">
            <div class="loading">
            </div>
        </div>
	    
        <div class="arrow-down displaynone" data-bind="fadeInIf: MoreToLoad, hideWhenFadedOut: true">
        </div>
        <div class="clearboth">
        </div>
    </div>		
</div>
