@using Teleopti.Ccc.UserTexts
@{
    Layout = null;
}

<div>
        <div>
            <div id="sender-info">
                <span class="request-caption">@Resources.From: </span><span class="shift-trade-swap-detail-agent-name request-data-type" id="Request-shift-trade-sender" data-bind="text: personFrom" ></span>
            </div>
            <div id="reciever-info">
                <span class="request-caption">@Resources.To: </span><span class="shift-trade-swap-detail-agent-name request-data-type" id="Request-shift-trade-reciever" data-bind="text: personTo" ></span>
            </div>
            </div>
	
	<!-- todo, Henke remove all these br ifs!!!! but everything is hardcoded px-->
	<br />
	<div id="Request-shift-trade-detail-info" class="alert alert-info" data-bind="visible: showInfo">@Resources.CannotDisplayScheduleWhenShiftTradeStatusIsNew</div>

	<!-- ko if: !showInfo() -->
	<!-- ko foreach: DetailedDays-->
	<div class="trade-day-detail">
		<div class="trade-date" data-bind="text: TradeDate, visible: $parent.DetailedDays().length > 1"></div>
		<div>
			<div class="shift-trade-swap-detail-timeline" data-bind="foreach: hours, visible: !$parent.showInfo()">
				<span class="shift-trade-swap-detail-timeline-line" data-bind="style: { width : hourWidth}, visible: isTimeLineVisible">
					<span class="shift-trade-timeline-number ui-corner-all" data-bind="text: hourText, style: {left: leftPx}, visible: showLabel"></span>
				</span>
			</div>

			<div class="shift-trade-swap-detail-schedule-row">
				<div class="shift-trade-swap-detail-schedule" data-bind="foreach: mySchedule().layers, hoverToggle: 'hoverBorder', hoverTarget: '#sender-info'">
					<span class="shift-trade-layer edit my" data-bind="style: styleJson, tooltip: { title: title }, attr: {'scheduleinfo' : title()}, css:{ dayoff : $parent.mySchedule().showDayOffStyle() }">
						<span class="shift-trade-dayoff-name" data-bind="text: $parent.mySchedule().dayOffText"></span>
					</span>
				</div>
				<div class="shift-trade-swap-detail-schedule-to" data-bind="foreach: otherSchedule().layers, hoverToggle: 'hoverBorder', hoverTarget: '#reciever-info'">
					<span class="shift-trade-layer edit other" data-bind="style: styleJson, tooltip: { title: title }, attr: { 'scheduleinfo': title() }, css: { dayoff: $parent.otherSchedule().showDayOffStyle() }">
						<span class="shift-trade-dayoff-name" data-bind="text: $parent.otherSchedule().dayOffText"></span>
					</span>
				</div>
			</div>
		</div>
	</div>
	<!-- /ko -->
	<!-- /ko -->
</div>

<br  data-bind="visible: !IsTradeCreatedByMe()"/>

<div  class="floatright" data-bind="visible: !IsTradeCreatedByMe() && !isReferred()" >
	<button id="Approve-shift-trade" data-bind="click: Approve, enable: CanApproveAndDeny, visible: IsPending" class="btn btn-primary">@Resources.Approve</button>
	<button id="Deny-shift-trade" data-bind="click: Deny, enable: CanApproveAndDeny, visible: IsPending" class="btn btn-danger">@Resources.Deny</button>
</div>

<div class="shift-trade-swap-detail-send-again"  data-bind="if: isReferred">
	<button class="btn btn-primary resend-shift-trade" data-bind="click: reSend, clickBubble: false">@Resources.SendAgain</button>
	<button class="btn btn-danger cancel-shift-trade"  data-bind="click: cancelReferred, clickBubble: false">@Resources.Cancel</button>
</div>

<br  data-bind="visible: !IsTradeCreatedByMe()"/>
<br  data-bind="visible: !IsTradeCreatedByMe()"/>
<br  data-bind="visible: isReferred()"/>
<br  data-bind="visible: isReferred()"/>
