@using Teleopti.Ccc.UserTexts
@{
    Layout = null;
}

 <div class="pdb5 request-detail-title">@Resources.ShiftTradeRequest</div>
	 <div id="Request-shift-trade-detail-subject" class="request-data-subject" data-bind="text: Subject"></div>
	 <div id="Request-shift-trade-detail-message"  class="request-text" data-bind="text: MessageText"></div>
    <br/>
    <br/>
    <br/>
	
<div>
    <br/>
    <div>
        <div>
            <div id="Request-shift-trade-detail-info" data-bind="visible: showInfo">@Resources.CannotDisplayScheduleWhenShiftTradeStatusIsNew</div>
            <br/>
            <span class="request-caption">@Resources.From: </span>
            <span class="shift-trade-swap-detail-agent-name request-data-type" id="Request-shift-trade-sender" data-bind="text: mySchedule().agentName" ></span>
        </div>
        <br/>

        <div  class="shift-trade-swap-detail-timeline" data-bind="foreach: hours, visible: !showInfo()" >
            <span class="shift-trade-swap-detail-timeline-line" data-bind="style: { width : hourWidth }">
                <span class="shift-trade-timeline-number ui-corner-all" data-bind="text: hourText, style: {left: leftPx}, visible: showLabel"></span>
            </span>
        </div>
        <div class="shift-trade-swap-detail-schedule-row">
			
            <div class="shift-trade-swap-detail-schedule" data-bind="foreach: mySchedule().layers">
                <span class="shift-trade-layer " data-bind="style: { left : leftPx, backgroundColor : backgroundColor, paddingLeft : paddingLeft}, attr: {'title' : title}, css:{ striped : $parent.mySchedule().showDayOffStyle(), dayoff : $parent.mySchedule().showDayOffStyle() }">
                    <span class="shift-trade-dayoff-name" data-bind="text: $parent.mySchedule().dayOffText"></span>
                </span>
            </div>
        </div>
		
    </div>	
	
    <br/>
    <div>
        <div>
            <span class="request-caption">@Resources.To: </span><span class="shift-trade-swap-detail-agent-name request-data-type" id="Request-shift-trade-reciever" data-bind="text: otherSchedule().agentName" ></span>
        </div>
        <br/>
        <div class="shift-trade-swap-detail-schedule-row">
			
            <div  class="shift-trade-swap-detail-timeline" data-bind="foreach: hours, visible: !showInfo()">
                <span class="shift-trade-swap-detail-timeline-line" data-bind="style: { width : hourWidth }">
                    <span class="shift-trade-timeline-number ui-corner-all" data-bind="text: hourText, style: {left: leftPx}, visible: showLabel"></span>
                </span>
            </div>
            <div class="shift-trade-swap-detail-schedule" data-bind="foreach: otherSchedule().layers">
                <span class="shift-trade-layer" data-bind="style: { left : leftPx, backgroundColor : backgroundColor, paddingLeft : paddingLeft}, attr: {'title' : title}, css:{ striped : $parent.otherSchedule().showDayOffStyle(), dayoff : $parent.otherSchedule().showDayOffStyle() }">
                    <span class="shift-trade-dayoff-name" data-bind="text: $parent.otherSchedule().dayOffText"></span>
                </span>					
            </div>	
        </div>
    </div>
</div>
<br/>
  <div  class="floatright" data-bind="visible: !IsTradeCreatedByMe()" >
        <input type="button" id="Approve-shift-trade" value="@Resources.Approve" data-bind="click: Approve, enable: CanApproveAndDeny, visible: IsPending" class="button mb5 ui-button ui-widget ui-state-default ui-corner-all"></input>
        <input type="button" id="Deny-shift-trade" value="@Resources.Deny" data-bind="click: Deny, enable: CanApproveAndDeny, visible: IsPending" class="button mb5 ui-button ui-widget ui-state-default ui-corner-all"></input>
    </div>

