@using Teleopti.Ccc.UserTexts

<div id="Request-shift-trade-bulletin-board" class="well well-sm displaynone">
	<span class="bulletin-ready-loading-flag displaynone" data-bind="css: { 'is-ready-loaded': isReadyLoaded }"></span>
	<div class="shift-trade-missing-wcs-message alert alert-warning" data-bind="visible: missingWorkflowControlSet">
		@Resources.MissingWorkflowControlSet
	</div>

	<div id="loadingRequestIndicator" class="loading-gradient" data-bind="if: !isReadyLoaded()">
		<div class="loading"></div>
	</div>

	<div class="datepicker-container row clearfix" data-bind="if: !missingWorkflowControlSet() && isReadyLoaded()">
		<div class="col-sm-6 col-lg-4 fix-margin">
			<div class="input-group">
				<span class="input-group-btn">
					<button class="bulletin-previous-date btn" aria-label="@Resources.PreviousDay" data-bind="click: previousDate, enable: previousDateValid() && !IsLoading()">
						<i class="glyphicon glyphicon-chevron-left"></i>
					</button>
				</span>
				<input type="text" class="col-xs-2 form-control add-shifttrade-datepicker" data-bind="datepicker: requestedDate, datepickerOptions: { format: DatePickerFormat(), startDate: openPeriodStartDate(), endDate: openPeriodEndDate(), weekStart: weekStart() }, enable: !IsLoading()" />

				<span class="input-group-btn">
					<button class="btn" aria-label="@Resources.SelectDate" aria-haspopup="true" data-bind="datepicker: requestedDate, datepickerOptions: { startDate: openPeriodStartDate(), endDate: openPeriodEndDate(), weekStart: weekStart() }, enable: !IsLoading()">
						<i class="glyphicon glyphicon-calendar"></i>
					</button>
					<button class="next-date btn" aria-label="@Resources.NextDay" data-bind="click: nextDate, enable: nextDateValid() && !IsLoading()">
						<i class="glyphicon glyphicon-chevron-right"></i>
					</button>
				</span>
			</div>
		</div>
		<div class="col-xs-6 col-sm-3 col-lg-2 fix-margin" data-bind="visible: !isDetailVisible()">
			<div class="dropdown filter-time-dropdown-button" data-bind="click: filterStartEndTimeClick">
				<a class="dropdown-toggle btn" data-toggle="dropdown" href="#" style="color: black">
					@Resources.StartTime
					<b class="caret"></b>
				</a>
				<ul class="dropdown-menu filter-time-dropdown-form" role="menu" data-bind="foreach: filterStartTimeList">
					<li>
						<label class="checkbox filter-time-text">
							<input type="checkbox" data-bind="checked: isChecked">
							<span data-bind="text: text"></span>
						</label>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-xs-6 col-sm-3 col-lg-2 fix-margin" data-bind="visible: !isDetailVisible()">
			<div class="dropdown filter-time-dropdown-button" data-bind="click: filterStartEndTimeClick">
				<a class="dropdown-toggle btn" data-toggle="dropdown" href="#" style="color: black">
					@Resources.EndTime
					<b class="caret"></b>
				</a>
				<ul class="dropdown-menu filter-time-dropdown-form" role="menu" data-bind="foreach: filterEndTimeList">
					<li>
						<label class="checkbox filter-time-text">
							<input type="checkbox" data-bind="checked: isChecked">
							<span data-bind="text: text"></span>
						</label>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div data-bind="visible: isReadyLoaded(), fadeInIf: !IsLoading(), fadeInDuration: 150, fadeOutDuration: 50">
		<div class="shift-trade-add-schedule" data-bind="visible: !missingWorkflowControlSet()">
			<div class="shift-trade-timeline">
				<div class="relative">
					<div data-bind="foreach: hours">
						<div class="shift-trade-ruler absolute" data-bind="style: rulerStyleJson, visible: showHourLine"></div>
						<div class="shift-trade-label label label-info absolute" data-bind="style: labelStyleJson, text: hourText, visible: isVisible"></div>
					</div>
				</div>
			</div>
			<table style="width: 100%">
				<thead>
					<tr>
						<td>&nbsp;</td>
						<td></td>
						<td class="hidden-xs hidden-sm shift-trade-contract-time">
							<strong>@Resources.ContractTime</strong>
						</td>
					</tr>
				</thead>
				<tbody>
					<tr class="shift-trade-my-schedule-row">
						<td class="shift-trade-agent-name">
							<div data-bind="style: {'font-weight': 'bold'}">@Resources.MySchedule</div>
							<div class="hidden-md hidden-lg shift-trade-contract-time-mobile" data-bind="text: mySchedule().contractTime"></div>
						</td>
						<td class="shift-trade-my-schedule">
							<!--ko if:mySchedule().isFullDayAbsence-->
							<div data-bind="foreach: mySchedule().layers">
								<!--ko if:!$parent.mySchedule().isDayOff-->
								<div class="shift-trade-layer-container floatleft">
									<div class="shift-trade-layer add" data-bind="style: styleJson, tooltip: { title: tooltipText, html: true }, attr: { 'scheduleinfo': tooltipText }"></div>
								</div>
								<!--/ko-->
								<!--ko if:$parent.mySchedule().isDayOff-->
								<div class="shift-trade-layer-container floatleft shift-trade-dayoff">
									<div class="dayoff" data-bind="style:$parent.mySchedule().isFullDayAbsence&&{'background-color':backgroundColor},tooltip:{ title: tooltipText, html: true}, text:$parent.mySchedule().dayOffName || titleHeader"></div>
								</div>
								<!--/ko-->
							</div>
							<!--/ko-->
							<!--ko if:!mySchedule().isFullDayAbsence-->
							<div data-bind="foreach: mySchedule().layers">
								<div class="shift-trade-layer-container floatleft">
									<div class="shift-trade-layer add" data-bind="style: styleJson, tooltip: { title: tooltipText, html: true }, attr: { 'scheduleinfo': tooltipText }"></div>
								</div>
							</div>
							<!--ko if:mySchedule().isDayOff -->
							<div class="shift-trade-layer-container floatleft shift-trade-dayoff">
								<div class="dayoff" data-bind="text: mySchedule().dayOffName"></div>
							</div>
							<!--/ko-->
							<!--/ko-->
						</td>
						<td class="hidden-xs hidden-sm shift-trade-contract-time">
							<div data-bind="text: mySchedule().contractTime"></div>
						</td>
					</tr>
				</tbody>
				<tbody data-bind="foreach: possibleTradeSchedules">
					<tr id="agent-in-bulletin-board" style="display: none;" class="shift-trade-person-schedule-row agent" data-bind="visible: isVisible, click: $parent.chooseAgent, hoverToggle: 'hoverBorder', hoverIf: !$parent.isDetailVisible()">
						<td class="shift-trade-agent-name agent-name-row">
							<div data-bind="style: {'font-weight': 'bold'}, text: $data.agentName==''?'(@Resources.Anonymous)':$data.agentName"></div>
							<div class="hidden-md hidden-lg shift-trade-contract-time-mobile" data-bind="text: $data.contractTime"></div>
						</td>
						<td class="shift-trade-possible-trade-schedule">
							<div data-bind="foreach: $data.layers">
								<!--ko if:!$parent.isDayOff-->
								<div class="shift-trade-layer-container floatleft">
									<div class="shift-trade-layer add" data-bind="style: styleJson, tooltip: { title: tooltipText, html: true, container: '.tooltipContainer' }, attr: { 'scheduleinfo': tooltipText }"></div>
								</div>
								<!--/ko-->
								<!--ko if:$parent.isDayOff-->
								<div class="shift-trade-layer-container floatleft shift-trade-dayoff">
									<div class="dayoff" data-bind="text: $parent.dayOffName || titleHeader"></div>
									<div class="shift-trade-layer add" data-bind="visible:!$parent.isFullDayAbsence, style: styleJson, tooltip: { title: tooltipText, html: true }, attr: { 'scheduleinfo': tooltipText }"></div>
								</div>
								<!--/ko-->
							</div>
							<!--ko if:isDayOff && $data.layers.length == 0 -->
							<div class="shift-trade-layer-container floatleft shift-trade-dayoff">
								<div class="dayoff" data-bind="text: dayOffName"></div>
							</div>
							<!--/ko-->
							<!--ko if:!isDayOff && $data.layers.length == 0 -->
							<div class="shift-trade-layer-container floatleft shift-trade-empty">
								<div class="empty" data-bind="tooltip: { title: '@Resources.OptionEmptyDay', html: true, container: '.tooltipContainer'}"></div>
							</div>
							<!--/ko-->
						</td>
						<td class="hidden-xs hidden-sm shift-trade-contract-time">
							<div data-bind="text: $data.contractTime"></div>
						</td>
					</tr>
				</tbody>
			</table>
			<div style="float:right; display: none;" data-bind="visible: !isDetailVisible() && isPageVisible()">
				<a data-bind="click: goToFirstPage"><i class="glyphicon glyphicon-fast-backward"></i></a>
				<a data-bind="click: goPreviousPages, visible: isPreviousMore()">...</a>
				<!-- ko foreach: selectablePages() -->
				<a data-bind="text: $data.index(), click: $parent.selectPage, css: {'page-selected': $data.isSelected()}"></a>
				<!-- /ko -->
				<a data-bind="click: goNextPages, visible: isMore()">...</a>
				<a data-bind="click: goToLastPage"><i class="glyphicon glyphicon-fast-forward"></i></a>
			</div>
			<div class="tooltipContainer"></div>
		</div>

		<div class="row" style="margin: 0;">
			<div id="Request-add-shift-trade-detail-section" data-bind="visible: isDetailVisible" class="well well-sm col-xs-12 col-md-6"
			 style="margin-bottom: 0; display: none;">
				<div data-bind="visible: hideMessageBox()">
					@Resources.SureToMakeShiftTrade
				</div>
				<div class="form-group" data-bind="visible: !hideMessageBox()">
					<input id="Request-add-shift-trade-subject-input" class="form-control" type="text" data-bind="value: subject"
					 class="input-block-level" placeholder="@Resources.Subject" maxlength="80" />
				</div>
				<div class="form-group" data-bind="visible: !hideMessageBox()">
					<textarea id="Request-add-shift-trade-message-input" class="form-control" data-bind="value: message, valueUpdate: 'afterkeydown', event:{change:checkMessageLength}"
					 rows="4" class="input-block-level" placeholder="@Resources.Message"></textarea>
				</div>
				<div class="pull-right">
					<button class="btn cancel-button" data-bind="click: cancelRequest">@Resources.Cancel</button>
					<button id="Shift-trade-bulletin-board-send" class="btn btn-primary send-button" data-bind="enable: isSendEnabled, click: sendRequest">@Resources.Send</button>
				</div>
				<div class="error" data-bind="html: errorMessage"></div>
			</div>
		</div>

		<div class="shift-trade-no-possible-trades alert alert-info" style="display: none;" data-bind="visible: noPossibleShiftTrades()">
			@Resources.NoAgentsAvailableForBulletinBoard
		</div>
	</div>
</div>

<div class="modal fade" id="lock-trade-conflict" tabindex="-1" role="dialog" aria-labelledby="lock-trade-modal-label"
 aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="alert alert-warning">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="lock-trade-modal-label">@Resources.ShiftTradeBulletinBoard</h4>
			</div>
			<div class="modal-body">
				@Resources.AnnouncementTakenByOthers
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">@Resources.Ok</button>
			</div>
		</div>
	</div>
</div>