@using Teleopti.Ccc.UserTexts
@{
	Layout = null;
}

<div>
	<input type="text" class="form-control request-edit-subject" placeholder="@Resources.Subject" data-bind="value: Subject, visible: IsEditable" maxlength="80"/>
</div>
<div class="form-group">
	<!-- ko if: IsEditable -->
		<textarea class="form-control request-edit-message" placeholder="@Resources.Message" data-bind="value: Message, valueUpdate: 'afterkeydown', event:{change: checkMessageLength}" />
	<!-- /ko -->
</div>
<div class="row form-group">
	<div class="col-xs-8">
		<span class="input-group">
			<input class="input-sm request-edit-datefrom form-control" data-bind="datepicker: DateFrom, datepickerOptions: { autoHide: true, format: DateFormat(), weekStart: weekStart() }, enable: IsEditable() && IsDateInputEditable" type="text" />
			<span class="input-group-btn">
				<button class="btn btn-sm" aria-label="@Resources.SelectDate" aria-haspopup="true" id="dateFromButton" data-bind="datepicker: DateFrom, datepickerOptions: { autoHide: true, weekStart: weekStart() }, enable: IsEditable">
					<i class="glyphicon glyphicon-calendar"></i>
				</button>
			</span>
		</span>
	</div>
	<div class="col-xs-4 bootstrap-timepicker">
		<div class="request-edit-timefrom input-group">
			<input type="text" class="input-sm request-edit time-from form-control" data-bind="timepicker: TimeFrom, timepickerOptions: {showMeridian: ShowMeridian, showInputs: false}, visible: IsTimeInputVisible,  enable: IsEditable, scrollIntoViewWhenClick:'#Request-add-section'" />
			<span class="input-group-btn">
				<button class="btn btn-sm" aria-label="@Resources.SelectTime" aria-haspopup="true" id="timeFromButton" data-bind="timepicker: TimeFrom, timepickerOptions: { showMeridian: ShowMeridian, showInputs: false}, visible: IsTimeInputVisible, enable: IsEditable">
					<i class="glyphicon glyphicon-time"></i>
				</button>
			</span>
		</div>
	</div>
</div>
<div class="row form-group">
	<div class="col-xs-8">
		<span class="request-edit-dateto input-group">
			<input class="request-edit-date-to input-sm form-control" data-bind="datepicker: DateTo, datepickerOptions: { autoHide: true, weekStart: weekStart(), format: DateFormat() }, enable: IsEditable() && IsDateInputEditable" type="text"  />
			<span class="input-group-btn">
				<button class="btn btn-sm" aria-label="@Resources.SelectDate" aria-haspopup="true" data-bind="datepicker: DateTo, datepickerOptions: { autoHide: true, weekStart: weekStart() }, enable: IsEditable">
					<i class="glyphicon glyphicon-calendar"></i>
				</button>
			</span>
		</span>
	</div>
	<div class="col-xs-4 bootstrap-timepicker">
		<div class="request-edit-timeto input-group">
			<input type="text" class="input-sm form-control" data-bind="timepicker: TimeTo, timepickerOptions: {showMeridian: ShowMeridian, showInputs: false}, visible: IsTimeInputVisible, enable: IsEditable, scrollIntoViewWhenClick:'#Request-add-section'" />
			<span class="input-group-btn">
				<button class="btn btn-sm" aria-label="@Resources.SelectTime" aria-haspopup="true" data-bind="timepicker: TimeTo, timepickerOptions: { showMeridian: ShowMeridian, showInputs: false}, visible: IsTimeInputVisible, enable: IsEditable">
					<i class="glyphicon glyphicon-time"></i>
				</button>
			</span>
		</div>
	</div>
</div>
<label class="checkbox">
	<input type="checkbox" class="request-edit-fullday" data-bind="checked: IsFullDay, enable: IsEditable" /> @Resources.FullDay
</label>
<div class="request-edit-error alert alert-danger" data-bind="visible: ShowError, html: ErrorMessage"></div>
<div class="clearfix" data-bind="if: IsEditable">
	<button class="request-edit-update btn btn-primary pull-right" data-bind="click: AddRequest">@Resources.Save</button>
</div>
