@using Teleopti.Ccc.UserTexts
@using Teleopti.Ccc.Web.Areas.MyTime.Core
@using Teleopti.Ccc.Web.Areas.MyTime.Models.Shared
@using Teleopti.Ccc.Web.Areas.MyTime.Models.Preference
@model PreferenceViewModel
@{
	Layout = null;
}

<div id="Preference-period" class="pd5 info-pnl">
	@if (Model.PreferencePeriod == null)
	{
		@string.Format("{0} : {1}", Resources.PreferencePeriod, Resources.MissingWorkflowControlSet)
	}
	else
	{
		@string.Format("{0} : {1} | ", Resources.PreferencePeriod, Model.PreferencePeriod.Period)
		@string.Format("{0} : {1}", Resources.IsOpen, Model.PreferencePeriod.OpenPeriod)
	}
</div>
<div id="Preference-period-feedback-view">
	<div id="Preference-period-feedback-target-daysoff" class="pd5 info-pnl">
		@{
			var range = Html.Raw(string.Format(Resources.YouShouldHaveBetweenXAndYDaysOff, "<span class='lower'>-</span>", "<span class='upper'>-</span>"));
			var single = Html.Raw(string.Format(Resources.YouShouldHaveXDaysOff, "<span class='days'>-</span>"));
		}
		<div class="range">@range</div>
		<div class="single">@single</div>
	</div>
	<div id="Preference-period-feedback-target-hours" class="pd5 info-pnl">
		@{
			var rangeHours = Html.Raw(string.Format(Resources.YouShouldWorkBetweenXAndYHours, "<span class='lower'>-</span>", "<span class='upper'>-</span>"));
			var singleHours = Html.Raw(string.Format(Resources.YouShouldWorkXHours, "<span class='hours'>-</span>"));
		}
		<div class="range">@rangeHours</div>
		<div class="single">@singleHours</div>
	</div>
	<div id="Preference-period-feedback-possible-result-daysoff" class="pd5 info-pnl">
		@Html.Raw(string.Format(Resources.YourPreferencesCanResultXDaysOff, "<span class='days'>-</span>"))
	</div>
	<div id="Preference-period-feedback-possible-result-contract-time" class="pd5 info-pnl">
		<!-- ko if: PossibleResultContractTimeLower() == PossibleResultContractTimeUpper() -->
		@Html.Raw(string.Format(Resources.YourPreferencesCanResultXHours, "<span data-bind='text: PossibleResultContractTimeLower' style='font-size: 100px; font-weight: bold; color: blue'>-</span>"))
		 <!-- /ko -->
		<!-- ko if: PossibleResultContractTimeLower() != PossibleResultContractTimeUpper() -->
		@Html.Raw(string.Format(Resources.YourPreferencesCanResultXToYHours, "<span data-bind='text: PossibleResultContractTimeLower' style='font-size: 100px; font-weight: bold; color: blue'>-</span>","<span data-bind='text: PossibleResultContractTimeUpper' style='font-size: 100px; font-weight: bold; color: blue'>-</span>"))
     <!-- /ko -->
		
	</div>
</div>
<div id="Preference-body" class="body-calendarview clearfix" data-mytime-periodselection='@Html.Schedule().PeriodSelectionAsJson(Model.PeriodSelection)'>



		
	<div id="Preference-body-inner" class="body-calendarview-inner clearfix">
		<ul class="weekdays">
			@foreach (WeekDayHeader weekDayName in Model.WeekDayHeaders)
			{
				<li>@weekDayName.Title</li>
			}
		</ul>
		@foreach (WeekViewModel week in Model.Weeks)
		{
			<ul class="calendarview-week" onselectstart="return false;">
				<li>
					<div>

					</div>
				</li>
				@foreach (DayViewModel day in week.Days)
				{
					PreferenceDayViewModel preference = day.Preference;
					PersonAssignmentDayViewModel personAssignment = day.PersonAssignment;
					DayOffDayViewModel dayOff = day.DayOff;
					AbsenceDayViewModel absence = day.Absence;
					<li class="relative @(day.Feedback ? "feedback" : "") @(day.Editable ? "editable" : "non-editable") @Html.AttributeEncode(day.StyleClassName)" data-mytime-date="@Html.Schedule().FormatDate(day.Date)">
						<div>
							<div class="day-header">
								<span class="floatleft ml5">@day.Header.DayDescription</span><span class="floatright mr5">@day.Header.DayNumber</span>
							</div>
							<div class="day-content pdt10" style="border-left-color: @day.BorderColor">
								@if (preference != null)
								{
									<div class="preference">
										@preference.Preference
									</div>
									<div class="feedback-error truncate" data-bind="text: FeedbackError"></div>
									<div class="possible-start-times icon leftarrow truncate" data-bind="text: PossibleStartTimes"></div>
									<div class="possible-end-times icon rightarrow truncate" data-bind="text: PossibleEndTimes"></div>
									<div class="possible-contract-times icon doublearrow-blue truncate" data-bind="text: PossibleContractTimes"></div>
								}
								@if (personAssignment != null)
								{
									<div class="scheduled">
										<span class="displayblock fullwidth">@personAssignment.ShiftCategory</span>
										<strong class="displayblock fullwidth">@personAssignment.TimeSpan</strong>
										<span class="displayblock fullwidth">@personAssignment.ContractTime</span>
									</div>
								}
								@if (dayOff != null)
								{
									<div class="dayoff">
										@dayOff.DayOff
									</div>
								}
								@if (absence != null)
								{
									<div class="absence">
										@absence.Absence
									</div>
								}
							</div>
						</div>
					</li>
				}
			</ul>
		}
	</div>
</div>