@{
    Layout = null;
}

<!DOCTYPE html>

<html dir="@(Request.QueryString["dir"] ?? "ltr")" class="@(Request.QueryString["dir"] ?? "ltr")">
<head>
	<title>WidgetStylingSample</title>
    
	<link href="@Url.Content("~/Content/jqueryui/smoothness/jquery-ui-1.10.2.custom.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/Scripts/jquery.qtip.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Areas/MyTime/Content/Css/jquery.ui.custom.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Areas/MyTime/Content/Css/Site.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Areas/MyTime/Content/Css/jquery.ui.splitbutton.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Areas/MyTime/Content/Css/jquery.ui.selectbox.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Areas/MyTime/Content/Css/jquery.ui.combobox.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Areas/MyTime/Content/Css/jquery.ui.labeledinput.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Areas/MyTime/Content/Css/jquery.ui.connector.css")" rel="stylesheet" type="text/css" />
	
	<script src="@Url.Content("~/Content/jquery/jquery-1.10.2.js")"></script>
	<script src="@Url.Content("~/Content/Scripts/modernizr-2.6.2.js")"></script>
	<script src="@Url.Content("~/Content/jqueryui/jquery-ui-1.10.2.custom.js")"></script>
	<script src="@Url.Content("~/Content/Scripts/json2.js")"></script>
	<script src="@Url.Content("~/Content/Scripts/jquery.hoverIntent.js")"></script>
	<script src="@Url.Content("~/Content/Scripts/jquery.qtip.js")"></script>
	<script src="@Url.Content("~/Content/Scripts/indexOf.js")"></script>
	<script src="@Url.Content("~/Content/Scripts/knockout-2.2.1.js")"></script>

	<script src="@Url.Content("~/Areas/MyTime/Content/Scripts/jquery.extensions.js")"></script>
	<script src="@Url.Content("~/Areas/MyTime/Content/Scripts/jquery.ui.labeledinput.js")"></script>
	<script src="@Url.Content("~/Areas/MyTime/Content/Scripts/jquery.ui.splitbutton.js")"></script>
	<script src="@Url.Content("~/Areas/MyTime/Content/Scripts/jquery.ui.selectbox.js")"></script>
	<script src="@Url.Content("~/Areas/MyTime/Content/Scripts/jquery.ui.custominput.js")"></script>
    <script src="@Url.Content("~/Areas/MyTime/Content/Scripts/jquery.ui.combobox.js")"></script>
	<script src="@Url.Content("~/Areas/MyTime/Content/Scripts/jquery.ui.calendarselectable.js")"></script>
    
	<script type="text/javascript">
	    $(function() {
	        $("#splitbutton-sample").splitbutton();
	        $("#selectbox-sample-list1").selectbox();
	        $("#selectbox-sample-list2").selectbox();
	        $("#combobox-sample-list1").combobox();
	        $("#combobox-sample-list2").combobox();
	        $("#the-input").labeledinput();
	    });
	</script>
</head>
<body dir="@(Request.QueryString["dir"] ?? "ltr")">
	<div class="floatleft">
		<h1>Splitbutton</h1>
		<div id="splitbutton-sample">
			
        <button title="Sample" id="splitbutton-sample-set-button"></button>
			<select title="Sample" id="splitbutton-sample-list">
				<optgroup label="Option group"></optgroup>
				<option value="option1" selected="selected">Option 1</option>
				<option value="option2">Option 2</option>
				<option value="-">Separator with text</option>
				<option value="option3">Option 3</option>
				<option value="-"></option>
				<option value="option4">Option 4</option>
			</select>
		</div>
	</div>
    
	<div class="floatleft">
		<h1>Selectbox</h1>
		<span id="selectbox-sample1">
			<select title="Sample" id="selectbox-sample-list1" class="ui-selectbox-init">
				<optgroup label="Option group"></optgroup>
				<option value="option1" selected="selected">Option 1</option>
				<option value="option2">Option 2</option>
				<option value="-">Separator with text</option>
				<option value="option3">Option 3</option>
				<option value="-"></option>
				<option value="option4">Option 4</option>
			</select>
		</span>
		<span id="selectbox-sample2">
			<select title="Sample" id="selectbox-sample-list2" class="ui-selectbox-init">
				<optgroup label="Option group"></optgroup>
				<option value="option1" selected="selected">Option 1</option>
				<option value="option2">Option 2</option>
				<option value="-">Separator with text</option>
				<option value="option3">Option 3</option>
				<option value="-"></option>
				<option value="option4">Option 4</option>
			</select>
		</span>
	</div>
	<br />
    <div>
		<h1>Labeled input</h1>
		<div id="labeled-input-sample">
			<label class="displayblock" for="the-input">Label text:</label>
		    <input id="the-input" type="text"/>
		</div>
	</div>
    <br />
	<div class="floatleft">
		<h1>Combobox</h1>
		<span id="combobox-sample1">
			<select title="Sample" id="combobox-sample-list1">
				<optgroup label="Option group"></optgroup>
				<option value="option1">Option 1</option>
				<option value="option2">Option 2</option>
				<option value="-">Separator with text</option>
				<option value="option3">Option 3</option>
				<option value="-"></option>
				<option value="option4">Option 4</option>
			</select>
		</span>
		<span id="combobox-sample2">
			<select title="Sample" id="combobox-sample-list2">
				<optgroup label="Option group"></optgroup>
				<option value="option1">Option 1</option>
				<option value="option2">Option 2</option>
				<option value="-">Separator with text</option>
				<option value="option3">Option 3</option>
				<option value="-"></option>
				<option value="option4">Option 4</option>
			</select>
		</span>
	</div>
    
</body>
</html>
