@using Teleopti.Ccc.Web.Areas.MyTime.Models.Asm
@model AsmViewModel
@{
	const double pixelsPerHour = 50;
	const double timeLineHourWidth = (pixelsPerHour) - 1; //"1" due to border size
}
<script type="text/javascript">
	$(function () {
		var serverMsSince1970 = new Date(@(Model.StartDate.Year), @(Model.StartDate.Month - 1), @(Model.StartDate.Day)).getTime();
		var pixelsPerHour = @(pixelsPerHour);


		var latestStart = 0;
		var nu = 2120;
		$('.asm-layer')
			.each(function() {
				var startElement = $(this).find('.asm-start');
				var start = startElement.text();
				if(start > latestStart && start <= nu) {
					latestStart = start;
				}
			});
		alert(latestStart);

		Teleopti.MyTimeWeb.Asm.Init(serverMsSince1970, pixelsPerHour);
	});
</script>

<div class="asm-outer-canvas ui-corner-all">
	<div class="asm-schedule-canvas ui-corner-all">
		<div class="asm-time-marker"></div>
		<div class="asm-sliding-schedules" style="width:@(3 * 24 * pixelsPerHour)px;">
			@foreach (var layer in Model.Layers)
			{
				<span class="asm-layer ui-corner-all" style="left:@(layer.RelativeStartInMinutes * pixelsPerHour / 60)px;
                                                                 	padding-left:@(layer.LengthInMinutes * pixelsPerHour / 60)px;
                                                                 	background-color: @(layer.Color)">
					<span class="asm-start" style="display: none;">@(layer.RelativeStartInMinutes)</span>
					<span class="asm-end" style="display: none;">23123123123123</span>
				</span>
			}
			@for (var day = 0; day <= 2; day++)
			{
				for (var hour = 0; hour < 24; hour++)
				{
					<span class="asm-timeline-line" style="width:@(timeLineHourWidth)px;">
						<span class="asm-timeline-number ui-corner-all">@(hour)</span>
					</span>
				}
			}
		</div>
	</div>
	<div class="asm-current-info">
		<div class="asm-info-canvas ui-corner-all">
			<span style="width: 50px;">
				<div>xxDebug</div>
				<div>xxCurrent</div>
				<div>xxNext</div>
			</span>

			<span style="width: 115px;">
				<div id="asm-info-debug">&nbsp;</div>
				<div id="asm-info-current-activity">PhonePhonePhone</div>
				<div id="asm-info-next-activity">Back office</div>			
			</span>
			<span style="width: 40px;">
				<div>&nbsp;</div>
				<div id="asm-info-current-time">PhonePhonePhone</div>
				<div>14:30</div>
			</span>
		</div>
		</div>
	  <div class="clearboth" />
</div>
