@using Teleopti.Ccc.UserTexts
@using Teleopti.Ccc.Web.Areas.MyTime.Models.Asm
@model AsmViewModel
@{
	const double pixelsPerHour = 50;
	const double timeLineHourWidth = (pixelsPerHour) - 1; //"1" due to border size
	const int timeLineMarkerWidth = 100;
}
<script type="text/javascript">
	$(function () {
		var serverMsSince1970 = new Date(@(Model.StartDateTime.Year), @(Model.StartDateTime.Month - 1), @(Model.StartDateTime.Day), @(Model.StartDateTime.Hour)).getTime();
		Teleopti.MyTimeWeb.Asm.Init(serverMsSince1970, @(pixelsPerHour), @(Html.Raw(Json.Encode(Model.Hours))));
	});
</script>

<div class="asm-outer-canvas ui-corner-all">
	<div class="asm-schedule-canvas ui-corner-all">
		<div class="asm-time-marker" style="width:@(timeLineMarkerWidth)px">
		</div>
		<div class="asm-sliding-schedules" style="width:@(3 * 24 * pixelsPerHour)px;">
			<!-- ko foreach: layers -->
			<span class="asm-layer ui-corner-all" data-bind="style: { left : leftPx, backgroundColor : backgroundColor, paddingLeft : paddingLeft}, attr: {'title' : title}"></span>
			<!-- /ko -->
			<!-- ko foreach: timeLines -->
			<span class="asm-timeline-line" style="width:@(timeLineHourWidth)px;">
				<span class="asm-timeline-number ui-corner-all" data-bind="text: $data"></span>
			</span>
			<!-- /ko -->
		</div>
	</div>
	<div class="asm-current-info">
		<div class="asm-info-canvas ui-corner-all">
			<div>@(Resources.Activities)</div>
			<table id="asm-current-info-table">
				<tbody data-bind="foreach: activityInfo">
					<tr data-bind="css: { 'asm-info-current-activity' : active }">
						<td class="asm-info-time-column" data-bind="text: time"></td>
						<td data-bind="text: payload"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="clearboth" />
</div>