@using Teleopti.Ccc.Web.Areas.MyTime.Models.Asm
@using Teleopti.Ccc.Web.Core
@model AsmViewModel
@{
	const double pixelsPerHour = 50;
	const double timeLineHourWidth = (pixelsPerHour) - 1; //"1" due to border size
	var canvasStartMsSince1970 = Model.StartDateTime.SubtractJavascriptBaseDate().TotalMilliseconds;
	const int timeLineMarkerWidth = 100;
}
<script type="text/javascript">
	$(function () {
		var serverMsSince1970 = new Date(@(Model.StartDateTime.Year), @(Model.StartDateTime.Month - 1), @(Model.StartDateTime.Day), @(Model.StartDateTime.Hour)).getTime();
		Teleopti.MyTimeWeb.Asm.Init(serverMsSince1970, @(pixelsPerHour), @(Html.Raw(Json.Encode(Model.Hours))));
	});
</script>
<div class="asm-outer-canvas ui-corner-all">
	<div class="asm-schedule-canvas ui-corner-all">
		<div class="asm-time-marker" style="width:@(timeLineMarkerWidth)px">
		</div>
		<div class="asm-sliding-schedules" style="width:@(3 * 24 * pixelsPerHour)px;">
			@foreach (var layer in Model.Layers)
	{
				<span class="asm-layer ui-corner-all" style="left:@((layer.StartJavascriptBaseDate - canvasStartMsSince1970) * pixelsPerHour / 60 / 60 / 1000 + @timeLineMarkerWidth)px;
																						padding-left:@(layer.LengthInMinutes * pixelsPerHour / 60)px;
																						background-color: @(layer.Color)"
						data-asm-start-time="@(layer.StartTimeText)"
						data-asm-end-time="@(layer.EndTimeText)"
						data-asm-activity="@(layer.Payload)"></span>
	}
			<!-- ko foreach: timeLines -->
			<span class="asm-timeline-line" style="width:@(timeLineHourWidth)px;">
				<span class="asm-timeline-number ui-corner-all" data-bind="text: $data"></span>
			</span>
			<!-- /ko -->
		</div>
	</div>
	<div class="asm-current-info">
		<div class="asm-info-canvas ui-corner-all">
			<div>xxxActivities (start time)</div>
			<table id="asm-current-info-table">
				<tbody data-bind="foreach: activityInfo">
					<tr data-bind="css: { 'asm-info-current-activity' : active }">
						<td class="asm-info-time-column" data-bind="text: time"></td>
						<td data-bind="text: payload"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="clearboth" />
</div>
