@using Teleopti.Ccc.Web.Areas.MyTime.Models.Asm
@model AsmViewModel
@{
	const double pixelsPerHour = 50;
	const int timeLineHourBorderSize = 1;
	const double timeLineHourWidth = (pixelsPerHour) - timeLineHourBorderSize;
	const int timeMarkerPosition = 120;
	var milliSecondsSince1970 = Model.StartDate.Subtract(new DateTime(1970, 1, 1)).TotalMilliseconds;
}
<style>
	.asm-timeline-border
	{
		border: solid green;
		top: 100px;
		position: relative;
		height: 50px; 
		/*overflow: hidden;*/
	}
	
	.asm-timeline
	{
		border: solid red;
		position: relative;
		height: 40px;
		left: 100px;
	}
	
	.asm-timeline-numbers {
		float: left;
	}
	
	.asm-layer
	{
		position: absolute;
		height: 50px;
	}
	
	.asm-layer-extender
	{
		padding-left: 100px;
	}
	
	.asm-now-marker
	{
		background-color: black;
		opacity: 0.5;
		position: absolute;
		height: 100%;
	}
</style>

<script>
	$(function () {
		_moveTimeLineToNow();
	})
	
	function _moveTimeLineToNow() {
		var clientMsSince1970 = new Date().getTime();
		var serverMsSince1970 = @milliSecondsSince1970;
		var msSinceStart = clientMsSince1970 - serverMsSince1970;
		var hoursSinceStart = msSinceStart / 1000 / 60/60;
		var startPixel = -(@pixelsPerHour * hoursSinceStart);
		$('.asm-timeline').css('left', (startPixel +@timeMarkerPosition) + 'px');

		//
		//debug
		var timme = Math.floor(hoursSinceStart) - 24;
		var minutes = (hoursSinceStart - Math.floor(hoursSinceStart)) * 60;
		$('#clockDebug').text(timme + ':' + parseInt(minutes));
	}
</script>

<b>Tidslinjen ska visa</b><div id="clockDebug"></div><br/><br/>

Antal lager: @(Model.Layers.Count)<br/>
Datum att visa: @(Model.StartDate)
<div class="asm-timeline-border">
	<div class="asm-now-marker" style="width: @(timeMarkerPosition)px;">
	</div>
	<div class="asm-timeline" style="width:@(3*24*pixelsPerHour)px">
		@foreach (var layer in Model.Layers)
  {
			<span class="asm-layer" style="
			left:@(layer.RelativeStartInMinutes * pixelsPerHour/60)px;
			padding-left:@(layer.LengthInMinutes * pixelsPerHour/60)px;
			background-color: @(layer.Color)"></span>
  }
		@for (var day = 0; day <= 2; day++)
  {
	  for (var hour = 0; hour < 24; hour++)
	  {
	  	<span class="asm-timeline-numbers" style="width:@(timeLineHourWidth)px;
															border-right:@(timeLineHourBorderSize)px solid black;">@(hour)</span>
	  }
  }
	</div>
</div>
​ 