@using Teleopti.Ccc.UserTexts

<table class="table-condensed">
	<tr>
		<td>
			<label>
				@Resources.AbsenceType
			</label>
			<div>
				<select class="report-edit-absence form-control" data-bind="value: AbsenceId">
					@foreach (var absenceType in Model.AbsenceTypesForReport)
					{
						<option value="@Html.AttributeEncode(absenceType.Id)">@absenceType.Name</option>
					}
				</select>
			</div>
		</td>

	</tr>
	<tr>
		<td>
			<table class="table-condensed">
				<tr class="form-inline">
					<td>
						<span class="input-group">
							<span class="input-group-addon">
								<i class="glyphicon glyphicon-step-backward"></i>
							</span>
							<![if (!IE)|(gt IE 8)]>
								<input class="absence-report-start-date form-control" data-bind="datepicker: DateFrom, datepickerOptions: { autoHide: true, format: DateFormat() }" type="text" disabled="disabled" />
							<![endif]>
							<!--[if lte IE 8]>
								<input class="absence-report-start-date input-sm form-control" readonly="readonly" data-bind="value: DateFrom().format(DateFormat())" type="text" />
							<![endif]-->
							<span class="input-group-addon">
								<i class="glyphicon glyphicon-calendar"></i>
							</span>
						</span>
					</td>
				</tr>
				<tr class="form-inline">
					<td>
						<span class="input-group">
							<span class="input-group-addon">
								<i class="glyphicon glyphicon-step-forward"></i>
							</span>
							<![if (!IE)|(gt IE 8)]>
							<input class="absence-report-end-date form-control" data-bind="datepicker: DateToForDisplay(), datepickerOptions: { autoHide: true, format: DateFormat() }" type="text" disabled="disabled" />
							<![endif]>
							<!--[if lte IE 8]>
							<input class="absence-report-end-date input-sm form-control" readonly="readonly" data-bind="value: DateTo().format(DateFormat())" type="text" />
							<![endif]-->
							<span class="input-group-addon">
								<i class="glyphicon glyphicon-calendar"></i>
							</span>
						</span>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<div data-bind="if: ShowError">
	<div class="absence-report-error alert alert-danger" data-bind="html: ErrorMessage" />   
</div>
<div class="pull-right">
	<button class="absence-report-cancel btn" data-bind="click: $parent.CancelAddingNewRequest">@Resources.Cancel</button>
	<button class="absence-report-send btn btn-primary" data-bind="click: SaveAbsenceReport">@Resources.Save</button>
</div>