@using Teleopti.Ccc.UserTexts

<table class="table-condensed">
	<tr>
		<td>
			<span>@Resources.ReportAbsenceFor</span>
			<span data-bind="text: DateToForDisplay()"></span>
		</td>
	</tr>
	<tr>
		<td>
			<div>
				<select class="report-edit-absence form-control" data-bind="value: AbsenceId">
					@foreach (var absenceType in Model.AbsenceTypesForReport)
					{
						<option value="@Html.AttributeEncode(absenceType.Id)">@absenceType.Name</option>
					}
				</select>
			</div>
		</td>

	</tr>
</table>
<div data-bind="if: ShowError">
	<div class="absence-report-error alert alert-danger" data-bind="html: ErrorMessage" />   
</div>
<div class="pull-right">
	<button class="absence-report-cancel btn" data-bind="click: $parent.CancelAddingNewRequest">@Resources.Cancel</button>
	<button class="absence-report-send btn btn-primary" data-bind="click: SaveAbsenceReport">@Resources.Save</button>
</div>