@using Teleopti.Ccc.UserTexts

<table class="table-condensed">
	<tr>
		<td>
			<table class="table-condensed">
				<tr class="form-inline">
					<td>
					    <div class="input-group">
					        <span class="input-group-addon">
					            <i class="glyphicon glyphicon-step-backward"></i>
					        </span>
					        <input class="overtime-availability-start-date form-control" data-bind="datepicker: DateFrom, datepickerOptions: { autoHide: true, format: DateFormat() }" type="text" disabled="disabled" />
					        <span class="input-group-addon">
							<i class="glyphicon glyphicon-calendar"></i>
					        </span>
					    </div>
					</td>
				    <td>
				        <div class="bootstrap-timepicker">
				            <div class="input-group" title="@Resources.StartTime">
				                <input type="text" class="overtime-availability-start-time form-control" data-bind="timepicker: StartTime, timepickerOptions: { showMeridian: ShowMeridian, allowEmpty: false }" />
				                <span class="input-group-addon">
				                    <i class="glyphicon glyphicon-time"></i>
				                </span>
				            </div>
				        </div>
				    </td>
                    <td/>
				</tr>
				<tr class="form-inline">
					<td>
					    <div class="input-group">
					        <span class="input-group-addon">
					            <i class="glyphicon glyphicon-step-forward"></i>
					        </span>
					        <input class="overtime-availability-end-date form-control" data-bind="datepicker: DateToForDisplay(), datepickerOptions: { autoHide: true, format: DateFormat() }" type="text" disabled="disabled" />
					        <span class="input-group-addon">
					            <i class="glyphicon glyphicon-calendar"></i>
					        </span>
					    </div>
					</td>
				    <td>
				        <div class="bootstrap-timepicker">
				            <div class="input-group" title="@Resources.EndTime">
				                <input type="text" class="overtime-availability-end-time form-control" data-bind="timepicker: EndTime, timepickerOptions: { showMeridian: ShowMeridian, allowEmpty: false }" />
						<span class="input-group-addon">
				                    <i class="glyphicon glyphicon-time"></i>
				                </span>
				            </div>
                        </div>
				    </td>
                    <td>
						<input type="checkbox" class="overtime-availability-next-day" data-bind="checked: EndTimeNextDay" title="@Resources.NextDay" />
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<div data-bind="if: ShowError">
	<div class="overtime-availability-error alert alert-danger" data-bind="html: ErrorMessage" />   
</div>
<div class="pull-right">
	<button class="request-new-cancel btn" data-bind="click: $parent.CancelAddingNewRequest">@Resources.Cancel</button>
	<button class="request-new-delete btn btn-danger" data-bind="click: DeleteOvertimeAvailability, visible: HasOvertimeAvailability()">@Resources.Delete</button>
	<button class="request-new-send btn btn-primary" data-bind="click: SetOvertimeAvailability">@Resources.Save</button>
</div>