@using Teleopti.Ccc.UserTexts
<div class="overtime-input-container">
	<div class="clearfix">
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
			<div class="input-group ">
				<input class="overtime-availability-start-date form-control" data-bind="datepicker: DateFrom, datepickerOptions: { autoHide: true, format: DateFormat() }" type="text" disabled="disabled" />
			</div>
		</div>

		<div class="col-xs-6 col-sm-4 col-md-3">
			<div class="bootstrap-timepicker">
				<div class="input-group" title="@Resources.StartTime">
					<input type="text" class="overtime-availability-start-time form-control right-align" data-bind="timepicker: StartTime, timepickerOptions: { showMeridian: ShowMeridian, allowEmpty: false, showInputs: false}, scrollIntoViewWhenClick:'#Request-add-section'" />
					<span class="input-group-btn">
						<button class="btn right-align" data-bind="timepicker: StartTime, timepickerOptions: { showMeridian: ShowMeridian, allowEmpty: false, showInputs: false}">
							<i class="glyphicon glyphicon-time"></i>
						</button>
					</span>
				</div>
			</div>
		</div>
	</div>

	<div class="clearfix">
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
			<div class="input-group">
				<input class="overtime-availability-end-date form-control" data-bind="datepicker: DateToForDisplay(), datepickerOptions: { autoHide: true, format: DateFormat() }" type="text" disabled="disabled" />
			</div>
		</div>

		<div class="col-xs-6 col-sm-4 col-md-3 ">
			<div class="bootstrap-timepicker fix-width">
				<div class="input-group" title="@Resources.EndTime">
					<input type="text" class="overtime-availability-end-time form-control right-align" data-bind="timepicker: EndTime, timepickerOptions: { showMeridian: ShowMeridian, allowEmpty: false, showInputs: false}, scrollIntoViewWhenClick:'#Request-add-section'" />
					<span class="input-group-btn">
						<button class="btn right-align" data-bind="timepicker: EndTime, timepickerOptions: { showMeridian: ShowMeridian, allowEmpty: false, showInputs: false}">
							<i class="glyphicon glyphicon-time"></i>
						</button>
					</span>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-3 overtime-availability-next-day-container">
			<label class="cursorpointer checkbox" title="@Resources.NextDay">
				<input type="checkbox" class="overtime-availability-next-day" data-bind="checked: EndTimeNextDay" title="@Resources.NextDay" />
				<span>@Resources.NextDay</span>
			</label>
		</div>
	</div>
</div>

<div data-bind="if: ShowError">
	<div class="overtime-availability-error alert alert-danger" data-bind="html: ErrorMessage"></div>
</div>

<div class="pull-right">
	<button class="request-new-cancel btn" data-bind="click: $parent.CancelAddingNewRequest">@Resources.Cancel</button>
	<button class="request-new-delete btn btn-danger" data-bind="click: DeleteOvertimeAvailability, visible: HasOvertimeAvailability(), disable:IsProcessing()">@Resources.Delete</button>
	<button class="request-new-send btn btn-primary" data-bind="click: SetOvertimeAvailability">@Resources.Save</button>
</div>
