@using Teleopti.Ccc.UserTexts

<div class="shift-exchange-missing-wcs-message alert alert-warning" data-bind="visible: missingWorkflowControlSet">
	@Resources.MissingWorkflowControlSet
</div>

<div id="loadingRequestIndicator" class="loading-gradient" data-bind="if: !isReadyLoaded()">
	<div class="loading"></div>
</div>

<div data-bind="if: !missingWorkflowControlSet() && isReadyLoaded()">
	<table class="table-condensed">
		<tr>
			<td>
				<label>@Resources.AnnounceShiftConditions</label>
			</td>
		</tr>
		<tr>
			<td>
				<div class="row">
					<div class="col-sm-12">
						<div class="row">
							<div class="col-sm-6 announce-shift-matching-date">
								<div class="col-xs-12 input-group">
									<input class="form-control" data-bind="datepicker: DateToForPublish, datepickerOptions: {autoHide: true, format: DateFormat(), weekStart: WeekStart() }, enable: IsEditable" />
									<span class="input-group-btn">
										<button class="btn moment-datepicker" data-bind="datepicker: DateToForPublish, datepickerOptions: {autoHide: true, format: DateFormat(), weekStart: WeekStart()}, enable: IsEditable">
											<i class="glyphicon glyphicon-calendar"></i>
										</button>
									</span>
								</div>
							</div>

							<div class="col-xs-12 col-sm-6 btn-group">
								<select id="wish-list" class="form-control" data-bind="enable: IsEditable(),options: AllShiftTypes, optionsText: 'Description', value: WishShiftTypeOption "></select>
							</div>
						</div>
					</div>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="row" data-bind="visible: RequireDetails">
					<div class="col-sm-12">
						<div class="row">
							<div class="col-sm-6 announce-shift-matching-date">
								<div class="bootstrap-timepicker">
									<div class="input-group" title="@Resources.StartTime">
										<input type="text" class="shift-exchange-offer-start-time form-control right-align" data-bind="enable: IsEditable, timepicker: StartTime, timepickerOptions: { showMeridian: ShowMeridian, allowEmpty: false, showInputs: false}, scrollIntoViewWhenClick:'#Request-add-section'" />
										<span class="input-group-btn">
											<button class="btn right-align" data-bind="timepicker: StartTime,timepickerOptions: { showMeridian: ShowMeridian, allowEmpty: false, showInputs: false}">
												<i class="glyphicon glyphicon-time"></i>
											</button>
										</span>
									</div>
								</div>
							</div>

							<div class="col-sm-6 announce-shift-matching-date">
								<div class="bootstrap-timepicker">
									<div class="input-group" title="@Resources.EndTime">
										<input type="text" class="shift-exchange-offer-end-time form-control right-align" data-bind="enable: IsEditable, timepicker: EndTime, timepickerOptions: { showMeridian: ShowMeridian, allowEmpty: false, showInputs: false}, scrollIntoViewWhenClick:'#Request-add-section'" />
										<span class="input-group-btn">
											<button class="btn right-align" data-bind="timepicker: EndTime,timepickerOptions: { showMeridian: ShowMeridian, allowEmpty: false, showInputs: false}">
												<i class="glyphicon glyphicon-time"></i>
											</button>
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-sm-3 announce-shift-next-date">
						<label class="checkbox cursorpointer inline-block">
							<input type="checkbox" class="shift-exchange-offer-next-day" data-bind="checked: EndTimeNextDay, enable: IsEditable()" />
							@Resources.NextDay
						</label>
					</div>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<label>@Resources.ShiftExchangeOfferValidTo</label>
			</td>
		</tr>
		<tr>
			<td>
				<div class="row">
					<div class="col-sm-12">
						<div class="row">
							<div class="col-sm-6">
								<div class="col-xs-12 input-group">
									<input id="validto-datepicker" class="shift-exchange-offer-end-date form-control" data-bind="enable: IsEditable, datepicker: OfferValidTo, datepickerOptions: {autoHide: true, format: DateFormat(), weekStart: WeekStart() }" />
									<span class="input-group-btn">
										<button class="btn moment-datepicker" data-bind="datepicker: OfferValidTo, datepickerOptions: {autoHide: true, format: DateFormat(), weekStart: WeekStart()}, enable: IsEditable">
											<i class="glyphicon glyphicon-calendar"></i>
										</button>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</td>
		</tr>
	</table>
	<div data-bind="if: ShowError">
		<div class="shift-exchange-offer-error alert alert-danger" data-bind="html: ErrorMessage, visible: IsEditable" />
	</div>
	<div class="shift-exchange-out-of-open-period alert alert-danger" data-bind="visible: !IsValid()">
		<div data-bind="visible: !IsSelectedDateInShiftTradePeriod()">@Resources.AnnounceShiftDateOutPeriod</div>
		<div data-bind="visible: !IsValidToLegal()">@Resources.AnnounceShiftValidToNotLegal</div>
		<div data-bind="visible: !IsTimeLegal()">@Resources.EndTimeMustBeGreaterOrEqualToStartTime</div>
		<div data-bind="visible: !IsNotAbsence()">@Resources.PublishAnnouncementNoAbsence</div>
	</div>
	<div class="shift-exchange-offer-footer">
		<div class="pull-right">
			<button class="request-new-cancel btn" data-bind="click: $parent.CancelAddingNewRequest, visible : !IsUpdating()">@Resources.Cancel</button>
			<button class="request-new-send btn btn-primary" data-bind="click: SaveShiftExchangeOffer, visible: IsEditable, enable: SaveEnabled">@Resources.Save</button>
		</div>

	</div>
</div>