@using Teleopti.Ccc.UserTexts
@{
Layout = null;
}

<script type="text/html" id="add-absence-report-detail-template">
	@Html.Partial("AddAbsenceReportPartial")
</script>
<script type="text/html" id="add-overtime-availability-template">
	@Html.Partial("AddOvertimeAvailabilityPartial")
</script>
<script type="text/html" id="probability-options-template">
	@Html.Partial("ProbabilityOptionsPartial")
</script>


<input id="Request-detail-datepicker-format" type="hidden" data-bind="value: datePickerFormat" />

<div class="weekview-mobile">
	<div class="navbar teleopti-toolbar subnavbar">
		<div class="container mobile-weekview-nav">
			<ul class="nav navbar-nav teleopti-toolbar row submenu">
				<li class="col-xs-12 col-sm-3">
					<div class="input-group weekview-mobile-nav-input-group">
						<span class="input-group-btn">
							<button class="btn btn-default" data-bind="click: previousWeek, css: 'done'" type="button">
								<i class="glyphicon glyphicon-chevron-left"></i>
							</button>
						</span>
						<input class="form-control text-center date-input-style" style="width: 100%; font-size: 13px" data-bind="value: displayDate"
						 type="text" readonly="readonly" />
						<span class="input-group-btn">
							<button class="btn btn-default" data-bind="click: nextWeek, css: 'done'" type="button">
								<i class="glyphicon glyphicon-chevron-right"></i>
							</button>
						</span>
					</div>

				</li>
			</ul>
			<!-- ko if: showProbabilityOptionsToggleIcon-->
			<span class="probability-toggle-container">
				<a class="btn btn-default" data-bind="click: toggleProbabilityOptionsPanel">
					<!-- ko if: loadingProbabilityData() -->
					<span><img src='@Url.Content("~/Areas/MyTime/Content/Images/ajax-loader-small-f8f8f8.gif")' alt="..."></span>
					<!-- /ko -->
					<!-- ko ifnot: showingAbsenceProbability() || showingOvertimeProbability() || loadingProbabilityData() -->
					<span><i class="glyphicon glyphicon-eye-close"></i></span>
					<!-- /ko -->
					<!-- ko if: showingAbsenceProbability() && !loadingProbabilityData()-->
					<span class="absence-probability-label"></span>
					<!-- /ko -->
					<!-- ko if: showingOvertimeProbability() && !loadingProbabilityData() -->
					<span class="overtime-probability-label"></span>
					<!-- /ko -->
				</a>
			</span>
			<!-- /ko -->
		</div>
	</div>

	<!-- ko if: showProbabilityOptionsForm -->
	<div class="container probability-option-container">
		<!-- ko with: requestViewModel -->
		<div data-bind="with: model">
			<div class="well well-sm clearfix">
				<div data-bind="template: Template">
				</div>
			</div>
		</div>
		<!-- /ko -->
	</div>
	<!-- /ko -->

	<div class="container">
		<div class="body">
			<!-- ko foreach: dayViewModels-->
			<div class="day panel panel-default mobile-view-day" data-bind="attr: { 'data-mytime-date': fixedDate }">
				<div class="header panel-heading">
					<span class="weekday" data-bind="text: weekDayHeaderTitle"></span>
					<!-- ko if: isToday -->
					<span class="weekday">(@Resources.Today)</span>
					<!-- /ko -->
					<span class="date" data-bind="text: fixedDate"></span>
				</div>

				<div class="mobileWeek-day-view-body" data-bind="css: {'dayoff': isDayoff(),  'overtime-panel-body': hasOvertime, 'panel-body': !hasOvertime,'has-overtime-availability': hasOvertimeAvailability() }">
					<div class="shift-category-content" data-bind="style: { backgroundColor: summaryColor, color: summaryTextColor }, css: {'col-xs-12': !hasOvertimeAvailability(), ' col-xs-6 col-sm-6':hasOvertimeAvailability()}">
						<strong data-bind="text: summaryName"></strong>
						<span data-bind="text: summaryTimeSpan"></span>
						<!-- ko if: hasOvertime -->
						<p>
							<strong>@Resources.Overtime</strong>
						</p>
						<!-- /ko -->
					</div>
					<!-- ko if: hasOvertimeAvailability()-->
					<div class="overtime-availability-content col-xs-6 col-sm-6">
						<p>
							<strong>@Resources.OvertimeAvailability</strong>
						</p>
						<p>
							<span data-bind="text: overtimeAvailabilityStart"></span> - <span data-bind="text: overtimeAvailabilityEnd"></span>
						</p>
					</div>
					<!-- /ko -->
				</div>

				<div class="mobileWeek-day-view-layer-container">
					<div class="mobileWeek-day-view-layer" data-bind="visible: layers.length> 0">
						<!-- ko foreach: layers -->
						<!-- ko if: isOvertimeAvailability() -->
						<div class="weekview-day-schedule-layer absolute overtime-availability-bar" data-bind="tooltip: { title: tooltipText, html: true }, style: styleJson, click: $parent.showOvertimeAvailability">
							<i class="glyphicon glyphicon-time"></i>
						</div>
						<!-- /ko -->
						<!-- ko ifnot: isOvertimeAvailability() -->
						<div class="weekview-day-schedule-layer absolute" data-bind="tooltip: { title: tooltipText, html: true, trigger: 'click' }, style: styleJson, css:{'overtime-background-image-light': isOvertime && overTimeLighterBackgroundStyle, 'overtime-background-image-dark': isOvertime && overTimeDarkerBackgroundStyle}, hideTooltipAfterMouseLeave: true">
							<div>
								<strong class="weekview-day-schedule-layer-activity truncate" data-bind="text: title"></strong>
								<!-- ko if: hasMeeting -->
								<div class="meeting floatright">
									<i class="meeting-icon icon-user mr10">
										<i class="glyphicon glyphicon-user ml10"></i>
									</i>
								</div>
								<!-- /ko -->
								<span class="weekview-day-schedule-layer-time fullwidth displayblock" data-bind="text: timeSpan"></span>
							</div>
						</div>
						<!-- /ko -->
						<!-- /ko -->
					</div>
				</div>
				<!-- ko if: showStaffingProbabilityBar() && probabilities().length > 0-->
				<div class="probability-horizontal-bar">
					<!--ko foreach: probabilities-->
					<div class="probability-cell" data-bind="css:cssClass(), tooltip: {title: tooltips, html:true, trigger: 'click'}, style: styleJson, hideTooltipAfterMouseLeave: true"></div>
					<!-- /ko -->
				</div>
				<!-- /ko -->

				<div class="mobile-bottom-bar">
					<ul class="nav nav-pills navbar-weekview">
						<!-- ko if: !staffingProbabilityOnMobileEnabled() -->
						<li data-bind="if: overtimeAvailabilityPermission, css: {'active display-block': $parent.requestViewModel()!=undefined && $parent.requestViewModel().type() == 'overtime' && formattedFixedDate() === $parent.formattedRequestDate() }">
							<a href="#" class="overtime-availability-add" data-bind="click: $parent.showAddOvertimeAvailabilityForm">@Resources.OvertimeAvailability</a>
						</li>

						<li data-bind="if: isPermittedToReportAbsence, css: {'active display-block': $parent.requestViewModel()!=undefined && $parent.requestViewModel().type() == 'absenceReport' && formattedFixedDate() === $parent.formattedRequestDate() }">
							<a href="#" class="absence-report-add" data-bind="click: $parent.showAddAbsenceReportFormWithData">@Resources.AbsenceReport</a>
						</li>
						<!-- /ko -->

						<!-- ko if: staffingProbabilityOnMobileEnabled() -->
						<li class="display-none" data-bind="if: overtimeAvailabilityPermission, css: {'active display-block': $parent.requestViewModel()!=undefined && $parent.requestViewModel().type() == 'overtime' && formattedFixedDate() === $parent.formattedRequestDate() }">
							<a class="overtime-availability-add">@Resources.OvertimeAvailability</a>
						</li>
						<li class="display-none" data-bind="if: isPermittedToReportAbsence, css: {'active display-block': $parent.requestViewModel()!=undefined && $parent.requestViewModel().type() == 'absenceReport' && formattedFixedDate() === $parent.formattedRequestDate() }">
							<a class="absence-report-add">@Resources.AbsenceReport</a>
						</li>
						<li class="pull-right action-menu-container" data-bind="if: overtimeAvailabilityPermission || isPermittedToReportAbsence">
							<div class="dropdown">
								<a class="btn btn-primary dropdown-toggle action-button" href="#" data-toggle="dropdown">
									<i class="glyphicon glyphicon-plus"></i>
								</a>
								<ul class="dropdown-menu action-menus">
									<!-- ko if: overtimeAvailabilityPermission() -->
									<li>
										<a href="#" data-bind="click: $parent.showAddOvertimeAvailabilityForm">@Resources.OvertimeAvailability</a>
									</li>
									<!-- /ko -->
									<!-- ko if: isPermittedToReportAbsence() -->
									<li>
										<a href="#" data-bind="click: $parent.showAddAbsenceReportFormWithData">@Resources.AbsenceReport</a>
									</li>
									<!-- /ko -->
								</ul>
							</div>
						</li>
						<li class="pull-right" data-bind="if: showProbabilityToggleIcon">
							<a data-bind="click: $parent.toggleProbabilityOptionsPanel, css: {'btn btn-default probability-icon': !$parent.showingAbsenceProbability() && !$parent.showingOvertimeProbability(), 'background-transparent pointer': $parent.showingAbsenceProbability() || $parent.showingOvertimeProbability()}">
								<i class="glyphicon glyphicon-eye-close" data-bind="visible: !($parent.showingAbsenceProbability() || $parent.showingOvertimeProbability())"></i>
								<span class="absence-probability-label" data-bind="visible: $parent.showingAbsenceProbability"></span>
								<span class="overtime-probability-label" data-bind="visible: $parent.showingOvertimeProbability"></span>
							</a>
						</li>
						<!-- /ko -->
					</ul>
				</div>

				<div data-bind="if: isModelVisible">
					<!-- ko with: $parent.requestViewModel -->
					<div data-bind="with: model">
						<div id="Request-add-section" class="well well-sm clearfix">
							<div data-bind="template: Template">
							</div>
						</div>
					</div>
					<!-- /ko -->
				</div>

				<!-- /ko -->
			</div>
			<!-- /ko -->
		</div>
	</div>
</div>