@using Teleopti.Ccc.UserTexts
@{
Layout = null;
}
<style>
	html, body, section#page, article#body, #body-inner, .mobile-start-day {
		height: 100%;
		cursor: pointer;
	}
	.tooltip {
		margin: 0;
	}
	.datepicker.dropdown-menu {
		position: fixed;
		z-index: 199;
	}
</style>


<script type="text/html" id="add-new-request-detail-template">
	@Html.Partial("~/Areas/MyTime/Views/Requests/AddNewRequestDetailView.cshtml")
</script>
<script type="text/html" id="add-absence-report-detail-template">
	@Html.Partial("AddAbsenceReportPartial")
</script>
@if (Model.RequestLicense.IsOvertimeAvailabilityEnabled)
{
<script type="text/html" id="add-overtime-availability-template">
	@Html.Partial("AddOvertimeAvailabilityPartial")
</script>
}
<script type="text/html" id="probability-options-template">
	@Html.Partial("ProbabilityOptionsPartial")
</script>
<script type="text/html" id="shift-exchange-offer-template">
	@Html.Partial("AddShiftExchangeOfferPartial")
</script>
@if (Model.RequestLicense.IsOvertimeRequestEnabled)
{
<script type="text/html" id="add-overtime-request-template">
	@Html.Partial("~/Areas/MyTime/Views/Requests/AddNewOvertimeRequestView.cshtml")
</script>
}
<div class="mobile-start-day">
	<div class="navbar navbar-teleopti subnavbar">
		<div class="container mobile-start-day-nav">
			<!-- ko ifnot: mobileMonthEnabled -->
			<ul class="nav navbar-nav navbar-teleopti row submenu">
				<li class="mobile-datepicker">
					<div class="input-group">
						<span class="input-group-btn">
							<button class="btn btn-default" data-bind="click: previousDay" type="button">
								<i class="glyphicon glyphicon-chevron-left"></i>
							</button>
						</span>
						<input class="form-control text-center date-input-style" data-bind="value: displayDate" type="text" readonly="readonly" />
						<span class="input-group-btn">
							<span class="btn btn-default moment-datepicker" type="button">
								<i class="glyphicon glyphicon-calendar"></i>
							</span>
							<button class="btn btn-default" data-bind="click: nextDay" type="button">
								<i class="glyphicon glyphicon-chevron-right"></i>
							</button>
						</span>
					</div>
				</li>
				<li class="mobile-today" data-bind="click: today">
					<a>
						<i class="glyphicon glyphicon-home"></i>
					</a>
				</li>
				<li class="mobile-message" data-bind="click: navigateToMessages">
					<a>
						<i class="glyphicon glyphicon-envelope"></i>
						<span id="MobileDayView-message" class="badge" data-bind="visible: unreadMessageCount() > 0, text: unreadMessageCount">
						</span>
					</a>
				</li>
				<li class="mobile-request" data-bind="click: function(e, d){ if(requestsCount() > 0){navigateToRequests();}}">
					<a id="MobileDayView-request" data-bind="visible: requestsCount() > 0">
						<i class="glyphicon glyphicon-comment"></i>
					</a>
				</li>
			</ul>
			<!-- /ko -->

			<!-- ko if: mobileMonthEnabled -->
			<ul class="nav navbar-nav navbar-teleopti row submenu">
				<li class="mobile-month-datepicker">
					<a data-bind="attr: { href: mobileMonthUrl}, text: displayDate" class="formatted-date-text"></a>
					<a class="mobile-month-calendar-icon" data-bind="attr: { href: mobileMonthUrl}">
						<i class="glyphicon glyphicon-calendar"></i>
					</a>
				</li>
				<li class="mobile-today" data-bind="click: today">
					<a>
						<i class="glyphicon glyphicon-home"></i>
					</a>
				</li>
				<li class="mobile-message" data-bind="click: navigateToMessages, visible: asmEnabled()">
					<a>
						<i class="glyphicon glyphicon-envelope"></i>
						<span id="MobileDayView-message" class="badge" data-bind="visible: unreadMessageCount() > 0, text: unreadMessageCount">
						</span>
					</a>
				</li>
				<li class="mobile-request" data-bind="click: function(e, d){ if(requestsCount() > 0){navigateToRequests();}}">
					<a id="MobileDayView-request" data-bind="visible: requestsCount() > 0">
						<i class="glyphicon glyphicon-comment"></i>
					</a>
				</li>
			</ul>
			<!-- /ko -->
		</div>
	</div>

	<div class="mobile-start-day-body container">
		<div class="mobile-summary-container">
			<!-- ko if: !isLoading() -->
			<div class="mobile-summary-content cursorpointer" data-bind="style: { backgroundColor: summaryColor, borderColor: summaryColor, color: textColor }, css: {'dayoff': isDayOff}">
				<div class="mobile-summary-content-text">
					<div data-bind="text: dayOfWeek"></div>
					<span data-bind="text: summaryName"></span>
					<span data-bind="text: summaryTime"></span>
					<!-- ko if: hasOvertime-->
					<span>@Resources.Overtime</span>
					<!-- /ko -->
				</div>

				<!-- ko if: showOldTrafficLightIconOnMobile -->
				<div class="holiday-agents cursorpointer inline-block" data-bind="visible: absenceRequestPermission, tooltip: { title: trafficLightTooltip(), placement: 'bottom', trigger: 'click'}, hideTooltipAfterMouseLeave: true, style: {'right': showProbabilityOptionsToggleIcon() ? '38px': '0'}">
					<div class="small-circle" data-bind="style: {background: trafficLightColor()}"></div>
				</div>
				<!-- /ko -->

				<!--ko if: showNewTrafficLightIconOnMobile -->
				<div class="holiday-agents progress traffic-light-progress" data-bind="tooltip: { title: trafficLightTooltip(), html: true, placement: 'bottom', trigger: 'click'}, hideTooltipAfterMouseLeave: true, css: trafficLightIconClass, style: {'right': showProbabilityOptionsToggleIcon() ? '38px': '0'}">
					<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
						<span class="sr-only">60% Complete</span>
					</div>
				</div>
				<!-- /ko -->

				<!-- ko if: showProbabilityOptionsToggleIcon-->
				<div class="probability-toggle-container">
					<a class="btn btn-default" data-bind="style: {color: textColor}, click: toggleProbabilityOptionsPanel">
						<!-- ko if: loadingProbabilityData -->
						<span>
							<img class="probability-loading-gif" src='@Url.Content("~/Areas/MyTime/Content/Images/ajax-loader.gif")' alt="..." />
						</span>
						<!-- /ko -->
						<!-- ko ifnot: showingAbsenceProbability() || showingOvertimeProbability() || loadingProbabilityData() -->
						<span><i class="glyphicon glyphicon-eye-close"></i></span>
						<!-- /ko -->
						<!-- ko if: showingAbsenceProbability() && !loadingProbabilityData()-->
						<span class="absence-probability-label"></span>
						<!-- /ko -->
						<!-- ko if: showingOvertimeProbability() && !loadingProbabilityData() -->
						<span class="overtime-probability-label"></span>
						<!-- /ko -->
					</a>
				</div>
				<!-- /ko -->
			</div>
			<!-- /ko -->
		</div>


		<div class="mobile-timeline floatleft" data-bind="style: {height: scheduleHeight}">
			<!-- ko foreach: timeLines -->
			<div class="mobile-timeline-label absolute" data-bind="style: {top: topPosition}, text: timeText, visible: isHour">
			</div>
			<!-- /ko -->
		</div>

		<div class="mobile-schedule-container relative" data-bind="style: {height: scheduleHeight}">
			<!-- ko if: isLoading -->
			<img class="data-loading-gif probability-loading-gif" src='@Url.Content("~/Areas/MyTime/Content/Images/ajax-loader.gif")'
			 alt="..." />
			<!-- /ko -->
			<!-- ko if: !isLoading() -->
			<div class="mobile-schedule-layer-container" data-bind="style: {'width': probabilities().length > 0 ? 'calc(100% - 28px)' : '100%' }">
				<!-- ko foreach: layers-->
				<div class="mobile-schedule-layer absolute" data-bind="tooltip: { title: tooltipText, html: true, trigger: 'click' }, style: styleJson, css:{'overtime-availability-bar': isOvertimeAvailability, 'overtime-background-image-light': isOvertime, overTimeLighterBackgroundStyle, 'overtime-background-image-dark': isOvertime, overTimeDarkerBackgroundStyle, 'last-layer': isLastLayer}, hideTooltipAfterMouseLeave: true">
					<div data-bind="visible: showTitle && !isOvertimeAvailability">
						<strong data-bind="text: title"></strong>
						<!-- ko if: hasMeeting -->
						<div class="meeting floatright">
							<i class="meeting-icon mr10">
								<i class="glyphicon glyphicon-user ml10"></i>
							</i>
						</div>
						<!-- /ko -->
						<span class="fullwidth displayblock" data-bind="visible: showDetail, text: timeSpan"></span>
					</div>
					<div data-bind="visible: showTitle && isOvertimeAvailability">
						<i class="glyphicon glyphicon-time"></i>
					</div>
				</div>
				<!-- /ko -->
			</div>

			<!-- ko if: showProbabilityOptionsToggleIcon && probabilities().length > 0 -->
			<div class="probability-vertical-bar">
				<!--ko foreach: probabilities()-->
				<div class="probability-cell" data-bind="css:cssClass(), tooltip: {title: tooltips, html:true, placement: 'left', trigger: 'click'}, style: styleJson, hideTooltipAfterMouseLeave: true"></div>
				<!-- /ko -->
			</div>
			<!-- /ko -->
			<!-- /ko -->
		</div>
	</div>

	<!-- ko if: isCommandEnable -->
	<button class="close-fab-overlay" data-bind="visible: menuIsVisible() || focusingRequestForm(), click: hideMenuAndRequestForm"></button>
	<button class="fab" data-bind="visible: menuIconIsVisible, click: showMenu" tabindex="0"></button>
	<div class="navbar navbar-teleopti subnavbar request-menu-list" data-bind="css: {'menu-focusing': menuIsVisible}, visible: menuIsVisible">
		<ul class="nav navbar-nav navbar-teleopti row submenu">
			@if (Model.RequestLicense.IsOvertimeAvailabilityEnabled)
			{
			<li data-bind="visible: overtimeAvailabilityPermission" class="col-xs-12 col-sm-4">
				<a href="#" data-bind="click: showOvertimeAvailabilityForm"><i class="glyphicon glyphicon-plus"></i>&nbsp;@Resources.OvertimeAvailability</a>
			</li>
			}
			<li data-bind="visible: showAbsenceReportingCommandItem" class="col-xs-12 col-sm-4">
				<a href="#" data-bind="click: showAbsenceReportingForm"><i class="glyphicon glyphicon-plus"></i>&nbsp;@Resources.AbsenceReport</a>
			</li>
			<li data-bind="visible: textRequestPermission" class="col-xs-12 col-sm-4">
				<a href="#" data-bind="click: showAddTextRequestForm"><i class="glyphicon glyphicon-plus"></i>&nbsp;@Resources.TextRequest</a>
			</li>
			<li data-bind="visible: absenceRequestPermission" class="col-xs-12 col-sm-4">
				<a href="#" data-bind="click: showAddAbsenceRequestForm"><i class="glyphicon glyphicon-plus"></i>&nbsp;@Resources.AbsenceRequest</a>
			</li>
			<li data-bind="visible: shiftTradeRequestPermission" class="col-xs-12 col-sm-4">
				<a href="#" data-bind="click: redirectToShiftTradeRequest"><i class="glyphicon glyphicon-plus"></i>&nbsp;@Resources.ShiftTradeRequest</a>
			</li>
			<li data-bind="visible: showPostShiftTradeMenu" class="col-xs-12 col-sm-4">
				<a href="#" data-bind="click: showPostShiftForTradeForm"><i class="glyphicon glyphicon-plus"></i>&nbsp;@Resources.AnnounceShift</a>
			</li>
			@if (Model.RequestLicense.IsOvertimeRequestEnabled)
			{
			<li data-bind="visible: showAddOvertimeRequestMenu()" class="col-xs-12 col-sm-4">
				<a href="#" data-bind="click: showAddOvertimeRequestForm"><i class="glyphicon glyphicon-plus"></i>&nbsp;@Resources.OvertimeRequest</a>
			</li>
			}
		</ul>
	</div>
	<!-- /ko -->

	<!-- ko with: requestViewModel -->
	<div data-bind="with: model" class="mobile-add-request-form">
		<div id="Request-add-section" class="well well-sm clearfix">
			<div data-bind="template: Template">
			</div>
		</div>
	</div>
	<!-- /ko -->
</div>