@using Teleopti.Ccc.UserTexts

<!-- ko if: $parents[1].showProbabilityOptions() -->
<div class="probability-radios-group"> 
	<label class="radio">
		<input type="radio"  name="probabilityRadios" aria-label="@Resources.HideStaffingProbability" data-bind="value: noneOption, checked: checkedProbability, click:function(d,e){onOptionSelected(d.checkedProbability()); return true;}" />
		<span>@Resources.HideStaffingProbability</span>
	</label>
	<label class="radio">
		<input type="radio" name="probabilityRadios" aria-label="@Resources.ShowAbsenceProbability" data-bind="value: absenceOption, checked: checkedProbability, click:function(d,e){onOptionSelected(d.checkedProbability()); return true;}" />
		<span>@Resources.ShowAbsenceProbability</span>
	</label>
	<label class="radio">
		<input type="radio" name="probabilityRadios" aria-label="@Resources.ShowOvertimeProbability"  data-bind="value: overtimeOption, checked: checkedProbability, click:function(d,e){onOptionSelected(d.checkedProbability()); return true;}" />
		<span>@Resources.ShowOvertimeProbability</span>
	</label>
</div>
<!-- /ko -->