@using Teleopti.Ccc.UserTexts
@using Teleopti.Ccc.Web.Areas.MyTime.Models.Requests;
@model RequestsViewModel
@{
	Layout = null;
}
<script>
	$(function () {
		Teleopti.MyTimeWeb.Schedule.SetupViewModel({
			xRequests: '@Resources.XRequests',
			subjectColon: '@Resources.SubjectColon',
			locationColon: '@Resources.LocationColon',
			descriptionColon: '@Resources.DescriptionColon',
			chanceOfGettingAbsencerequestGranted: '@Resources.ChanceOfGettingAbsenceRequestGranted',
			fair: '@Resources.Fair',
			poor: '@Resources.Poor',
			good: '@Resources.Good'
		});
		Teleopti.MyTimeWeb.Schedule.LoadAndBindData();
	});
</script>
<div id="ScheduleWeek-body" class="body-weekview clearfix" data-bind="attr: {'data-mytime-periodselection' : periodSelection}">
	<div class="week-schedule-ASM-permission-granted" data-bind="if : asmPermission">yes</div>
	<div class="week-schedule-current-week" data-bind="if : isCurrentWeek">yes</div>
	<div id="ScheduleWeek-body-inner" class="body-weekview-inner clearfix">
		<div class="weekview-timeline floatleft">
			<div class="week-schedule-time-indicator-small absolute">
			</div>
			<!-- ko foreach: timeLines -->

			<div class="weekview-timeline-label absolute" data-bind="style: {top: topPosition}, text : timeText, visible : evenHour">
			</div>
			<!-- /ko -->
		</div>
		<!-- ko foreach: days -->
		<ul class="weekview-day" data-bind="attr: {'data-mytime-date': fixedDate, 'data-mytime-state': state, 'data-mytime-dayofweek': dayOfWeek}">
			<li>
				<div data-bind="text: headerTitle">
				</div>
			</li>
			<li class="second">
				<div>
					<span class="floatleft ml5" data-bind="text: headerDayDescription"></span><span class="floatright mr5"
						data-bind="text: headerDayNumber"></span>
				</div>
			</li>
			<li id="day-summary" data-bind="css: {'show-request':textRequestPermission}, attr: {'class' : classForDaySummary}, style: {backgroundColor: colorForDaySummary, color: textColor}"
				class="third category"><strong class="fullwidth displayblock" data-bind="text: summaryTitle">
				</strong><span class="fullwidth displayblock" data-bind="text: summaryTimeSpan">
				</span><span data-bind="text: summary"></span></li>
			<li id="day-symbol" class="fourth">
				<div class="text-request floatright" data-bind="visible: hasTextRequest, attr: {title : textRequestText}">
					<div class="floatright extrasmall" data-bind="text:textRequestCount">
					</div>
					<div class="icon text-request ir floatright" />
				</div>
			    <div class="holiday-agents show-request floatright" data-bind="visible: absenceRequestPermission, attr: {title :  holidayChanceText()}">
					  <div>
						<div class="small-circle" data-bind="animateBackground: holidayChanceColor()">
						    <div class="small-radial-circle"></div>
						</div>
			        </div> 
			    </div>
				<!-- ko if: hasNote -->
				<div class="icon comment-day ir tooltip floatright" data-bind="attr: {'tooltip-text': noteMessage}">
				</div>
				<!-- /ko -->
				<div id="add-request-cell" data-bind="css:{'add-request-space show-request': textRequestPermission}">
				</div>
			</li>
			<li class="weekview-day-schedule relative">
				<div class="week-schedule-time-indicator relative">
				</div>
				<!-- ko foreach: layers -->
				<div class="week-schedule-layer absolute tooltip" data-bind="attr: {'tooltip-title': title, 'tooltip-text' : tooltipText}, style:{backgroundColor : color, color: textColor, 'height' :  heightPx, top: topPx, 'width' : '131px'}">
					<!-- ko if: hasMeeting -->
					<div class="icon meeting floatright">
					</div>
					<!-- /ko -->
					<strong class="truncate" data-bind="text: title, visible: showTitle"></strong><span
						class="fullwidth displayblock" data-bind="visible: showDetail, text: timeSpan">
					</span>
				</div>
				<!-- /ko -->
			</li>
			<!-- /ko -->
		</ul>
		<!-- /ko -->
	</div>
</div>
@Html.Partial("WeekRequestPartial", Model)
