@using Teleopti.Ccc.UserTexts
@using Teleopti.Interfaces.Domain
@{
	Layout = null;
}

<div id="Schedule-addRequest-title" class="displaynone">
	@if (Model.RequestPermission.TextRequestPermission)
	{
		<span id="Text-request-tab" class="selectable-tab selected-tab">@Resources.TextRequest</span>
	}
	@if (Model.RequestPermission.TextRequestPermission && Model.RequestPermission.AbsenceRequestPermission)
	{
		<span>|</span>
	}
	@if (Model.RequestPermission.AbsenceRequestPermission)
	{
		<span id="Absence-request-tab" class="selectable-tab">@Resources.AbsenceRequest</span>
	 }
</div>

<div class="displaynone" id="Schedule-addRequest-cancel-button">@Resources.Cancel</div>
<div class="displaynone" id="Schedule-addRequest-default-start-time">@TimeHelper.TimeOfDayFromTimeSpan(new TimeSpan(0, 0, 0))</div>
<div class="displaynone" id="Schedule-addRequest-default-end-time">@TimeHelper.TimeOfDayFromTimeSpan(new TimeSpan(23, 59, 0))</div>

<div id="Schedule-addRequest-section" class="displaynone ui-corner-all">
	<div class="edit-module-element">
		<label class="displayblock" for="Schedule-addRequest-subject-input">@Resources.Subject</label>
		<input id="Schedule-addRequest-subject-input" class="request-edit-subject" type="text"/>
	</div>
	<div class="edit-module-element">
		<label class="displayblock" for="Schedule-addRequest-message-input">@Resources.Message</label>
		<textarea id="Schedule-addRequest-message-input" class="request-edit-message"/>
	</div>
	<div id="Absence-type-element" class="floatleft displaynone">
		<div class="edit-module-element floatleft">
			<div class="floatleft absence-input-label">@Resources.AbsenceType</div>
		</div>
		<div class="edit-module-element floatleft">
			<select id="Absence-type" class="absence-input combobox tooltip-dropdown-menu">
				@foreach (var absenceType in Model.AbsenceTypes)
				{
					<option value="@Html.AttributeEncode(absenceType.Name)" typeid="@Html.AttributeEncode(absenceType.Id)">@absenceType.Name</option>
				}
			</select>
		</div>
	</div>
	<div class="edit-module-element floatleft">
		<input id="Schedule-addRequest-fromDate-input" type="text" data-bind="datepicker: requestViewModel.FromDate, datepickerOptions: {autoHide: true}" />
	</div>
	<div id="Schedule-addRequest-fromTime" class="edit-module-element floatleft">
		<label class="displayblock" for="Schedule-addRequest-fromTime-input-input">@Resources.Time</label>
		<select id="Schedule-addRequest-fromTime-input" class="time-input combobox tooltip-dropdown-menu">
			@foreach (var timeSpan in Enumerable.Range(0, 48).Select(x => new TimeSpan(0, x * 30, 0)))
			{
				<option @(timeSpan.Hours == 8 && timeSpan.Minutes == 0 ? "selected" : "") value="@Html.AttributeEncode(@TimeHelper.TimeOfDayFromTimeSpan(timeSpan))">@TimeHelper.TimeOfDayFromTimeSpan(timeSpan)</option>
			}
		</select>
	</div>
	<div class="edit-module-element clearleftfloat floatleft">
		<input id="Schedule-addRequest-toDate-input" type="text" data-bind="datepicker: requestViewModel.ToDate, datepickerOptions: {autoHide: true}" />
	</div>
	<div id="Schedule-addRequest-toTime" class="edit-module-element floatleft">
		<label class="displayblock" for="Schedule-addRequest-toTime-input-input">@Resources.Time</label>
		<select id="Schedule-addRequest-toTime-input" class="time-input combobox tooltip-dropdown-menu">
			@foreach (var timeSpan in Enumerable.Range(0, 48).Select(x => new TimeSpan(0, x * 30, 0)))
			{
				<option @(timeSpan.Hours == 17 && timeSpan.Minutes == 0 ? "selected" : "") value="@Html.AttributeEncode(@TimeHelper.TimeOfDayFromTimeSpan(timeSpan))">@TimeHelper.TimeOfDayFromTimeSpan(timeSpan)</option>
			}
		</select>
	</div>
	<span class="edit-module-element clearleftfloat floatleft">
		<input class="clearleftfloat floatleft" type="checkbox" id="Fullday-check" data-bind="checked:requestViewModel.IsFullDay"/>
		<label class="floatleft pdl5" for="Fullday-check">
			@Resources.FullDay
		</label>
	</span>
	
	<div class="edit-module-element clearleftfloat">
		<button id="Schedule-addRequest-ok-button" class="btn btn-primary pull-right">@Html.AttributeEncode(Resources.SubmitRequest)</button>
	</div>
	<div id="Schedule-addRequest-error" class="error edit-module-element floatleft clearleftfloat"></div>
</div>
