@using Teleopti.Ccc.UserTexts
@using Teleopti.Ccc.Web.Areas.MyTime.Core
@using Teleopti.Ccc.Web.Areas.MyTime.Models.WeekSchedule
@using Teleopti.Interfaces.Domain
@model WeekScheduleViewModel
@{
	Layout = null;
}
<div id="ScheduleWeek-body" class="body-weekview clearfix" data-mytime-periodselection='@Html.Schedule().PeriodSelectionAsJson(Model.PeriodSelection)'>
	<style>
		@foreach (var style in Model.Styles)
		{
			@string.Format(".weekview-day li.{0} div {{border-left-color: {1}; border-right-color: {1};}}\n", style.Name, style.ColorHex)
		}
	</style>
	<div id="ScheduleWeek-body-inner" class="body-weekview-inner clearfix">
		@foreach (var day in Model.Days)
		{
			<ul class="weekview-day" data-mytime-date="@day.FixedDate" data-request-default-date="@day.Date" data-mytime-state="@Html.Schedule().FormatState(day.State)">
				<li>
					<div>@day.Header.Title</div>
				</li>
				<li class="second">
					<div>
						<span class="floatleft ml5">@day.Header.DayDescription</span>
						<span class="floatright mr5">@day.Header.DayNumber</span>
					</div>
				</li>
				<li class="@Html.AttributeEncode(day.Summary.StyleClassName) third">
					<div>
						<span class="fullwidth displayblock">@day.Summary.Title</span>
						<strong class="fullwidth displayblock">@day.Summary.TimeSpan</strong>
						@day.Summary.Summary
					</div>
				</li>
				<li id="day-summary" @(Model.RequestPermission.TextRequestPermission? "class=add-text-request":"")>
					<div class="relative">
						<div class="text-request absolute" @(day.TextRequestCount > 0 ? "" : "style=display:none") title="@(string.Format(Resources.XRequests, day.TextRequestCount))">
							<div class="floatright extrasmall">@day.TextRequestCount</div>
							<div class="icon text-request ir floatright" />
						</div>
						@if (day.HasNote)
						{
							<div class="icon comment-day absolute">
							</div>
							<div class="comment-day">
								@day.Note.Message
							</div>
						}
					</div>
				</li>
				@foreach (var period in day.Periods)
				{
					<li class="@period.StyleClassName">
						<div>
							<strong class="fullwidth displayblock">@period.TimeSpan</strong>
							<div class="truncate">@period.Title</div>
							@if (period.Meeting != null)
							{
								<div class="icon meeting tooltip floatright" tooltip-text="<div><dl><dt>Subject: </dt><dd> @period.Meeting.Title </dd><dt>Location: </dt><dd> @period.Meeting.Location </dd></dl></div>"></div>
							}
						</div>
					</li>
				}
				<li>
				</li>
			</ul>
		}
	</div>
</div>


<div id="Schedule-addRequest-title"class="displaynone">
	<span id="Text-request-tab" class="selectable-tab selected-tab">@Resources.TextRequest</span>
	@if (Model.RequestPermission.AbsenceRequestPermission)
	{
		<span>|</span>
		<span id="Absence-request-tab" class="selectable-tab">@Resources.AbsenceRequest</span>
	}
</div>

<div class="displaynone" id="Schedule-addRequest-cancel-button">@Resources.Cancel</div>
<div class="displaynone" id="Schedule-addRequest-default-start-time">@TimeHelper.TimeOfDayFromTimeSpan(new TimeSpan(0, 0, 0))</div>
<div class="displaynone" id="Schedule-addRequest-default-end-time">@TimeHelper.TimeOfDayFromTimeSpan(new TimeSpan(23, 59, 0))</div>

<div id="Schedule-addRequest-section" class="displaynone ui-corner-all">
	<div class="edit-module-element">
		<label class="displayblock" for="Schedule-addRequest-subject-input">@Resources.Subject</label>
		<input id="Schedule-addRequest-subject-input" type="text"/>
	</div>
	<div class="edit-module-element">
		<label class="displayblock" for="Schedule-addRequest-message-input">@Resources.Message</label>
		<textarea id="Schedule-addRequest-message-input" />
	</div>
	<div id="Absence-type-element" class="edit-module-element floatleft displaynone">
		<div class="floatleft absence-input-label">@Resources.AbsenceType</div>
		<select id="Absence-type" class="floatleft absence-input combobox tooltip-dropdown-menu">
			@foreach (var absenceType in Model.AbsenceTypes)
   {
				<option value="@Html.AttributeEncode(absenceType.Id)">@absenceType.Name</option>
   }
		</select>
		
	</div>
	<div class="edit-module-element floatleft">
		<input id="Schedule-addRequest-fromDate-input" class="date-input" type="text" value="@DateTime.Today.ToShortDateString()" />
	</div>
	<div id="Schedule-addRequest-fromTime" class="edit-module-element floatleft">
		<label class="displayblock" for="Schedule-addRequest-fromTime-input-input">@Resources.Time</label>
		<select id="Schedule-addRequest-fromTime-input" class="time-input combobox tooltip-dropdown-menu">
			@foreach (var timeSpan in Enumerable.Range(0, 48).Select(x => new TimeSpan(0, x * 30, 0)))
   {
				<option @(timeSpan.Hours == 8 && timeSpan.Minutes == 0 ? "selected" : "") value="@Html.AttributeEncode(@TimeHelper.TimeOfDayFromTimeSpan(timeSpan))">@TimeHelper.TimeOfDayFromTimeSpan(timeSpan)</option>
   }
		</select>
	</div>
	<div class="edit-module-element clearleftfloat floatleft">
		<input id="Schedule-addRequest-toDate-input" class="date-input" type="text" value="@DateTime.Today.ToShortDateString()"  />
	</div>
	<div id="Schedule-addRequest-toTime" class="edit-module-element floatleft">
		<label class="displayblock" for="Schedule-addRequest-toTime-input-input">@Resources.Time</label>
		<select id="Schedule-addRequest-toTime-input" class="time-input combobox tooltip-dropdown-menu">
			@foreach (var timeSpan in Enumerable.Range(0, 48).Select(x => new TimeSpan(0, x * 30, 0)))
   {
				<option @(timeSpan.Hours == 17 && timeSpan.Minutes == 0 ? "selected" : "") value="@Html.AttributeEncode(@TimeHelper.TimeOfDayFromTimeSpan(timeSpan))">@TimeHelper.TimeOfDayFromTimeSpan(timeSpan)</option>
   }
		</select>
	</div>
	<div class="edit-module-element clearleftfloat floatleft">
		<input type="checkbox" id="Fullday-check" data-bind="checked:IsFullDay"/>@Resources.FullDay<br />
	</div>
	<div class="edit-module-element clearleftfloat">
		<input id="Schedule-addRequest-ok-button" type="button" class="button mb5 floatright" value="@Html.AttributeEncode(Resources.SendRequest)"/>
	</div>
	<div id="Schedule-addRequest-error" class="error clearleftfloat"></div>
</div>

