@using System.Globalization
@using Teleopti.Ccc.UserTexts
@using Teleopti.Ccc.Web.Areas.MyTime.Models.Requests;
@using Teleopti.Interfaces.Domain
@model RequestsViewModel
@{
	Layout = null;
}
<script>
    $(function () {
        Teleopti.MyTimeWeb.Schedule.SetupViewModel(
            {
                xRequests: '@Resources.XRequests',
                subjectColon: '@Resources.SubjectColon',
                locationColon: '@Resources.LocationColon',
                descriptionColon: '@Resources.DescriptionColon',
                chanceOfGettingAbsencerequestGranted: '@Resources.ChanceOfGettingAbsenceRequestGranted',
                fair: '@Resources.Fair',
                poor: '@Resources.Poor',
                good: '@Resources.Good'
            },
            {
                defaultStartTime: '@TimeHelper.TimeOfDayFromTimeSpan(new TimeSpan(8, 0, 0))',
                defaultEndTime: '@TimeHelper.TimeOfDayFromTimeSpan(new TimeSpan(17, 0, 0))',
                defaultFulldayStartTime: '@TimeHelper.TimeOfDayFromTimeSpan(new TimeSpan(0, 0, 0))',
                defaultFulldayEndTime: '@TimeHelper.TimeOfDayFromTimeSpan(new TimeSpan(23, 59, 0))',
                todayYear: '@CultureInfo.CurrentCulture.Calendar.GetYear(DateTime.Today)',
                todayMonth: '@CultureInfo.CurrentCulture.Calendar.GetMonth(DateTime.Today)',
                todayDay: '@CultureInfo.CurrentCulture.Calendar.GetDayOfMonth(DateTime.Today)'
            }
        );
        Teleopti.MyTimeWeb.Schedule.LoadAndBindData();
    });
</script>

<script type="text/html" id="add-new-request-detail-template">  
	@Html.Partial("~/Areas/MyTime/Views/Requests/AddNewRequestDetailView.cshtml")
</script>

<input id="Request-detail-datepicker-format" type="hidden" data-bind="value: datePickerFormat"/>

<div class="navbar">
    <div class="navbar-inner">
        <form class="navbar-form pull-left">
            <div class="input-append input-prepend">
                <button class="btn" data-bind="click: previousWeek"><i class="icon-arrow-left"></i></button>
                <input data-bind="value: displayDate" type="text" class="span3 text-center" readonly="readonly"/>
                <button class="btn" data-bind="mytimeDatePicker: selectedDate"><i class="icon-th" ></i></button>
                <button class="btn" data-bind="click: nextWeek"><i class="icon-arrow-right"></i></button>
            </div>
        </form>
        <ul class="nav">
            <li><a href="#" class="week-schedule-today" data-bind="click: today">
                    <i class="icon-stop"></i>
                    @Resources.Today
                </a></li>
        </ul>
    </div>
</div>
<ul class="nav nav-pills" data-bind="visible: showAddRequestToolbar">
    <li data-bind="visible: textPermission, css: {active: textRequestActive}">
        <a class="text-request-add" href="#" data-bind="click: textRequestActivate"><i class="icon-plus"></i>&nbsp;@Resources.TextRequest</a>
    </li>
    <li data-bind="visible: absenceRequestPermission, css: { active: absenceRequestActive }">
        <a class="absence-request-add" href="#" data-bind="click: absenceRequestActivate"><i class="icon-plus"></i>&nbsp;@Resources.AbsenceRequest</a>
    </li>
</ul>
<div data-bind="with: requestViewModel">
    <div id="Request-add-section" class="well well-small clearfix">
        <div data-bind="template: Template">
        </div>
    </div>

</div>
<div>
	<div class="week-schedule-ASM-permission-granted" data-bind="if : asmPermission">yes</div>
	<div class="week-schedule-current-week" data-bind="if : isCurrentWeek">yes</div>
	<div class="body-weekview-inner clearfix">
		<div class="weekview-timeline floatleft">
			<div class="week-schedule-time-indicator-small absolute">
			</div>
			<!-- ko foreach: timeLines -->
			<div class="weekview-timeline-label absolute" data-bind="style: {top: topPosition}, text : timeText, visible : evenHour">
			</div>
			<!-- /ko -->
		</div>
		<!-- ko foreach: days -->
		<ul class="weekview-day" data-bind="attr: {'data-mytime-date': fixedDate, 'data-mytime-state': state, 'data-mytime-dayofweek': dayOfWeek}">
			<li>
				<div data-bind="text: headerTitle">
				</div>
			</li>
			<li class="second">
				<div>
					<span class="floatleft ml5" data-bind="text: headerDayDescription"></span><span class="floatright mr5"
						data-bind="text: headerDayNumber"></span>
				</div>
			</li>
		    <li id="day-summary" 
		        data-bind="css: { 'show-request': textRequestPermission }, attr: { 'class': classForDaySummary },
                style: { 'background-color': colorForDaySummary, 'color': textColor }, click: $parent.showAddRequestForm"
		        class="third category">
		        
		        <strong class="fullwidth displayblock" data-bind="text: summaryTitle"></strong>
		        <span class="fullwidth displayblock" data-bind="text: summaryTimeSpan"></span>
		        <span data-bind="text: summary"></span>
		    </li>
			<li id="day-symbol" class="fourth" data-bind="click: $parent.showAddRequestForm">
				<div class="text-request floatright" data-bind="visible: hasTextRequest, attr: {title : textRequestText}, click: navigateToRequests">
					<div class="floatright extrasmall" data-bind="text:textRequestCount">
					</div>
					<div class="icon text-request ir floatright" />
				</div>
				<div class="holiday-agents show-request floatright" data-bind="visible: absenceRequestPermission, attr: {title :  holidayChanceText()}">
					<div>
						<div class="small-circle" data-bind="style: {background: holidayChanceColor()}" >
							<div class="small-radial-circle"></div>
						</div>
					</div> 
				</div>
				<!-- ko if: hasNote -->
				<div class="icon comment-day ir floatright" data-bind="attr: {'tooltip-text': noteMessage}">
				</div>
				<!-- /ko -->
				<div id="add-request-cell" data-bind="css:{'add-request-space show-request': textRequestPermission}">
				</div>
			</li>
			<li class="weekview-day-schedule relative">
				<div class="week-schedule-time-indicator relative">
				</div>
				<!-- ko foreach: layers -->
				<div class="week-schedule-layer absolute" data-bind="tooltip: { title: tooltipText, html: true }, style: { backgroundColor: color, color: textColor, 'height': heightPx, top: topPx, 'width': '131px' }">
					<!-- ko if: hasMeeting -->
					<div class="icon meeting floatright">
					</div>
					<!-- /ko -->
					<strong class="truncate" data-bind="text: title, visible: showTitle"></strong><span
						class="fullwidth displayblock" data-bind="visible: showDetail, text: timeSpan">
					</span>
				</div>
				<!-- /ko -->
			</li>
			<!-- /ko -->
		</ul>
		<!-- /ko -->
	</div>
</div>
