@using System.Drawing
@using Teleopti.Ccc.UserTexts
@using Teleopti.Ccc.Web.Areas.MyTime.Core
@using Teleopti.Ccc.Web.Areas.MyTime.Models.WeekSchedule
@model WeekScheduleViewModel
@{
	const int scheduleHeight = 668;
	Layout = null;
}
<div id="ScheduleWeek-body" class="body-weekview clearfix" data-mytime-periodselection='@Html.Schedule().PeriodSelectionAsJson(Model.PeriodSelection)'>
	<style>
		@foreach (var style in Model.Styles)
		{
			@string.Format("li.third.{0} {{background-color: rgb({1});}}\n", style.Name, ColorTranslator.FromHtml(style.ColorHex).ToCSV())
		}
	</style>
	<div id="ScheduleWeek-body-inner" class="body-weekview-inner clearfix">
		<div class="weekview-timeline floatleft">
			@foreach (var time in Model.TimeLine)
			{
				<div class="weekview-timeline-label absolute" style="top: @(Math.Round(scheduleHeight * time.PositionPercentage) + 198)px;">
					@time.Time
				</div>
			}
		</div>
		@foreach (var day in Model.Days)
		{
			<ul class="weekview-day" data-mytime-date="@day.FixedDate" data-request-default-date="@day.Date" data-mytime-state="@Html.Schedule().FormatState(day.State)">
				<li>
					<div>@day.Header.Title</div>
				</li>
				<li class="second">
					<div>
						<span class="floatleft ml5">@day.Header.DayDescription</span>
						<span class="floatright mr5">@day.Header.DayNumber</span>
					</div>
				</li>
				<li class="@Html.AttributeEncode(day.Summary.StyleClassName) third category">
					
					<strong class="fullwidth displayblock">@day.Summary.Title</strong>
					<span class="fullwidth displayblock">@day.Summary.TimeSpan</span>
					@day.Summary.Summary
					
				</li>
				<li id="day-summary" class="fourth">
					<div class="text-request floatright" @(day.TextRequestCount > 0 ? "" : "style=display:none") title="@(string.Format(Resources.XRequests, day.TextRequestCount))">
						<div class="floatright extrasmall">@day.TextRequestCount</div>
						<div class="icon text-request ir floatright" />
					</div>
					@if (day.HasNote)
					{
						<div class="icon comment-day ir tooltip floatright" tooltip-text="@day.Note.Message">
						</div>
					}
					<div id="add-request-cell"  @(Model.RequestPermission.TextRequestPermission ? @Html.Raw("class=\"add-request-space\"") : @Html.Raw("class=\"\""))></div>
				</li>
				<li class="weekview-day-schedule relative">
					@foreach (var period in day.Periods)
					{
						var topPixel = Math.Round(scheduleHeight * period.StartPositionPercentage);
						var bottomPixel = Math.Round(scheduleHeight * period.EndPositionPercentage) - 1;
						var heightPixel = bottomPixel - topPixel;
						var heightDouble = scheduleHeight * (period.EndPositionPercentage - period.StartPositionPercentage);

						const int pixelToDisplayAll = 33;
						const int pixelToDisplayTitle = 16;
						var tooltipText = period.Meeting == null ? period.TimeSpan : string.Format("<div>{0}</div><div><dl><dt>Subject: </dt><dd> {1} </dd><dt>Location: </dt><dd> {2} </dd></dl></div>", period.TimeSpan, period.Meeting.Title, period.Meeting.Location);

						<div class="week-schedule-layer absolute tooltip" tooltip-title="@period.Title" tooltip-text="@tooltipText" 
							style="background-color: @string.Format("rgb({0})", period.Color); height: @(heightPixel)px; top: @(topPixel)px;">
							@if (period.Meeting != null)
							{
								<div class="icon meeting floatright"></div>
							}
							<strong @(heightDouble > pixelToDisplayTitle ? @Html.Raw("class=\"truncate\"") : @Html.Raw("class=\"truncate displaynone\""))>@period.Title</strong>
							<span @(heightDouble < pixelToDisplayAll ? @Html.Raw("class=\"fullwidth displaynone\"") : @Html.Raw("class=\"fullwidth displayblock\""))>@period.TimeSpan</span>
						</div>
					}
				</li>
			</ul>
		}
	</div>
</div>

@Html.Partial("WeekRequestPartial", Model)