@using Teleopti.Ccc.UserTexts
@using Teleopti.Ccc.Web.Areas.MyTime.Core
@using Teleopti.Ccc.Web.Areas.MyTime.Models.WeekSchedule
@using Teleopti.Interfaces.Domain
@model WeekScheduleViewModel
@{
	const int scheduleHeight = 668;
	Layout = null;
}
<div id="ScheduleWeek-body" class="body-weekview clearfix" data-mytime-periodselection='@Html.Schedule().PeriodSelectionAsJson(Model.PeriodSelection)'>
	<style>
		@foreach (var style in Model.Styles)
		{
			@string.Format("li.third.{0} {{background-color: {1};}}\n", style.Name, style.ColorHex)
		}
	</style>
	<div id="ScheduleWeek-body-inner" class="body-weekview-inner clearfix">
		<div class="weekview-timeline floatleft">
			@foreach (var time in Model.TimeLine)
			{
				<div class="weekview-timeline-label absolute" style="top: @(Math.Round(scheduleHeight * time.PositionPercentage) + 198)px;">
					@time.Time
				</div>
			}
		</div>
		@foreach (var day in Model.Days)
		{
			<ul class="weekview-day" data-mytime-date="@day.FixedDate" data-request-default-date="@day.Date" data-mytime-state="@Html.Schedule().FormatState(day.State)">
				<li>
					<div>@day.Header.Title</div>
				</li>
				<li class="second">
					<div>
						<span class="floatleft ml5">@day.Header.DayDescription</span>
						<span class="floatright mr5">@day.Header.DayNumber</span>
					</div>
				</li>
				<li class="@Html.AttributeEncode(day.Summary.StyleClassName) third category">
					
					<strong class="fullwidth displayblock">@day.Summary.Title</strong>
					<span class="fullwidth displayblock">@day.Summary.TimeSpan</span>
					@day.Summary.Summary
					
				</li>
				<li id="day-summary" @(Model.RequestPermission.TextRequestPermission ? @Html.Raw("class=\"add-text-request fourth\"") : @Html.Raw("class=\"fourth\""))>
					<div class="relative">
						<div class="text-request absolute" @(day.TextRequestCount > 0 ? "" : "style=display:none") title="@(string.Format(Resources.XRequests, day.TextRequestCount))">
							<div class="floatright extrasmall">@day.TextRequestCount</div>
							<div class="icon text-request ir floatright" />
						</div>
						@if (day.HasNote)
						{
							<div class="icon comment-day ir absolute tooltip" tooltip-text="@day.Note.Message">
							</div>
						}
					</div>
				</li>
				<li class="weekview-day-schedule relative">
					@foreach (var period in day.Periods)
					{
						var topPixel = (Math.Round(scheduleHeight * period.StartPositionPercentage));
						var bottomPixel = (Math.Round(scheduleHeight * period.EndPositionPercentage));
						var heightPixel = bottomPixel - topPixel;
						if (heightPixel > 32)
						{
							<div class="week-schedule-layer absolute" style="@*border: 1px solid @string.Format("rgba({0},1)", period.Color);*@ background-color: @string.Format("rgba({0},0.2)", period.Color); height: @(heightPixel)px; top: @(topPixel)px;">
								<strong class="truncate">@period.Title</strong>
								<span class="fullwidth displayblock">@period.TimeSpan</span>
								@if (period.Meeting != null)
								{
									<div class="icon meeting tooltip floatright" tooltip-text="<div><dl><dt>Subject: </dt><dd> @period.Meeting.Title </dd><dt>Location: </dt><dd> @period.Meeting.Location </dd></dl></div>"></div>
								}
							</div>
						}
						else
						{
							<div class="week-schedule-layer absolute tooltip" tooltip-title="@period.Title" tooltip-text="@period.TimeSpan"
								 style="@*border: 1px solid @string.Format("rgba({0},1)", period.Color);*@ background-color: @string.Format("rgba({0},0.2)", period.Color); height: @(heightPixel)px; top: @(topPixel)px;">
								@if (period.Meeting != null)
								{
									<div class="icon meeting tooltip floatright" tooltip-text="<div><dl><dt>Subject: </dt><dd> @period.Meeting.Title </dd><dt>Location: </dt><dd> @period.Meeting.Location </dd></dl></div>"></div>
								}
							</div>
						}
					}
				</li>
			</ul>
		}
	</div>
</div>


<div id="Schedule-addRequest-title" class="displaynone">
	<span id="Text-request-tab" class="selectable-tab selected-tab">@Resources.TextRequest</span>
	@if (Model.RequestPermission.AbsenceRequestPermission)
	{
		<span>|</span>
		<span id="Absence-request-tab" class="selectable-tab">@Resources.AbsenceRequest</span>
	}
</div>

<div class="displaynone" id="Schedule-addRequest-cancel-button">@Resources.Cancel</div>
<div class="displaynone" id="Schedule-addRequest-default-start-time">@TimeHelper.TimeOfDayFromTimeSpan(new TimeSpan(0, 0, 0))</div>
<div class="displaynone" id="Schedule-addRequest-default-end-time">@TimeHelper.TimeOfDayFromTimeSpan(new TimeSpan(23, 59, 0))</div>

<div id="Schedule-addRequest-section" class="displaynone ui-corner-all">
	<div class="edit-module-element">
		<label class="displayblock" for="Schedule-addRequest-subject-input">@Resources.Subject</label>
		<input id="Schedule-addRequest-subject-input" type="text"/>
	</div>
	<div class="edit-module-element">
		<label class="displayblock" for="Schedule-addRequest-message-input">@Resources.Message</label>
		<textarea id="Schedule-addRequest-message-input" />
	</div>
	<div id="Absence-type-element" class="floatleft displaynone">
		<div class="edit-module-element floatleft">
			<div class="floatleft absence-input-label">@Resources.AbsenceType</div>
		</div>
		<div class="edit-module-element floatleft">
			<select id="Absence-type" class="floatleft absence-input combobox tooltip-dropdown-menu">
				@foreach (var absenceType in Model.AbsenceTypes)
				{
					<option value="@Html.AttributeEncode(absenceType.Id)">@absenceType.Name</option>
				}
			</select>
		</div>
	</div>
	<div class="edit-module-element floatleft">
		<input id="Schedule-addRequest-fromDate-input" class="date-input" type="text" value="@DateTime.Today.ToShortDateString()" />
	</div>
	<div id="Schedule-addRequest-fromTime" class="edit-module-element floatleft">
		<label class="displayblock" for="Schedule-addRequest-fromTime-input-input">@Resources.Time</label>
		<select id="Schedule-addRequest-fromTime-input" class="time-input combobox tooltip-dropdown-menu">
			@foreach (var timeSpan in Enumerable.Range(0, 48).Select(x => new TimeSpan(0, x * 30, 0)))
			{
				<option @(timeSpan.Hours == 8 && timeSpan.Minutes == 0 ? "selected" : "") value="@Html.AttributeEncode(@TimeHelper.TimeOfDayFromTimeSpan(timeSpan))">@TimeHelper.TimeOfDayFromTimeSpan(timeSpan)</option>
			}
		</select>
	</div>
	<div class="edit-module-element clearleftfloat floatleft">
		<input id="Schedule-addRequest-toDate-input" class="date-input" type="text" value="@DateTime.Today.ToShortDateString()"  />
	</div>
	<div id="Schedule-addRequest-toTime" class="edit-module-element floatleft">
		<label class="displayblock" for="Schedule-addRequest-toTime-input-input">@Resources.Time</label>
		<select id="Schedule-addRequest-toTime-input" class="time-input combobox tooltip-dropdown-menu">
			@foreach (var timeSpan in Enumerable.Range(0, 48).Select(x => new TimeSpan(0, x * 30, 0)))
			{
				<option @(timeSpan.Hours == 17 && timeSpan.Minutes == 0 ? "selected" : "") value="@Html.AttributeEncode(@TimeHelper.TimeOfDayFromTimeSpan(timeSpan))">@TimeHelper.TimeOfDayFromTimeSpan(timeSpan)</option>
			}
		</select>
	</div>
	<div class="edit-module-element clearleftfloat floatleft">
		<input type="checkbox" id="Fullday-check" data-bind="checked:IsFullDay"/>@Resources.FullDay<br />
	</div>
	<div class="edit-module-element clearleftfloat">
		<input id="Schedule-addRequest-ok-button" type="button" class="button mb5 floatright" value="@Html.AttributeEncode(Resources.SubmitRequest)"/>
	</div>
	<div id="Schedule-addRequest-error" class="error clearleftfloat"></div>
</div>

