@using System.Globalization
@using Teleopti.Ccc.UserTexts
@using Teleopti.Ccc.Web.Areas.MyTime.Models.Requests;
@using Teleopti.Interfaces.Domain
@model RequestsViewModel
@{
	Layout = null;
}
<script>
    $(function () {
        Teleopti.MyTimeWeb.Schedule.SetupViewModel(
            {
                xRequests: '@Resources.XRequests',
                subjectColon: '@Resources.SubjectColon',
                locationColon: '@Resources.LocationColon',
                descriptionColon: '@Resources.DescriptionColon',
                chanceOfGettingAbsencerequestGranted: '@Resources.ChanceOfGettingAbsenceRequestGranted',
                fair: '@Resources.Fair',
                poor: '@Resources.Poor',
                good: '@Resources.Good'
            },
            {
                defaultStartTime: '@TimeHelper.TimeOfDayFromTimeSpan(new TimeSpan(8, 0, 0))',
                defaultEndTime: '@TimeHelper.TimeOfDayFromTimeSpan(new TimeSpan(17, 0, 0))',
                defaultFulldayStartTime: '@TimeHelper.TimeOfDayFromTimeSpan(new TimeSpan(0, 0, 0))',
                defaultFulldayEndTime: '@TimeHelper.TimeOfDayFromTimeSpan(new TimeSpan(23, 59, 0))',
                todayYear: '@CultureInfo.CurrentCulture.Calendar.GetYear(DateTime.Today)',
                todayMonth: '@CultureInfo.CurrentCulture.Calendar.GetMonth(DateTime.Today)',
                todayDay: '@CultureInfo.CurrentCulture.Calendar.GetDayOfMonth(DateTime.Today)'
            }
        );
        Teleopti.MyTimeWeb.Schedule.LoadAndBindData();
    });
</script>

<script type="text/html" id="add-new-request-detail-template">  
	@Html.Partial("~/Areas/MyTime/Views/Requests/AddNewRequestDetailView.cshtml")
</script>
<script type="text/html" id="add-overtime-availability-template">
    @Html.Partial("AddOvertimeAvailabilityPartial")
</script>
<input id="Request-detail-datepicker-format" type="hidden" data-bind="value: datePickerFormat"/>

<div class="navbar navbar-default">
	<div class="col-xs-5" style="margin-top: 8px">
		<div class="input-group">
			<span class="input-group-btn">
				<button class="btn btn-default" data-bind="click: previousWeek, css: 'done'" type="button">
					<i class="glyphicon glyphicon-chevron-left"></i>
				</button>
			</span>
			<input class="form-control text-center" data-bind="value: displayDate" type="text" readonly="readonly" />
			<span class="input-group-btn">
				<button class="btn btn-default moment-datepicker" type="button">
					<i class="glyphicon glyphicon-calendar"></i>
				</button>
				<button class="btn btn-default" data-bind="click: nextWeek, css: 'done'" type="button">
					<i class="glyphicon glyphicon-chevron-right"></i>
				</button>
			</span>
		</div>
	</div>
	<ul class="list-inline navbar-nav" style="margin-top: 15px">
		<li><a href="#" id="week-schedule-today" data-bind="click: today">@Resources.Today</a></li>
	</ul>
	<ul class="nav navbar-nav" style="margin-left: 15px">
		<li class="active"><a href="#" id="week-schedule-week" data-bind="click: week">@Resources.Week</a></li>
		<li><a href="#" id="week-schedule-month" data-bind="click: month">@Resources.Month</a></li>
	</ul>
</div>
<ul class="nav nav-pills navbar-weekview" data-bind="visible: showAddRequestToolbar">
	<li data-bind="visible: overtimeAvailabilityPermission, css: { active: overtimeAvailabilityActive }">
		<a class="overtime-availability-add" href="#" data-bind="click: function () { overtimeAvailabilityActivate() }"><i class="glyphicon glyphicon-plus"></i>&nbsp;@Resources.OvertimeAvailability</a>
	</li>
	<li data-bind="visible: textPermission, css: {active: textRequestActive}">
		<a class="text-request-add" href="#" data-bind="click: textRequestActivate"><i class="glyphicon glyphicon-plus"></i>&nbsp;@Resources.TextRequest</a>
	</li>
	<li data-bind="visible: absenceRequestPermission, css: { active: absenceRequestActive }">
		<a class="absence-request-add" href="#" data-bind="click: absenceRequestActivate"><i class="glyphicon glyphicon-plus"></i>&nbsp;@Resources.AbsenceRequest</a>
	</li>
</ul>
<div data-bind="with: requestViewModel">
    <div id="Request-add-section" class="well well-small clearfix">
        <div data-bind="template: Template">
        </div>
    </div>

</div>
<div>
    <div class="week-schedule-ASM-permission-granted" data-bind="if : asmPermission">yes</div>
    <div class="week-schedule-current-week" data-bind="if : isCurrentWeek">yes</div>
    <div class="body-weekview-inner clearfix well-sm" style="padding: 0">
        <div class="weekview-timeline floatleft">
            <div class="weekview-day-time-indicator-small absolute">
            </div>
            <!-- ko foreach: timeLines -->
            <div class="weekview-timeline-label absolute" data-bind="style: {top: topPosition}, text : timeText, visible : evenHour">
            </div>
            <!-- /ko -->
        </div>
        <!-- ko foreach: days -->
        <div class="weekview-day" data-bind="attr: {'data-mytime-date': fixedDate, 'data-mytime-state': state, 'data-mytime-dayofweek': dayOfWeek}">
            <div class="weekview-day-header" data-bind="text: headerTitle"></div>
            <div class="weekview-day-date clearfix">
                <label class="weekview-day-month pull-left badge day-header-text" data-bind="text: headerDayDescription"></label>
                <label class="weekview-day-dayofmonth pull-right badge day-header-text" data-bind="text: headerDayNumber"></label>
            </div>
            <div 
                data-bind="css: { 'show-request': textRequestPermission }, attr: { 'class': classForDaySummary },
                style: { backgroundColor: colorForDaySummary, color: textColor }, click: $parent.showAddRequestForm" 
                class="weekview-day-summary">
		        
                <strong class="fullwidth displayblock" data-bind="text: summaryTitle"></strong>
                <span class="fullwidth displayblock" data-bind="text: summaryTimeSpan"></span>
                <span data-bind="text: summary"></span>
            </div>
            <div class="weekview-day-symbol" data-bind="click: $parent.showAddRequestForm, css: { 'weekview-day-show-request': textRequestPermission }">
                <div class="weekview-day-symbol-request pull-right" data-bind="visible: hasTextRequest, tooltip: { title: textRequestText, html: true }, click: navigateToRequests">
                    <i class="glyphicon glyphicon-comment"></i>
                </div>
                <div class="holiday-agents weekview-day-show-request pull-right" data-bind="visible: absenceRequestPermission, tooltip: { title: holidayChanceText(), html: true }">
                    <div class="small-circle" data-bind="style: {background: holidayChanceColor()}" >
                    </div>
                </div>
				<div class="overtime-availability-symbol floatright" data-bind="visible: overtimeAvailability().HasOvertimeAvailability, tooltip: { title: textOvertimeAvailabilityText, html: true }">
					<i class="glyphicon glyphicon-time ir floatright" />
				</div>
                <!-- ko if: hasNote -->
                <div class="pull-right" data-bind="tooltip: { title: noteMessage, html: true }">
                    <i class="glyphicon glyphicon-exclamation-sign"></i>
                </div>
                <!-- /ko -->
                <div id="add-request-cell" data-bind="css:{'add-request-space show-request': textRequestPermission}">
                </div>
            </div>
            <div class="weekview-day-schedule relative">
                <div class="weekview-day-time-indicator relative">
                </div>
                <!-- ko foreach: layers -->
				<!-- ko if: isOvertimeAvailability() -->
				<div class="weekview-day-schedule-layer absolute overtime-availability-bar" data-bind="tooltip: { title: tooltipText, html: true }, style: { backgroundColor: color, color: textColor, 'height': heightPx, top: topPx, 'width': widthPx }, click: function () { $data.showOvertimeAvailability($parents) }">
					<i class="glyphicon glyphicon-time"></i>
				</div>
				<!-- /ko -->
				<!-- ko ifnot: isOvertimeAvailability() -->
	            <div class="weekview-day-schedule-layer absolute" data-bind="tooltip: { title: tooltipText, html: true }, style: { backgroundColor: color, color: textColor, 'height': heightPx, top: topPx, 'width': widthPx }">
		            <div data-bind="visible: showTitle">
			            <strong class="weekview-day-schedule-layer-activity truncate" data-bind="text: title"></strong>
			            <!-- ko if: hasMeeting -->
			            <div class="meeting floatright">
				            <i class="meeting-icon icon-user mr10">
					            <i class="glyphicon glyphicon-user ml10"></i>
				            </i>
			            </div>
			            <!-- /ko -->
			            <span class="weekview-day-schedule-layer-time fullwidth displayblock" data-bind="visible: showDetail, text: timeSpan"></span>
		            </div>
	            </div>
				<!-- /ko -->
                <!-- /ko -->
            </div>
            <!-- /ko -->
        </div>
        <!-- /ko -->
    </div>
</div>
