@using Teleopti.Ccc.UserTexts
@using Teleopti.Ccc.Web.Areas.MyTime.Models.Message
@model MessageViewModel
@{
	Layout = null;
}

<div id="AsmMessage-body-inner" class="asmMessage-body-inner relative">
    <div class="alert alert-block bdd-show-message" data-bind="visible: shouldShowMessage">
        @Resources.NoMessagesFound
    </div>
    <div id="AsmMessages-list" data-bind="foreach: asmMessageColumnList">
        <div class="row" data-bind="foreach: Items">
            <div class="span6">
                <div class="bdd-asm-message-body well well-small" data-bind="css: { 'asmMessage-selected': isSelected }">
                    <div class="header" data-bind="click: toggleSelected" style="cursor: pointer">
                        <span class="displaynone" data-bind="text: messageId"></span>
                        <div>
                            <h5 class="asmMessage-title" data-bind="text: title">
                            </h5>
                        </div>
                        <div>
                            <div>
                                <span>@Resources.Sender: </span>
                                <span data-bind="text: sender"></span>
                                <span>@Resources.Sent: </span>
                                <span data-bind="text: date"></span>
                            </div>
                        </div>
                    </div>
                
                    <div class="bdd-asm-message-detail" data-bind="visible: isSelected">
                        <hr />
                        <div>
                            <label class="bdd-asm-message-detail-message" data-bind="text : message"></label>
                        </div>
                        <div class="bdd-asm-message-detail-dialogue">
                            <!-- ko foreach: dialogueMessages -->
                            <div></div>
                            <div>
                                <div>
                                    <span>@Resources.Sender: </span>
                                    <span data-bind="text : sender"></span>
                                    <span>@Resources.Sent: </span>
                                    <span data-bind="text : created"></span>
                                </div>
                            </div>
                            <span data-bind="text : text"></span>
                            <br/>
                            <!-- /ko -->
                        </div>
	                    <div class="bdd-asm-message-detail-reply btn-group-vertical" data-toggle="buttons-radio">
		                    <textarea data-bind="visible: allowDialogueReply, value: reply, valueUpdate:['afterkeydown', 'afterpaste', 'change']"></textarea>
		                    <!-- ko foreach: replyOptions -->
							 <button class="btn btn-primary message-option"  data-bind="text: text, visible: $parent.userMustSelectReplyOption, click: select" ></button>
		                    <!-- /ko -->
	                    </div>
						
						<hr/>
	                    <div>
		                    <button class="btn btn-primary bdd-asm-message-confirm-button" data-bind="click : confirmReadMessage, enable : canConfirm">@Html.AttributeEncode(Resources.Ok)</button>
	                    </div>
	                    <div>
                            <span class="error" data-bind="text: errorMessage"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="loading-gradient" style="display: none">
        <div class="loading"></div>
    </div>
    <div class="arrow-down"></div>
    <div class="clearboth"></div>
</div>