@using Teleopti.Ccc.UserTexts
@using Teleopti.Ccc.Web.Areas.MyTime.Models.Message
@model MessageViewModel
@{
	Layout = null;
}
<div class="container fixed-non-responsive">
	<div class="asm-messages relative">
		<div class="alert alert-info no-messages" data-bind="visible: shouldShowMessage">
			@Resources.NoMessagesFound
		</div>
		<div class="message-list" data-bind="foreach: asmMessageColumnList">
			<div class="row" data-bind="foreach: Items">
				<div class="col-xs-6">
					<div class="message well well-sm" data-bind="css: { 'asmMessage-selected': isSelected }">
						<div class="header" data-bind="click: toggleSelected" style="cursor: pointer">
							<span class="displaynone" data-bind="text: messageId"></span>
							<div>
								<h4 class="title" data-bind="text: title" />
							</div>
							<div>
								<div>
									<!-- ko if: $root.isBadgeFeatureEnabled-->
									<span data-bind="visible: isAdherenceBronzeBadgeMessage">
										<img src="~/Areas/MyTime/Content/Images/adherenceBronzeBadge.png" />
									</span>
									<span data-bind="visible: isAdherenceSilverBadgeMessage">
										<img src="~/Areas/MyTime/Content/Images/adherenceSilverBadge.png" />
									</span>
									<span data-bind="visible: isAdherenceGoldBadgeMessage">
										<img src="~/Areas/MyTime/Content/Images/adherenceGoldBadge.png" />
									</span>
									<span data-bind="visible: isAHTBronzeBadgeMessage">
										<img src="~/Areas/MyTime/Content/Images/AHTBronzeBadge.png" />
									</span>
									<span data-bind="visible: isAHTSilverBadgeMessage">
										<img src="~/Areas/MyTime/Content/Images/AHTSilverBadge.png" />
									</span>
									<span data-bind="visible: isAHTGoldBadgeMessage">
										<img src="~/Areas/MyTime/Content/Images/AHTGoldBadge.png" />
									</span>
									<span data-bind="visible: isAnsweredCallsBronzeBadgeMessage">
										<img src="~/Areas/MyTime/Content/Images/answeredCallsBronzeBadge.png" />
									</span>
									<span data-bind="visible: isAnsweredCallsSilverBadgeMessage">
										<img src="~/Areas/MyTime/Content/Images/answeredCallsSilverBadge.png" />
									</span>
									<span data-bind="visible: isAnsweredCallsGoldBadgeMessage">
										<img src="~/Areas/MyTime/Content/Images/answeredCallsGoldBadge.png" />
									</span>
									<!-- /ko -->
									<span>@Resources.Sender: </span>
									<span class="sender" data-bind="text: sender"></span>
									<span>@Resources.Sent: </span>
									<span class="send-date" data-bind="text: date"></span>
								</div>
							</div>
						</div>
						<div class="detail-form" data-bind="visible: isSelected">
							<hr />
							<div>
								<span class="message-text" data-bind="text: message"></span>
							</div>
							<div class="dialogue">
								<!-- ko foreach: dialogueMessages -->
								<div></div>
								<div>
									<div>
										<span>@Resources.Sender: </span>
										<span data-bind="text: sender"></span>
										<span>@Resources.Sent: </span>
										<span data-bind="text: created"></span>
									</div>
								</div>
								<span data-bind="text: text"></span>
								<br />
								<!-- /ko -->
							</div>
							<div data-bind="visible: allowDialogueReply">
								<textarea class="text-reply" data-bind="value: reply, valueUpdate: ['afterkeydown', 'afterpaste', 'change']"></textarea>
							</div>
							<div class="btn-group-vertical" data-bind="visible: userMustSelectReplyOption" data-toggle="buttons">
								<!-- ko foreach: replyOptions -->
								<label class="btn btn-primary message-option" data-bind="click: select">
									<input type="radio" name="options"> <span data-bind="text: text"></span>
								</label>
								<!-- /ko -->
							</div>

							<hr />
							<div>
								<button class="btn btn-primary confirm-read" data-bind="click: confirmReadMessage, enable: canConfirm">@Html.AttributeEncode(Resources.Ok)</button>
							</div>
							<div>
								<span class="error" data-bind="text: errorMessage"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="loading-gradient" style="display: none">
			<div class="loading"></div>
		</div>
		<div class="arrow-down"></div>
		<div class="clearboth"></div>
	</div>
</div>