@using System.Web.Optimization
@using Teleopti.Ccc.UserTexts
@using Teleopti.Ccc.Web.Core.Startup.InitializeApplication
@section head {
	@Styles.Render(BundleScripts.SsoCss)
	@Scripts.Render(BundleScripts.SsoJs)

	<!-- dont want to minify this one... Will be corrupt using IE8 (bug 26427)-->
	<script src="@Url.Content("~/Content/jquery-plugin/jquery.placeholder.js")"></script>

	<script type="text/javascript">
		var authentication;
		$(function () {
			if (typeof (Teleopti) === 'undefined') {
				Teleopti = {};

				if (typeof (Teleopti.SSO) === 'undefined') {
					Teleopti.SSO = {};
				}
			}

			if (typeof (Teleopti.SSO.Authentication) === 'undefined') {
				Teleopti.SSO.Authentication = {};
			}

			Teleopti.SSO.Authentication.Settings = {
				baseUrl: '@Url.Content("~/")',
				returnUrl: '@ViewBag.ReturnUrl'
			};
			authentication = new Teleopti.SSO.Authentication.Init();
		});
	</script>
}

<section id="page-signin">
    <div class="container" id="Login-container">
        <div id="Exception-div" class="alert alert-danger hide">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <span id="Exception-message"></span>
        </div>
        <div class="login-logo">
            <img class="img-responsive" src="@Url.Content("~/Areas/SSO/Content/Images/mobile_logo.png")"/>
        </div>

        <div id="view" class="login-form"></div>

        <div id="signin">

            <div id="DataSources" data-bind="visible: HasDataSources, foreach: DataSources" class="list-group">
                <a href="#" class="list-group-item application" data-bind="click: $parent.SelectDataSource, css: { 'active': $parent.SelectedDataSource() == $data }">
                    <span data-bind="text: Name"></span>
                </a>
            </div>
            <form data-bind="submit: SignIn">
                <div data-bind="visible: DisplayUserNameAndPasswordBoxes">
                    <div class="form-group">
                        <input type="text" id="Username-input" class="form-control" placeholder="@Resources.UserName" data-bind="value: UserName, valueUpdate: 'afterkeydown'" autocapitalize="off" autocorrect="off" />
                    </div>
                    <div class="form-group">
                        <input type="password" id="Password-input" class="form-control" placeholder="@Resources.Password" data-bind="value: Password, valueUpdate: 'afterkeydown'" />
                    </div>
                </div>
                <div id="Signin-error" 
					 class="alert alert-warning" 
					 data-bind="visible: HasErrorMessage, text: ErrorMessage"
                     data-nobusinessunitext="@Resources.NoAllowedBusinessUnitFoundInCurrentDatabase"
					 data-nodatasourcetext="@Resources.NoDatasource">
                </div>

                <button class="btn btn-primary" id="Login-button" type="submit" data-bind="enable: Ajax.Inactive, visible: HasDataSources">@Resources.LogOn</button>
                <img data-bind="visible: Ajax.Active" src="@Url.Content("~/Areas/SSO/Content/Images/ajax-loader-small.gif")" alt="..." />
            </form>
        </div>

        <div id="changepassword">
            <div id="PasswordAlreadyExpired" class="alert alert-warning login-warning" data-bind="visible: MustChangePassword">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <strong>@Resources.WarningWithExclamatory</strong> @Resources.YourPasswordHasAlreadyExpired
            </div>
            <div id="PasswordExpireSoon" class="alert alert-warning login-warning" data-bind="visible: !MustChangePassword()">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <strong>@Resources.WarningWithExclamatory</strong> @Resources.YourPasswordWillExpireSoon
            </div>
            <div class="login-form"> 
                <div class="form-group">
                    <input type="password" id="New-password" placeholder="@Resources.NewPassword" data-bind="value: NewPassword" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="password" id="Confirm-new-password" placeholder="@Resources.ConfirmNewPassword" data-bind="value: ConfirmNewPassword" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="password" id="Old-password" placeholder="@Resources.PasswordOld" data-bind="value: OldPassword" class="form-control" />
                </div>
                <div id="Password-change-error" class="alert alert-warning" data-bind="visible: ErrorMessage().length > 0, text: ErrorMessage"
					data-notmatch="@Resources.PasswordsDoNotMatch">
                </div>
                <button class="btn btn-primary" id="Change-password-button" data-bind="click: ApplyChangePassword">@Resources.Apply</button>
                <button class="btn btn-primary" id="Skip-button" data-bind="visible: !MustChangePassword(), click: SkipChangePassword">@Resources.Skip</button>
            </div>
        </div>
    </div>
</section>

