@using System.Web.Optimization
@using Teleopti.Ccc.UserTexts
@using Teleopti.Ccc.Web.Core.Startup.InitializeApplication
@section head {
	@Styles.Render(BundleScripts.SsoCss)
	@Scripts.Render(BundleScripts.SsoJs)
	@Styles.Render("~/areas/sso/Content/Css/main.min.css")
	@Styles.Render("~/areas/sso/Content/Css/newLogin.css")



	<!-- dont want to minify this one... Will be corrupt using IE8 (bug 26427)-->
	<script src="@Url.Content("~/Content/jquery-plugin/jquery.placeholder.js")"></script>

	<script type="text/javascript">
	var authentication;
	$(function () {
		//isTeleoptiProvider is used to tell the fat client that the teleopti browser is used as a provider.
		//this is used to enable the profile menu in the fat client only if its a Teleopti provider
		if (typeof isTeleoptiProvider !== 'undefined') {
			isTeleoptiProvider();
		}

		if (typeof (Teleopti) === 'undefined') {
			Teleopti = {};

			if (typeof (Teleopti.SSO) === 'undefined') {
				Teleopti.SSO = {};
			}
		}

		if (typeof (Teleopti.SSO.Authentication) === 'undefined') {
			Teleopti.SSO.Authentication = {};
		}

		Teleopti.SSO.Authentication.Settings = {
			baseUrl: '@Url.Content("~/")',
			returnUrl: '@ViewBag.ReturnUrl',
			pendingRequest: '@ViewBag.PendingRequest'
		};
		authentication = new Teleopti.SSO.Authentication.Init();
	});
	</script>
}

<section id="page-signin">
	<div id="Login-container">
		<div id="view" class="login-form"></div>
		<div id="signin">
			<div class="con-row">
				<div class="con-flex"></div>
				<div class="con-flex split-1-2">
					<div class="panel material-depth-1 line-center">
						<div class="sub-header">
							<h1>TELEOPTI WFM</h1>
						</div>
						<div class="con-row">
							<div class="con-flex">
								<form class="wfm-form" data-bind="submit: SignIn">
									<div class="form-input-wrap">
										<input type="text" id="Username-input" placeholder="@Resources.UserName" data-bind="value: UserName, valueUpdate: 'afterkeydown',enable: Ajax.Inactive" autocapitalize="off" autocorrect="off" autocomplete="username" />
									</div>
									<div class="form-input-wrap">
										<input type="password" id="Password-input" placeholder="@Resources.Password" data-bind="value: Password, valueUpdate: 'afterkeydown',enable: Ajax.Inactive" autocomplete="current-password" />
									</div>
									<div class="form-input-wrap con-row">
										<div class="wfm-checkbox con-flex" data-bind="visible: IsLogonFromBrowser">
											<input type="checkbox" id="check1" data-bind="checked: RememberMe, enable: Ajax.Inactive">
											<label for="check1">
												<span class="wfm-checkbox-toggle"></span>
												<span class="wfm-checkbox-label">@Resources.RememberMe </span>
											</label>
										</div>
										<div class="con-flex signin_forgot_password" data-bind="visible: isToggleEnabled('Wfm_User_Password_Reset_74957')">
											<a href="#" data-bind="click: gotoForgotPassword">@Resources.ForgotYourPassword</a>
										</div>
									</div>
									<div style="text-align: right;" class="con-flex" data-bind="visible: isToggleEnabled('Wfm_User_Password_Reset_74957')">
										<a href="#" data-bind="click: gotoForgotPassword">@Resources.ForgotYourPassword</a>
									</div>
									<div class="con-row">
										<div class="con-flex">
											<button class="wfm-btn wfm-btn-primary" id="Signin-button" type="submit" data-bind="enable: Ajax.Inactive" style="margin-top: 10px">@Resources.SignIn</button>
											<div data-bind="visible: Ajax.Active" class="loader"></div>
										</div>

									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<div class="con-flex"></div>
			</div>
			<div class="con-row">
				<div class="con-flex"></div>
				<div class="con-flex split-1-2">
					<div id="Signin-error"
						 class="alert alert-warning formError material-depth-1"
						 data-bind="visible: HasErrorMessage, text: ErrorMessage"
						 data-nobusinessunitext="@Resources.NoAllowedBusinessUnitFoundInCurrentDatabase"
						 data-nodatasourcetext="@Resources.NoDatasource">
					</div>
				</div>
				<div class="con-flex"></div>
			</div>
		</div>

		<div id="changepassword">
			<div class="con-row">
				<div class="con-flex"></div>
				<div class="con-flex">
					<div class="panel material-depth-1 line-center">
						<div class="sub-header">
							<h1>@Resources.PasswordSettings</h1>
						</div>
						<div class="con-row">
							<div class="con-flex wfm-form">
								<div class="form-group">
									<input type="password" id="Old-password" placeholder="@Resources.PasswordOld" data-bind="value: OldPassword" autocomplete="current-password" />
								</div>
								<div class="form-group">
									<input type="password" id="New-password" placeholder="@Resources.NewPassword" data-bind="value: NewPassword" autocomplete="new-password" />
								</div>
								<div class="form-group">
									<input type="password" id="Confirm-new-password" placeholder="@Resources.ConfirmNewPassword" data-bind="value: ConfirmNewPassword" autocomplete="new-password" />
								</div>
								<div id="Password-change-error" class="alert alert-warning formError material-depth-1" data-bind="visible: ErrorMessage().length > 0, text: ErrorMessage"
									 data-notmatch="@Resources.PasswordsDoNotMatch">
								</div>
								<button class="wfm-btn wfm-btn-default" id="Skip-button" data-bind="visible: !MustChangePassword(), click: SkipChangePassword">@Resources.Skip</button>
								<button class="wfm-btn wfm-btn-primary" id="Change-password-button" data-bind="click: ApplyChangePassword">@Resources.Apply</button>
							</div>
						</div>
					</div>
				</div>
				<div class="con-flex"></div>
			</div>
			<div class="con-row">
				<div class="con-flex"></div>
				<div class="con-flex">
					<div id="PasswordAlreadyExpired" class="alert alert-warning formError material-depth-1" data-bind="visible: MustChangePassword">
						<button type="button" class="close" data-dismiss="alert">x</button>
						<strong>@Resources.WarningWithExclamatory</strong> @Resources.YourPasswordHasAlreadyExpired
					</div>
					<div id="PasswordExpireSoon" class="alert alert-warning formError material-depth-1" data-bind="visible: !MustChangePassword()">
						<button type="button" class="close" data-dismiss="alert">x</button>
						<strong>@Resources.WarningWithExclamatory</strong> @Resources.YourPasswordWillExpireSoon
					</div>
				</div>
				<div class="con-flex"></div>
			</div>
		</div>

		<div id="forgotpassword">
			<div class="con-row" data-bind="visible: SuccessMessage().length === 0" style="margin-top: 2%;">
				<div class="con-flex"></div>
				<div class="con-flex split-1-2" >
					<div class="panel material-depth-1 line-center">
						<div class="sub-header">
							<h1>@Resources.ForgotYourPassword</h1>
						</div>
						<div style="margin-bottom: 15px;">@Resources.ForgotYourPasswordInstruction</div>
						<div class="con-row">
							<div class="con-flex wfm-form">
								<div class="form-group">
								</div>
								<button class="wfm-btn wfm-btn-default" id="back-button" data-bind="click: BackToLogin">@Resources.Cancel</button>
								<button class="wfm-btn wfm-btn-primary" id="send-forgot-password-mail-button" type="submit" data-bind="click: SendForgotPasswordMail">@Resources.Send</button>
							</div>
						</div>
					</div>
				</div>
				<div class="con-flex"></div>
			</div>
			<div class="con-row" style="margin-top: 2%;">
				<div class="con-flex"></div>
				<div class="con-flex split-1-2">
					<div id="Password-change-success" style="text-align: center" class="alert alert-success formError material-depth-1" data-bind="visible: SuccessMessage().length > 0, text: '@Resources.ResetPasswordSuccess'">
					</div>

					<div id="Password-change-error" style="text-align: center; background-color: #ffb974; color: #333333;" class="alert alert-info formError material-depth-1" data-bind="visible: ErrorMessage().length > 0, text: ErrorMessage"
						 data-invalid="@Resources.ResetPasswordErrorMessage" data-techerror="@Resources.SomethingWentWrong" >
					</div>
				</div>
				<div class="con-flex"></div>
			</div>
		</div>
	</div>
</section>
