@using Teleopti.Ccc.UserTexts
@using Teleopti.Ccc.Web.Areas.MyTime.Core
@using Teleopti.Ccc.Web.Areas.MyTime.Models.StudentAvailability
@model StudentAvailabilityViewModel
@{
	Layout = null;
}
<div class="hidden-lg hidden-md topbarparent">
	<div class="navbar navbar-default collapse navbar-collapse subnavbar">
		<div class="container">
			<ul class="nav navbar-nav">
				<li>
					<div class="input-group collapse-sub-navbar" style="max-width: 390px;">
						<span class="input-group-btn">
							<button class="btn btn-default" data-bind="click: previousPeriod, css: 'done'" type="button">
								<i class="glyphicon glyphicon-chevron-left"></i>
							</button>
						</span>
						<input class="form-control text-center" style="width: 100%" data-bind="value: displayDate" type="text" readonly="readonly" />
						<span class="input-group-btn">
							<button class="btn btn-default moment-datepicker" type="button">
								<i class="glyphicon glyphicon-calendar"></i>
							</button>
							<button class="btn btn-default" data-bind="click: nextPeriod, css: 'done'" type="button">
								<i class="glyphicon glyphicon-chevron-right"></i>
							</button>
						</span>
					</div>
				</li>
			</ul>
			<ul class="nav navbar-nav">
				<li><a href="#" id="Availability-edit-button-narrow"><i class="glyphicon glyphicon-edit"></i>&nbsp;@Resources.Availability</a></li>
				<li><a href="#" id="Availability-delete-button-narrow"><i class="glyphicon glyphicon-remove"></i>&nbsp;@Resources.Remove</a></li>
			</ul>
		</div>
	</div>
</div>

<div class="container" style="padding-top: 10px;">
	<div class="navbar navbar-default hidden-sm hidden-xs">
		<div class="container">
			<div class="navbar-left">
				<div class="navbar-form">
					<div class="input-group" style="max-width: 390px;">
						<span class="input-group-btn">
							<button class="btn btn-default" data-bind="click: previousPeriod, css: 'done'" type="button">
								<i class="glyphicon glyphicon-chevron-left"></i>
							</button>
						</span>
						<input class="form-control text-center" style="width: 100%" data-bind="value: displayDate" type="text" readonly="readonly" />
						<span class="input-group-btn">
							<button class="btn btn-default moment-datepicker" type="button">
								<i class="glyphicon glyphicon-calendar"></i>
							</button>
							<button class="btn btn-default" data-bind="click: nextPeriod, css: 'done'" type="button">
								<i class="glyphicon glyphicon-chevron-right"></i>
							</button>
						</span>
					</div>
				</div>
			</div>
			<ul class="nav navbar-nav">
				<li><a href="#" id="Availability-edit-button"><i class="glyphicon glyphicon-edit"></i>&nbsp;@Resources.Availability</a></li>
				<li><a href="#" id="Availability-delete-button"><i class="glyphicon glyphicon-remove"></i>&nbsp;@Resources.Remove</a></li>
			</ul>
		</div>
	</div>
</div>

<div class="container fixed-non-responsive">
	<div id="Student-availability-edit-form" class="well well-sm clearfix" data-bind="visible: AddAvailabilityFormVisible">
		@Html.Partial("AddStudentAvailabilityPartial")
	</div>
	<div id="StudentAvailability-period" class="alert alert-info alert-student-availability">
		@if (Model.StudentAvailabilityPeriod == null)
  {
			@String.Format("{0} : {1}", Resources.StudentAvailabilityPeriod, Resources.MissingWorkflowControlSet)
  }
  else
  {
			@String.Format("{0} : {1} | ", Resources.StudentAvailabilityPeriod, Model.StudentAvailabilityPeriod.Period)
			@String.Format("{0} : {1}", Resources.IsOpen, Model.StudentAvailabilityPeriod.OpenPeriod)
  }
	</div>
	<div id="StudentAvailability-body" class="clearfix" data-mytime-periodselection='@Html.Schedule().PeriodSelectionAsJson(Model.PeriodSelection)'>
		<style>
			@foreach (var style in Model.Styles)
   {
				@String.Format(".calendarview-week li.{0} div.day-content{{border-left-color: #{1}; border-right-color: #{1};}}\n", style.Name, style.ColorHex)
   }
		</style>
		<div id="StudentAvailability-body-inner" class="well clearfix pd0 body-inner">
			<ul class="weekdays">
				@foreach (var weekDayName in Model.WeekDayHeaders)
	{
					<li>@weekDayName.Title</li>
	}
			</ul>
			@foreach (var week in Model.Weeks)
   {
				<ul class="calendarview-week" onselectstart="return false;">
					<li>
						<div>
							<span>@week.Summary.MinWorkTime</span>
							<span>@week.Summary.MaxWorkTime</span>
						</div>
					</li>
					@foreach (var day in week.Days)
	 {
						<li data-mytime-editable="@day.Editable" data-mytime-date="@Html.Schedule().FormatDate(day.Date)" class="relative @(day.InPeriod ? "inperiod" : "non-editable")" data-bind="css: { editable: Editable, 'non-editable': !Editable() }">
							<div>
								<div class="day-header">
									<span class="floatleft badge day-header-left day-header-text">@day.Header.DayDescription</span><span class="floatright badge day-header-right day-header-text">@day.Header.DayNumber</span>
								</div>
								<div class="day-content">
									<img class="loading-small-gray-blue" data-bind="visible: IsLoading" src="@Url.Content("~/Areas/MyTime/Content/Images/ajax-loader-small-f8f8f8.gif")" alt="..." />
									<!-- ko if: AjaxError().length > 0 -->
									<h2 class="error" data-bind="text: AjaxError"></h2>
									<!-- /ko -->
									<div class="fullwidth day-content-text" data-bind="text: AvailableTimeSpan">
									</div>
								</div>
							</div>
						</li>
	 }
				</ul>
   }
		</div>
	</div>
</div>
