@using Teleopti.Ccc.UserTexts @{ Layout = null; }
<style>
	#loading {
		width: 100%;
		text-align: center;
		top: 40vh;
		background: transparent;
	}

	.select2-drop-active {
		border: none;
		box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.1);
	}
</style>
<!-- ko if: isHostAniPad || isHostAMobile -->
<style>
	html,
	body,
	section#page,
	article#body,
	#body-inner {
		cursor: pointer;
	}

	.select2-focusser,
	.select2-search,
	.select2-search input {
		display: none !important;
	}
</style>
<!-- /ko -->

<div class="nav navbar teleopti-toolbar new-teamschedule-view-nav" data-bind="css: {'new-teamschedule-view-nav-mobile': isHostAMobile}">
	<div class="container">
		<ul class="nav navbar-nav teleopti-toolbar row submenu">
			<li class="mobile-datepicker">
				<div class="input-group">
					<span class="input-group-btn">
						<button class="btn btn-default previous-day" data-bind="click: previousDay">
							<i class="glyphicon glyphicon-chevron-left"></i>
						</button>
					</span>
					<a class="text-center formatted-date-text moment-datepicker"></a>
					<span class="input-group-btn">
						<button class="btn btn-default next-day" data-bind="click: nextDay">
							<i class="glyphicon glyphicon-chevron-right"></i>
						</button>
					</span>
				</div>
			</li>
			<!-- ko if: isHostAMobile || isHostAniPad -->
			<li class="mobile-today" data-bind="click: today">
				<a>
					<i class="glyphicon glyphicon-home"></i>
				</a>
			</li>
			<!-- /ko -->

			<!-- ko if: isHostADesktop -->
			<li class="mobile-today" data-bind="click: today, tooltip: { title: '@Resources.Today', html: true, placement: 'bottom'}">
				<a>
					<i class="glyphicon glyphicon-home"></i>
				</a>
			</li>
			<!-- /ko -->

			<!-- ko if: isHostAMobile -->
			<li class="new-teamschedule-team-filter" data-bind="css: {'new-teamschedule-has-time-filter': hasFilteredOnMobile}">
				<a class="relative">
					<i class="glyphicon glyphicon-filter"></i>
					<span></span>
				</a>
			</li>
			<!-- /ko -->

			<!-- ko if: isHostADesktop || isHostAniPad -->
			<li class="new-teamschedule-time-filter" data-bind="css: {'new-teamschedule-has-time-filter': hasTimeFiltered}, tooltip: { title: buildFilterDetails(), html: true, trigger: $root.isHostADesktop ? 'hover' : 'click', placement: 'bottom'}">
				<a>
					<i class="glyphicon glyphicon-filter"></i>
					<span></span>
				</a>
			</li>
			<li class="new-teamschedule-filter-component relative">
				<div data-bind="click: openTeamSelectorPanel"></div>
				<select id="teams-and-groups-selector" data-bind="foreach: availableTeams, select2: {value: selectedTeam}">
					<optgroup data-bind="attr: { label: text }, foreach: children">
						<option data-bind="text: text, value: id"></option>
					</optgroup>
				</select>
			</li>
			<li class="new-teamschedule-search-container">
				<form class="new-teamschedule-search-component relative" data-bind="submit: submitSearchForm">
					<input type="search" class="form-control" placeholder='@Resources.SearchHintForName' data-bind="value: searchNameText" />
					<button type="submit">
						<i class="glyphicon glyphicon-search"></i>
					</button>
				</form>
			</li>
			<!-- /ko -->
		</ul>
	</div>
</div>

<div class="container relative pagebody new-teamschedule-view relative" data-bind="css: {'new-teamschedule-view-mobile': isHostAMobile && isMobileEnabled, 'new-teamschedule-view-iphone': isHostAniPhone && isMobileEnabled, 'new-teamschedule-view-ipad': isHostAniPad && isDesktopEnabled}, style: {display: isMobileEnabled || isDesktopEnabled ? 'block': 'none'}">
	<div class="agent-name-row container relative">
		<!-- ko if: mySchedule -->
		<div class="timeline-margin-block relative"></div>
		<div class="new-teamschedule-agent-name my-name relative">
			<span class="text-name">@Resources.MySchedule</span>
			<span class="shift-category-cell" data-bind="text: mySchedule().shiftCategory.name, style: {background: mySchedule().shiftCategory.bgColor, color: mySchedule().shiftCategory.color}, css: {'dayoff': mySchedule().isDayOff}">
			</span>
		</div>
		<!-- /ko -->

		<div class="teammates-agent-name-row relative">
			<div class="left-filling-block"></div>
			<!-- ko foreach: agentNames -->
			<span class="new-teamschedule-agent-name relative" data-bind="tooltip: { title: $data.name, trigger: $root.isHostADesktop ? 'hover' : 'click', placement: 'bottom'}, attr: {'index': index}, hideTooltipAfterMouseLeave: true, adjustAgentActivityTooltipPositionInTeamSchedule: true">
				<span class="text-name" data-bind="text: $data.name"></span>
				<span class="shift-category-cell" data-bind="text: $data.shiftCategory.name, style: {background: $data.shiftCategory.bgColor, color: $data.shiftCategory.color}, css: {'dayoff': $data.isDayOff}"></span>
			</span>
			<!-- /ko -->
		</div>
		<!-- ko if: isAgentScheduleLoaded() && teamSchedules().length == 0 -->
		<div class="new-teamschedule-no-result-indicator">@Resources.NoResultForCurrentFilter</div>
		<!-- /ko -->
	</div>

	<div class="new-teamschedule-table relative container">
		<div class="mobile-timeline relative" data-bind="style: {height: scheduleContainerHeight() + 'px'}">
			<!-- ko foreach: timeLines -->
			<div class="mobile-timeline-label absolute" data-bind="style: {top: topPosition}, text: timeText, visible: isHour">
			</div>
			<!-- /ko -->
		</div>

		<div class="my-schedule-column relative" data-bind="style: {height: scheduleContainerHeight() + 'px'}">
			<!-- ko if: mySchedule -->
			<div class="new-teamschedule-layer-container relative">
				<!-- ko foreach: mySchedule().layers -->
				<div class="new-teamschedule-layer cursorpointer absolute" data-bind="tooltip: { title: tooltipText, html: true, trigger: $root.isHostADesktop ? 'hover' : 'click' }, style: styleJson, css:{'overtime-layer': isOvertime, 'overtime-background-image-light': isOvertime && overTimeLighterBackgroundStyle, 'overtime-background-image-dark': isOvertime && overTimeDarkerBackgroundStyle, 'last-layer': isLastLayer}, hideTooltipAfterMouseLeave: true, adjustMyActivityTooltipPositionInTeamSchedule: true">
					<div class="activity-info" data-bind="visible: showTitle && !isOvertimeAvailability">
						<!-- ko if: showMeetingIcon -->
						<div class="meeting">
							<i class="glyphicon glyphicon-user"></i>
							<strong data-bind="text: title"></strong>
						</div>
						<!-- /ko -->
						<!-- ko ifnot: showMeetingIcon -->
						<strong data-bind="text: title"></strong>
						<span class="fullwidth displayblock" data-bind="visible: showDetail, text: timeSpan"></span>
						<!-- /ko -->
					</div>
					<div data-bind="visible: showTitle && isOvertimeAvailability">
						<i class="glyphicon glyphicon-time"></i>
					</div>
				</div>
				<!-- /ko -->
				<!--ko if: mySchedule().isDayOff-->
				<div class="dayoff cursorpointer relative" data-bind="tooltip: { title: mySchedule().dayOffName, html: true, trigger: $root.isHostADesktop ? 'hover' : 'click'}, hideTooltipAfterMouseLeave: true">
					<!-- ko if: mySchedule().layers && mySchedule().layers.length == 0 -->
					<span class="dayoff-text" data-bind="text: mySchedule().dayOffName"></span>
					<!-- /ko -->
				</div>
				<!--/ko-->
				<!-- ko if: mySchedule().isNotScheduled -->
				<div class="not-scheduled-text" data-bind="tooltip: { title: '@Resources.NotScheduled', html: true, trigger: $root.isHostADesktop ? 'hover' : 'click'}, hideTooltipAfterMouseLeave: true">@Resources.NotScheduled</div>
				<!-- /ko -->
			</div>
			<!-- /ko -->
		</div>

		<!-- ko if: teamSchedules -->
		<div class="teammates-schedules-container relative" data-bind="style: {height: scheduleContainerHeight() + 'px'}">
			<div class="left-filling-block"></div>
			<!-- ko foreach: teamSchedules -->
			<div class="teammates-schedules-column relative" data-bind="attr: {'index': index}">
				<div class="new-teamschedule-layer-container relative">
					<!-- ko foreach: layers -->
					<div class="new-teamschedule-layer cursorpointer absolute" data-bind="tooltip: { title: tooltipText, html: true, trigger: $root.isHostADesktop ? 'hover' : 'click' }, style: styleJson, css:{'overtime-layer': isOvertime, 'overtime-background-image-light': isOvertime && overTimeLighterBackgroundStyle, 'overtime-background-image-dark': isOvertime && overTimeDarkerBackgroundStyle, 'last-layer': isLastLayer}, hideTooltipAfterMouseLeave: true, adjustAgentActivityTooltipPositionInTeamSchedule: true">
						<div class="activity-info" data-bind="visible: showTitle && !isOvertimeAvailability">
							<!-- ko if: showMeetingIcon -->
							<div class="meeting">
								<i class="glyphicon glyphicon-user"></i>
								<strong data-bind="text: title"></strong>
							</div>
							<!-- /ko -->
							<!-- ko ifnot: showMeetingIcon -->
							<strong data-bind="text: title"></strong>
							<span class="fullwidth displayblock" data-bind="visible: showDetail && false, text: timeSpan"></span>
							<!-- /ko -->
						</div>
						<div data-bind="visible: showTitle && isOvertimeAvailability">
							<i class="glyphicon glyphicon-time"></i>
						</div>
					</div>
					<!-- /ko -->
					<!--ko if:isDayOff-->
					<div class="dayoff cursorpointer relative" data-bind="tooltip: { title: dayOffName, html: true, trigger: $root.isHostADesktop ? 'hover' : 'click' }, hideTooltipAfterMouseLeave: true, adjustAgentActivityTooltipPositionInTeamSchedule: true">
						<!-- ko if: layers && layers.length == 0 -->
						<span class="dayoff-text" data-bind="text: dayOffName"></span>
						<!-- /ko -->
					</div>
					<!--/ko-->
					<!-- ko if:isNotScheduled -->
					<div class="not-scheduled-text" data-bind="tooltip: { title: '@Resources.NotScheduled', html: true, trigger: $root.isHostADesktop ? 'hover' : 'click'}, hideTooltipAfterMouseLeave: true, adjustAgentActivityTooltipPositionInTeamSchedule: true">@Resources.NotScheduled</div>
					<!-- /ko -->
				</div>
			</div>
			<!-- /ko -->
		</div>
		<!-- /ko -->
	</div>

	<!-- ko if: isHostADesktop -->
	<div class="teamschedule-scroll-block-container" data-bind="style: {border: isScrollbarVisible() ? '1px dashed rgba(0, 0, 0, 0.1)' : 'none'}">
		<div class="teamschedule-scroll-block" data-bind="visible: isScrollbarVisible">
			<i class="glyphicon glyphicon-resize-horizontal"></i>
		</div>
	</div>
	<!-- /ko -->

	<!-- ko if: isPanelVisible -->
	<div class="new-teamschedule-panel" data-bind="css: {'new-teamschedule-panel-mobile': isHostAMobile}">
		<!-- ko if: isHostAMobile-->
		<div class="new-teamschedule-filter-component">
			<label>
				@Resources.Team:
			</label>
			<select data-bind="foreach: availableTeams, select2: { value: selectedTeam}">
				<optgroup data-bind="attr: { label: text }, foreach: children">
					<option data-bind="text: text, value: id"></option>
				</optgroup>
			</select>
		</div>
		<form class="new-teamschedule-search-component" data-bind="submit: submitSearchForm">
			<label>
				@Resources.AgentName:
			</label>
			<input type="search" class="form-control" placeholder='@Resources.SearchHintForName' data-bind="value: searchNameText" />
			<input type="submit" style="display: none" />
		</form>
		<!--/ko-->

		<div class="new-teamschedule-time-slider-block relative">
			<!-- ko if: showOnlyDayOff() || showOnlyNightShift() -->
			<div class="new-teamschedule-time-slider-block-backdrop"></div>
			<!-- /ko -->
			<div class="new-teamschedule-time-slider-container cursorpointer">
				<label>@Resources.StartTime:</label>
				<!-- ko if: isHostAMobile-->
				<span class="start-time-clear-button cursorpointer floatright">
					<i class="glyphicon glyphicon-remove"></i>
				</span>
				<!--/ko-->
				<div class="new-teamschedule-time-slider-line relative">
					<span class="start-time-slider-start-label" data-bind="text: startTimeStart, visible: showStartTimeStart"></span>
					<span class="start-time-slider-end-label" data-bind="text: startTimeEnd"></span>
					<div class="start-time-slider"></div>
				</div>
				<!-- ko ifnot: isHostAMobile-->
				<span class="start-time-clear-button cursorpointer">
					<i class="glyphicon glyphicon-remove"></i>
				</span>
				<!--/ko-->
			</div>

			<div class="new-teamschedule-time-slider-container cursorpointer">
				<label>@Resources.EndTime:</label>
				<!-- ko if: isHostAMobile-->
				<span class="end-time-clear-button cursorpointer floatright">
					<i class="glyphicon glyphicon-remove"></i>
				</span>
				<!--/ko-->
				<div class="new-teamschedule-time-slider-line relative">
					<span class="end-time-slider-start-label" data-bind="text: endTimeStart, visible: showEndTimeStart"></span>
					<span class="end-time-slider-end-label" data-bind="text: endTimeEnd"></span>
					<div class="end-time-slider"></div>
				</div>
				<!-- ko ifnot: isHostAMobile-->
				<span class="end-time-clear-button cursorpointer">
					<i class="glyphicon glyphicon-remove"></i>
				</span>
				<!--/ko-->
			</div>
		</div>
		<!-- ko if: isHostAMobile-->
		<div class="new-teamschedule-toggle show-only-night-shift-toggle">
			<input type="checkbox" id="show-only-night-shift-switch" data-bind="checked: showOnlyNightShift" />
			<label class="relative" for="show-only-night-shift-switch">Night shift switch</label>
			<span>@Resources.ShowOnlyNightShifts</span>
		</div>
		<div class="new-teamschedule-toggle show-only-day-off-toggle">
			<input type="checkbox" id="show-only-day-off-switch" data-bind="checked: showOnlyDayOff" />
			<label class="relative" for="show-only-day-off-switch">Day off switch</label>
			<span>@Resources.ShowOnlyDaysOff</span>
		</div>
		<div class="empty-search-result">
			<!-- ko if: emptySearchResult -->
			<label>
				@Resources.NoResultForCurrentFilter
			</label>
			<!--/ko-->
		</div>
		<div class="new-teamschedule-submit-buttons">
			<button class="btn btn-default" data-bind="click: cancelClick">@Resources.Cancel</button>
			<button class="btn btn-primary" data-bind="click: submitSearchForm">@Resources.Search</button>
		</div>
		<!--/ko-->
		<!-- ko if: isHostADesktop || isHostAniPad -->
		<div class="clearfix">
			<div class="inline-block show-only-night-shift-container">
				<div class="new-teamschedule-toggle show-only-night-shift-toggle">
					<input type="checkbox" id="show-only-night-shift-switch" data-bind="checked: showOnlyNightShift" />
					<label class="relative" for="show-only-night-shift-switch">Night shift switch</label>
					<span>@Resources.ShowOnlyNightShifts</span>
				</div>
				<div class="new-teamschedule-toggle show-only-day-off-toggle">
					<input type="checkbox" id="show-only-day-off-switch" data-bind="checked: showOnlyDayOff" />
					<label class="relative" for="show-only-day-off-switch">Day off switch</label>
					<span>@Resources.ShowOnlyDaysOff</span>
				</div>
			</div>
			<div class="new-teamschedule-submit-buttons pull-right">
				<button class="btn btn-default" data-bind="click: cancelClick">@Resources.Cancel</button>
				<button class="btn btn-primary" data-bind="click: submitSearchForm">@Resources.Search</button>
			</div>
		</div>
		<!--/ko-->

	</div>
	<!-- /ko -->
</div>