@using Teleopti.Ccc.UserTexts
@using Teleopti.Ccc.Web.Areas.MyTime.Core
@using Teleopti.Ccc.Web.Areas.MyTime.Models.TeamSchedule
@model TeamSchedulePermissionViewModel
@{
Layout = null;
const int scheduleWidth = 695;
var left = Html.HtmlStyleLeft();
}

<div data-bind="ifnot: showFabButton">
	<div class="navbar teleopti-toolbar subnavbar" tabindex="0">
		<div class="container">
			<ul class="nav navbar-nav teleopti-toolbar row submenu ts-menu">
				@if (Model.ShiftTradePermisssion)
				{
				<li class="col-xs-12 col-sm-3">
					<a class="initialize-shift-trade" href="#" data-bind="click: initializeShiftTrade"><i class="glyphicon glyphicon-plus"></i>&nbsp;@Resources.ShiftTradeRequest</a>
				</li>
				}

				@if (Model.ShiftTradeBulletinBoardPermission)
				{
				<li class="col-xs-12 col-sm-3">
					<a class="initialize-shift-trade-bulletin-board" href="#" data-bind="click: initializeShiftTradeBulletinBoard"><i
						 class="glyphicon glyphicon-plus"></i>&nbsp;@Resources.ShiftTradeBulletinBoard</a>
				</li>

				<li class="col-xs-12 col-sm-3">
					<a class="initialize-post-shift-for-trade" href="#" data-bind="click: initializePostShiftForTrade"><i class="glyphicon glyphicon-plus"></i>&nbsp;@Resources.AnnounceShift</a>
				</li>
				}
			</ul>
		</div>
	</div>
</div>

<div data-bind="if: showFabButton, css: { 'hide-fab-on-phone': hideFab}">
	<button class="close-fab-overlay" data-bind="visible: menuIsVisible,css: { 'hide-fab-on-phone': hideFab}, click: disableMenu"></button>
	<button class="fab" data-bind="click: enableMenu" tabindex="0"></button>
	<div class="navbar teleopti-toolbar subnavbar" data-bind="css: { 'menu-focusing': menuIsVisible}, visible: menuIsVisible">
		<ul class="nav navbar-nav teleopti-toolbar row submenu ts-menu">
			@if (Model.ShiftTradePermisssion)
			{
			<li class="col-xs-12 col-sm-3">
				<a class="initialize-shift-trade" href="#" data-bind="click: initializeShiftTrade"><i class="glyphicon glyphicon-plus"></i>&nbsp;@Resources.ShiftTradeRequest</a>
			</li>
			}

			@if (Model.ShiftTradeBulletinBoardPermission)
			{
			<li class="col-xs-12 col-sm-3">
				<a class="initialize-shift-trade-bulletin-board" href="#" data-bind="click: initializeShiftTradeBulletinBoard"><i
					 class="glyphicon glyphicon-plus"></i>&nbsp;@Resources.ShiftTradeBulletinBoard</a>
			</li>

			<li class="col-xs-12 col-sm-3">
				<a class="initialize-post-shift-for-trade" href="#" data-bind="click: initializePostShiftForTrade"><i class="glyphicon glyphicon-plus"></i>&nbsp;@Resources.AnnounceShift</a>
			</li>
			}
		</ul>
	</div>
</div>

<div class="container pagebody">
	<div id="teamschedule-body-inner" class="teamschedule-body-inner relative">
		<div id="existsWhenLoadingStarts" data-bind="if: isLocked"></div>
		<div id="draw-schedule-container" class="well well-sm">
			<div class="row">
				<div class="col-sm-6 col-md-6 col-lg-3">
					<div id="ScheduleDatePicker" class="input-group schedule-filter-component">
						<span class="input-group-btn">
							<button disabled="disabled" class="previous-date btn" data-bind="click: previousDate, enable: previousDateValid">
								<i class="glyphicon glyphicon-chevron-left"></i>
							</button>
						</span>
						<![if (!IE)|(gt IE 8)]>
						<input data-bind="value: requestedDate().format(DatePickerFormat())" style="width: 100%" type="text" class="text-center form-control date-input-style"
						 readonly>
						<![endif]>
						<!--[if lte IE 8]>
							<input type="text" class="col-lg-2 form-control add-shifttrade-datepicker" data-bind="value: requestedDate().format(DatePickerFormat())" readonly="readonly" />
						<![endif]-->
						<!-- ko if : cultureLoaded -->
						<span class="input-group-btn">
							<button disabled="disabled" class="btn moment-datepicker" data-bind="datepicker: requestedDate, datepickerOptions: { autoHide: true, weekStart: weekStart() }, disable: isLoading">
								<i class="glyphicon glyphicon-calendar"></i>
							</button>
							<button disabled="disabled" class="next-date btn" data-bind="click: nextDate, enable: nextDateValid">
								<i class="glyphicon glyphicon-chevron-right"></i>
							</button>
						</span>
						<!-- /ko -->
					</div>
				</div>
				<!-- ko ifnot: hasError -->
				<div>
					@if (Model.ViewTeamsPermission)
					{
					<!-- ko if: showTeamPicker -->
					<div class="col-sm-6 col-md-6 col-lg-3 teams-select-container">
						<div class="schedule-filter-component">
							<select id="Team-Picker" data-bind="foreach: availableTeams, select2: { value: selectedTeam, onOpening: initTeamsPicker}">
								<!-- ko if: $parent.showGroupings -->
								<optgroup data-bind="attr: { label: $data.text }, foreach: $data.children">
									<option data-bind="text: $data.text, value: $data.id"></option>
								</optgroup>
								<!-- /ko -->
								<!-- ko ifnot: $parent.showGroupings-->
								<option data-bind="text: $data.text, value: $data.id"></option>
								<!-- /ko -->
							</select>
						</div>

					</div>
					<!-- /ko -->
					}
					<div class="col-sm-7 col-md-6 col-lg-4">
						<div class="row">
							<div class="col-xs-6 col-md-6 col-lg-6">
								<div class="dropdown filter-time-dropdown-button schedule-filter-component" data-bind="click: filterStartEndTimeClick, css:{'filteractived':isStartTimeFilterActived()}">
									<a class="dropdown-toggle btn" data-toggle="dropdown" href="#" style="color: black">
										@Resources.StartTime
										<b class="caret"></b>
									</a>
									<ul class="dropdown-menu filter-time-dropdown-form" role="menu">
										<li>
											<div class="input-group start-time-sort-order">
												<div class="btn-group" role="group">
													<!-- ko foreach: displaySortOrderTemplateList -->
													<!-- ko if: IsStart -->
													<span data-bind="attr:{class: Description},css:{'sortingbuttonselected': $parent.isSortingTimeActive( $data)}, click : $parent.updateTimeSortOrder, value: Value"></span>
													<!-- /ko -->
													<!-- /ko -->
												</div>
											</div>
										</li>
										<!-- ko foreach: filterStartTimeList -->
										<li>
											<label class="checkbox filter-time-text">
												<input type="checkbox" data-bind="checked: isChecked">
												<span data-bind="text: text"></span>
											</label>
										</li>
										<!--/ko-->
									</ul>
								</div>
							</div>
							<div class="col-xs-6 col-md-6 col-lg-6">
								<div class="dropdown filter-time-dropdown-button schedule-filter-component" data-bind="click: filterStartEndTimeClick , css:{'filteractived':isEndTimeFilterActived()}">
									<a class="dropdown-toggle btn" data-toggle="dropdown" href="#" style="color: black">
										@Resources.EndTime
										<b class="caret"></b>
									</a>
									<ul class="dropdown-menu filter-time-dropdown-form right-zero" role="menu">
										<li>
											<div class="input-group end-time-sort-order">
												<div class="btn-group" role="group">
													<!-- ko foreach: displaySortOrderTemplateList -->
													<!-- ko if: !IsStart -->
													<span data-bind="attr:{class: Description},css:{'sortingbuttonselected': $parent.isSortingTimeActive( $data)}, click : $parent.updateTimeSortOrder, value: Value"></span>
													<!-- /ko -->
													<!-- /ko -->
												</div>
											</div>
										</li>
										<!-- ko foreach: filterEndTimeList -->
										<li>
											<label class="checkbox filter-time-text">
												<input type="checkbox" data-bind="checked: isChecked">
												<span data-bind="text: text"></span>
											</label>
										</li>
										<!--/ko-->
										<!-- ko if: filterStartTimeList().slice(-1) -->
										<li data-bind="with: filterStartTimeList().slice(-1)[0]">
											<label class="checkbox filter-time-text">
												<input type="checkbox" data-bind="checked: isChecked">
												<span data-bind="text: text"></span>
											</label>
										</li>
										<!--/ko-->
									</ul>
								</div>
							</div>
						</div>
					</div>

					<div class="col-sm-5 col-md-6 col-lg-2">
						<form id="teamschedule-name-search-form" class="input-group name-search schedule-filter-component" data-bind="submit: changeInSearchBox">
							<input type="search" class="form-control" placeholder='@Resources.SearchHintForName' data-bind="value: searchNameText, disable: isLocked" />
							<input type="submit" value="" style="border: none; width: 0; height: 0">
							<span class="input-group-addon input-group-addon-narrow">
								<!-- ko if: isLocked -->
								<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
								<!-- /ko -->
								<!-- ko ifnot: isLocked -->
								<span class="glyphicon glyphicon-search clickable" data-bind="click: submitSearchForm"></span>
								<!-- /ko -->
							</span>
						</form>
					</div>
				</div>
				<!--/ko-->
			</div>
			<!-- ko ifnot: hasError -->
			<div class="shift-trade-add-schedule">
				<div class="shift-trade-timeline">
					<div class="relative">
						<div data-bind="foreach: hours">
							<div class="shift-trade-ruler absolute" data-bind="style: rulerStyleJson, visible: showHourLine"></div>
							<div class="shift-trade-label label label-info absolute" data-bind="style: labelStyleJson, text: hourText, visible: isVisible"></div>
						</div>
					</div>
				</div>
				<table id="team-schedule-table" class="responsive">
					<thead>
						<tr>
							<td class="shift-trade-agent-name">&nbsp;</td>
							<td></td>
						</tr>
						<tr class="shift-trade-my-schedule-row">
							<td class="shift-trade-agent-name">@Resources.MySchedule</td>
							<td class="shift-trade-my-schedule">
								<!-- ko if: mySchedule().isNotScheduled -->
								<div class="not-scheduled-text">@Resources.NotScheduled</div>
								<!-- /ko -->
								<!--ko if:mySchedule().isFullDayAbsence-->
								<div data-bind="foreach: mySchedule().layers">
									<!--ko if:!$parent.mySchedule().isDayOff-->
									<div class="shift-trade-layer-container floatleft">
										<div class="shift-trade-layer add" data-bind="style: styleJson, tooltip: { title: tooltipText, html: true}"></div>
									</div>
									<!--/ko-->
									<!--ko if:$parent.mySchedule().isDayOff-->
									<div class="shift-trade-layer-container floatleft shift-trade-dayoff">
										<div class="dayoff" data-bind="style:{'background-color':backgroundColor},tooltip: { title: tooltipText, html: true}, text:$parent.mySchedule().dayOffName || titleHeader"></div>
									</div>
									<!--/ko-->
								</div>
								<!--/ko-->
								<!--ko if:!mySchedule().isFullDayAbsence-->
								<div data-bind="foreach: mySchedule().layers">
									<div class="shift-trade-layer-container floatleft">
										<div class="shift-trade-layer add" data-bind="style: styleJson, tooltip: { title: tooltipText, html: true}"></div>
									</div>
								</div>
								<!--ko if:mySchedule().isDayOff-->
								<div class="shift-trade-layer-container floatleft shift-trade-dayoff">
									<div class="dayoff" data-bind="text:mySchedule().dayOffName"></div>
								</div>
								<!--/ko-->
								<!--/ko-->
							</td>
						</tr>
					</thead>
					<tbody data-bind="foreach: toDrawSchedules ">
						<tr class="shift-trade-person-schedule-row agent" data-bind="visible: isVisible">
							<td id="shift-trade-agent-name" class="shift-trade-agent-name">
								<p class="relative mrg0" data-bind="text: $data.agentName, tooltip: { title: $data.agentName, html: true}"></p>
							</td>
							<td class="shift-trade-possible-trade-schedule">
								<!-- ko if: $data.isNotScheduled -->
								<div class="not-scheduled-text">@Resources.NotScheduled</div>
								<!-- /ko -->
								<!--ko if:isFullDayAbsence -->
								<div data-bind="foreach: $data.layers">
									<!--ko ifnot:$parent.isDayOff-->
									<div class="shift-trade-layer-container floatleft">
										<div class="shift-trade-layer add" data-bind="style: styleJson, tooltip: { title: tooltipText, html: true}"></div>
									</div>
									<!--/ko-->
									<!--ko if:$parent.isDayOff-->
									<div class="shift-trade-layer-container floatleft shift-trade-dayoff">
										<div class="dayoff" data-bind="style:{'background-color':backgroundColor},tooltip: { title: tooltipText, html: true}, text:$parent.dayOffName || titleHeader"></div>
									</div>
									<!--/ko-->
								</div>
								<!--/ko-->
								<!--ko ifnot:isFullDayAbsence -->
								<div data-bind="foreach: $data.layers">
									<div class="shift-trade-layer-container floatleft">
										<div class="shift-trade-layer add" data-bind="style: styleJson, tooltip: { title: tooltipText, html: true}"></div>
									</div>
								</div>
								<!--ko if:isDayOff-->
								<div class="shift-trade-layer-container floatleft shift-trade-dayoff">
									<div class="dayoff" data-bind="text:dayOffName"></div>
								</div>
								<!--/ko-->
								<!--/ko-->
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!--/ko-->
			<!-- ko ifnot: hasError -->
			<div class="pull-right" data-bind="visible: isPageVisible()">
				<ul class="pagination pagination-sm">
					<li><a data-bind="click: goToFirstPage"><i class="glyphicon glyphicon-fast-backward"></i></a></li>
					<li>
						<a data-bind="click: goPreviousPages, visible: isPreviousMore()">...</a>
					</li>
					<!-- ko foreach: selectablePages() -->
					<li data-bind="css: {'active': $data.isSelected()}">
						<a data-bind="text: $data.index(), click: $parent.selectPage"></a>
					</li>
					<!-- /ko -->
					<li>
						<a data-bind="click: goNextPages, visible: isMore()">...</a>
					</li>
					<li><a data-bind="click: goToLastPage"><i class="glyphicon glyphicon-fast-forward"></i></a></li>
				</ul>
			</div>
			<!--/ko-->
			<!-- ko if: hasError -->
			<div class="alert alert-info bdd-show-message" data-bind="text: errorMessage"></div>
			<!-- /ko -->
			<div class="clearfix"></div>
		</div>
		<div id="existsWhenLoadingFinishes" data-bind="ifnot: isLoading"></div>
	</div>
</div>