@using Teleopti.Ccc.UserTexts
@{
	Layout = null;
}


<input id="my-report-datepicker-format" type="hidden" value="@ViewBag.DatePickerFormat" />

    <div style="text-align: center" id="queueMetric">
        <div class="navbar navbar-default">
            <div class="container">
                <div class="navbar-left">
                    <div class="navbar-btn">
                        <div class="input-group" style="max-width: 294px;">
                            <span class="input-group-btn">
                                <button id="report-view-date-nav-prev" class="btn btn-default" data-bind="click: previousDay, css: 'done'" type="button">
                                    <i class="glyphicon glyphicon-chevron-left"></i>
                                </button>
                            </span>
                            <input class="form-control text-center" style="width: 100%" id="report-view-date-nav-current" data-bind="value: selectedDate().format(datePickerFormat())" type="text" readonly="readonly" />
                            <span class="input-group-btn">
                                <button id="report-view-date-picker" class="btn btn-default moment-datepicker" data-bind="datepicker: selectedDate, datepickerOptions: { autoHide: true, format: datePickerFormat() }" type="button">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                                <button id="report-view-date-nav-next" class="btn btn-default" data-bind="click: nextDay, css: 'done'" type="button">
                                    <i class="glyphicon glyphicon-chevron-right"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#" id="report-overview" data-bind="click: goToOverview">@Resources.OverView</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="page-header" style="margin-top: 5px">
            <h3 style="margin-top: 5px">Daily Queue Metrics</h3>
        </div>
        <div data-bind="foreach: myQueues">
            <div class="panel panel-default" style="margin-bottom: 10px;">
                <h4 style="margin-bottom: 0" data-bind="text: Queue"></h4>
                <div class="panel-body">
                    <div class="row" style="color:white; padding-bottom: 0">
                        <div class="col-xs-12 col-sm-6 col-lg-3">
                            <div class="panel panel-primary dashboard-yellow" style="height: 40px; margin-bottom: 0">
                                <div class="text-center col-xs-12">
                                    <h5 data-bind="text: '@Resources.AverageHandlingTime '+ AverageHandlingTime + '@Resources.SecondShort	'"></h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-lg-3">
                            <div class="panel panel-primary dashboard-purple" style="height: 40px; margin-bottom: 0">
                                <div class="text-center col-xs-12">
                                    <h5 data-bind="text:'@Resources.AverageTalkTime '+ AverageTalkTime + '@Resources.SecondShort	'"></h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-lg-3">
                            <div class="panel panel-primary dashboard-red" style="height: 40px; margin-bottom: 0">
                                <div class="text-center col-xs-12">
                                    <h5 data-bind="text: '@Resources.AverageAfterCallWork '+AverageAfterCallWork + '@Resources.SecondShort	'"></h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-lg-3">
                            <div class="panel panel-primary dashboard-black" style="height: 40px; margin-bottom: 0">
                                <div class="text-center col-xs-12">
                                    <h5 data-bind="text: '@Resources.AnsweredCalls '+AnsweredCalls"></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
