@using Teleopti.Ccc.UserTexts
@{
	Layout = null;
}
<input id="my-report-datepicker-format" type="hidden" value="@ViewBag.DatePickerFormat" />
<div id="queueMetric">
	<div class="navbar teleopti-toolbar subnavbar">
		<div class="container">
			<ul class="nav navbar-nav teleopti-toolbar row submenu">
				<li class="col-xs-12 col-sm-4">
					<div class="input-group" style="max-width: 294px;">
						<span class="input-group-btn">
							<button id="report-view-date-nav-prev" class="btn btn-default" data-bind="click: previousDay, css: 'done'" type="button" aria-label="@Resources.PreviousDay">
								<i class="glyphicon glyphicon-chevron-left"></i>
							</button>
						</span>
						<input class="form-control text-center" style="width: 100%" id="report-view-date-nav-current" data-bind="value: selectedDate().format(datePickerFormat())" type="text" readonly="readonly" />
						<span class="input-group-btn">
							<button id="report-view-date-picker" class="btn btn-default moment-datepicker" data-bind="datepicker: selectedDate, datepickerOptions: { autoHide: true, format: datePickerFormat() }" type="button" aria-label="@Resources.SelectDate">
								<i class="glyphicon glyphicon-calendar"></i>
							</button>
							<button id="report-view-date-nav-next" class="btn btn-default" data-bind="click: nextDay, css: 'done'" type="button" aria-label="@Resources.NextDay">
								<i class="glyphicon glyphicon-chevron-right"></i>
							</button>
						</span>
					</div>
				</li>
				<li class="col-xs-12 col-sm-4">
					<a href="#" id="report-overview" data-bind="click: goToOverview">@Resources.OverView</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="page-header" style="margin-top: 5px;padding: 0; text-align: center">
		<h3 style="margin-top: 5px">@Resources.QueueMetrics</h3>
	</div>
	<div data-bind="ifnot: dataAvailable">
		<div id="friendly-message" class="alert alert-info alert-myreport">
			@Resources.NoDataAvailable
		</div>
	</div>
	<div data-bind="if: dataAvailable">
		<div data-bind="foreach: myQueues" class="hidden-sm hidden-md hidden-lg">
			<div class="panel panel-default" style="margin-bottom: 10px;">
				<h4 style="margin-bottom: 0" class="text-center" data-bind="text: Queue"></h4>
				<div class="panel-body">
					<div class="row" style="color:white; padding-bottom: 0">
						<div class="col-xs-12 col-sm-6 col-lg-3">
							<div class="panel panel-primary dashboard-avgHandlingTime" style="height: 40px; margin-bottom: 0">
								<div class="text-center col-xs-12">
									<h5 data-bind="text: '@Resources.AverageHandlingTime '+ AverageHandlingTime"></h5>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-lg-3">
							<div class="panel panel-primary dashboard-avgTalkTime" style="height: 40px; margin-bottom: 0">
								<div class="text-center col-xs-12">
									<h5 data-bind="text:'@Resources.AverageTalkTime '+ AverageTalkTime"></h5>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-lg-3">
							<div class="panel panel-primary dashboard-avgAfterCallWork" style="height: 40px; margin-bottom: 0">
								<div class="text-center col-xs-12">
									<h5 data-bind="text: '@Resources.AverageAfterCallWork '+AverageAfterCallWork"></h5>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-lg-3">
							<div class="panel panel-primary dashboard-answeredCalls" style="height: 40px; margin-bottom: 0">
								<div class="text-center col-xs-12">
									<h5 data-bind="text: '@Resources.AnsweredCalls '+AnsweredCalls"></h5>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="hidden-xs">
			<div class="col-xs-12 col-sm-12 col-lg-12 queue-header-row">
				<div class="col-xs-3 col-sm-3 col-lg-3 queue-name" style="min-height: 80px;">
					<h4>@Resources.Queue</h4>
				</div>
				<div class="col-xs-8 col-sm-8 col-lg-8">
					<div class="col-xs-12 col-sm-12 col-lg-12  no-padding">
						<div class="text-center col-xs-12 queue-handling-time">
							@Resources.AverageHandlingTime
						</div>
					</div>
					<div class="col-xs-6 col-sm-6 col-lg-6  no-padding">
						<div class="text-center col-xs-12 no-padding queue-talk-time">
							@Resources.AverageTalkTime
						</div>
					</div>
					<div class="col-xs-6 col-sm-6 col-lg-6 no-padding">
						<div class="text-center col-xs-12 no-padding queue-afterwork-time text-center">
							@Resources.AverageAfterCallWork
						</div>
					</div>
				</div>
				<div class="col-xs-1 col-sm-1 col-lg-1 no-padding" style="overflow: hidden">
					<div class="col-xs-12 queue-answered queue-answered-header text-center ">
						@Resources.AnsweredCalls
					</div>
				</div>
			</div>
			<div data-bind="foreach: myQueues">
				<div class="col-xs-12 col-sm-12 col-lg-12 queue-row">
					<div class="col-xs-3 col-sm-3 col-lg-3 queue-name" data-bind="text: Queue"></div>
					<div class="col-xs-8 col-sm-8 col-lg-8">
						<div class="col-xs-12 col-sm-12 col-lg-12 no-padding">
							<div class="queue-handling-time text-center" data-bind="style: {width: HandlingPercent}, text: AverageHandlingTime"></div>
						</div>
						<div class="col-xs-12 col-sm-12 col-lg-12 no-padding">
							<div class="queue-talk-time text-center" data-bind="style: {width: TalkTimePercent}, text: AverageTalkTime"></div>
							<div class="queue-afterwork-time text-center" data-bind="style: {width: AfterCallWorkPercent}, text: AverageAfterCallWork"></div>
						</div>
					</div>
					<div class="col-sm-1 col-md-1 col-lg-1 no-padding">
						<div class="col-xs-12 queue-answered text-center" data-bind="text: AnsweredCalls"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
