@using Teleopti.Ccc.UserTexts
@{
	Layout = null;
}

<input id="my-report-datepicker-format" type="hidden" value="@ViewBag.DatePickerFormat" />

<div class="myreport-daily-metrics">
	<div class="navbar teleopti-toolbar subnavbar">
		<div class="container">
			<ul class="nav navbar-nav teleopti-toolbar row submenu">
				<li class="col-xs-12">
					<span class="input-group" style="max-width: 294px;">
						<span class="input-group-btn">
							<button id="report-view-date-nav-prev" class="btn btn-default" data-bind="click: previousDay, css: 'done'" type="button" aria-label="@Resources.PreviousDay">
								<i class="glyphicon glyphicon-chevron-left"></i>
							</button>
						</span>
						<input class="form-control text-center" style="width: 100%" id="report-view-date-nav-current" data-bind="value: selectedDate().format(datePickerFormat())" type="text" readonly="readonly" />
						<span class="input-group-btn">
							<button id="report-view-date-picker" class="btn btn-default moment-datepicker" data-bind="datepicker: selectedDate, datepickerOptions: { autoHide: true, format: datePickerFormat() }" type="button" aria-label="@Resources.SelectDate">
								<i class="glyphicon glyphicon-calendar"></i>
							</button>
							<button id="report-view-date-nav-next" class="btn btn-default" data-bind="click: nextDay, css: 'done'" type="button" aria-label="@Resources.NextDay">
								<i class="glyphicon glyphicon-chevron-right"></i>
							</button>
						</span>
					</span>
				</li>
			</ul>
		</div>
	</div>

	<div class="container pagebody">
		<div data-bind="ifnot: dataAvailable">
			<div id="friendly-message" class="alert alert-info alert-myreport">
				@Resources.NoDataAvailable
			</div>
		</div>

		<div data-bind="if: dataAvailable">
			<div class="row">
				<div class="col-md-4 col-sm-6">
					<div class="dashboard dashboard-blue dashboard-clickable" data-bind="click: goToAdherence">
						<div class="row">
							<div class="text-center col-xs-12">
								<h1 data-bind="text: adherence() + '%'"></h1>
								<p class="adherenceValue">@Resources.ReadyTimeAdherence</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="dashboard dashboard-purple">
						<div class="row">
							<div class="text-center col-xs-12">
								<h1 data-bind="text: readyTimePerScheduledReadyTime() + '%'"></h1>
								<p class="readyTimePerScheduledReadyTimeValue">@Resources.ReadyTimePerScheduledReadyTime</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="dashboard dashboard-avgHandlingTime" data-bind="css:{'dashboard-clickable': queueMetricsEnabled()}, click: goToQueueMetrics">
						<div class="row">
							<div class="text-center col-xs-12">
								<h1 data-bind="text: averageHandlingTime() + '@Resources.SecondShort	'"></h1>
								<p class="queue-metrics-value handlingTimeValue">@Resources.AverageHandlingTime</p>
							</div>
						</div>
					</div>
				</div>
				@*</div>

					<div class="row">*@
				<div class="col-md-4 col-sm-6">
					<div class="dashboard dashboard-avgTalkTime" data-bind="css:{'dashboard-clickable': queueMetricsEnabled()}, click: goToQueueMetrics">
						<div class="row">
							<div class="text-center col-xs-12">
								<h1 data-bind="text: averageTalkTime() + '@Resources.SecondShort'"></h1>
								<p class="queue-metrics-value talkTimeValue">@Resources.AverageTalkTime</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="dashboard dashboard-avgAfterCallWork" data-bind="css:{'dashboard-clickable': queueMetricsEnabled()}, click: goToQueueMetrics">
						<div class="row">
							<div class="text-center col-xs-12">
								<h1 data-bind="text: averageAfterCallWork() + '@Resources.SecondShort'"></h1>
								<p class="queue-metrics-value afterWorkValue">@Resources.AverageAfterCallWork</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="dashboard dashboard-answeredCalls" data-bind="css:{'dashboard-clickable': queueMetricsEnabled()}, click: goToQueueMetrics">
						<div class="row">
							<div class="text-center col-xs-12">
								<h1 data-bind="text: answeredCalls()"></h1>
								<p class="queue-metrics-value answeredCallsValue">@Resources.AnsweredCalls</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
