@using Teleopti.Ccc.UserTexts
@{
	Layout = null;
}

<input id="my-report-datepicker-format" type="hidden" value="@ViewBag.DatePickerFormat"/>
<div class="myreport-daily-metrics">
    <div class="navbar navbar-default">
        
        <div class="navbar-left">
            <div class="navbar-form" style="max-width: 294px;">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button id="report-view-date-nav-prev" class="btn btn-default" data-bind="click: previousDay, css: 'done'" type="button">
                            <i class="glyphicon glyphicon-chevron-left"></i>
                        </button>
                    </span>
                    <input class="form-control text-center" style="width: 100%" id="report-view-date-nav-current" data-bind="value: selectedDate().format(datePickerFormat())" type="text" readonly="readonly" />
                    <span class="input-group-btn">
                        <button id="report-view-date-picker" class="btn btn-default moment-datepicker" data-bind="datepicker: selectedDate, datepickerOptions: { autoHide: true, format: datePickerFormat() }" type="button">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                        <button id="report-view-date-nav-next" class="btn btn-default" data-bind="click: nextDay, css: 'done'" type="button">
                            <i class="glyphicon glyphicon-chevron-right"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
		<div data-bind="ifnot: dataAvailable">
			<div id="friendly-message" class="alert alert-info alert-myreport">
				@Resources.NoDataAvailable
			</div>
		</div>
		<div class="row">
			<div data-bind="if: dataAvailable" class="span6">
			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<th>@Resources.Metric</th>
						<th class="right-align-cell">@Resources.Value</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="adherenceValue">@Resources.KpiAdherence</td>
						<td class="right-align-cell" data-bind="text: adherence"></td>
					</tr>
					<tr>
						<td class="readyTimePerScheduledReadyTimeValue" >@Resources.ReadyTimePerScheduledReadyTimePercent</td>
						<td class="right-align-cell" data-bind="text: readyTimePerScheduledReadyTime"></td>
					</tr>
					<tr>
						<td class="handlingTimeValue">@Resources.KpiAverageHandleTime</td>
						<td class="right-align-cell" data-bind="text: averageHandlingTime"></td>
					</tr>
					<tr>
						<td class="talkTimeValue">@Resources.KpiAverageTalkTime</td>
						<td class="right-align-cell" data-bind="text: averageTalkTime"></td>
					</tr>
					<tr>
						<td class="afterWorkValue">@Resources.KpiAverageAfterCallWork</td>
						<td class="right-align-cell" data-bind="text: averageAfterCallWork"></td>
					</tr>
					<tr>
						<td class="answeredCallsValue">@Resources.AnsweredCalls</td>
						<td class="right-align-cell" data-bind="text: answeredCalls"></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div data-bind="if: dataAvailable" class="span6"></div>
		</div>
		
	</div>
</div>