@using Teleopti.Ccc.UserTexts
@using Teleopti.Ccc.Web.Areas.MyTime.Core
@using Teleopti.Ccc.Web.Areas.MyTime.Models.Portal
@model PortalViewModel

@section head {
	<script type="text/javascript">
		$(function () { 
			Teleopti.MyTimeWeb.Portal.Init(
				{
					defaultNavigation: '@Html.Portal().GetDefaultAction(Model)',
					baseUrl: '@Url.Content("~/MyTime/")',
					startBaseUrl: '@Url.Content("~/Start/")'
				});
			@if(Model.HasAsmPermission)
			{
				<text>

			Teleopti.MyTimeWeb.Asm.FakeAlert({
				notifyText: '@Resources.YourScheduleTheDATEHasChanged',
				originalDocumentTitle: document.title,
				baseUrl: '@Url.Content("~/")',
				header: '@Resources.Teleopti'
			});
				Teleopti.MyTimeWeb.Asm.ListenForScheduleChanges({ 
						notifyText: '@Resources.YourScheduleTheDATEHasChanged', 
						originalDocumentTitle: document.title,
						baseUrl: '@Url.Content("~/")', 
						header: '@Resources.Teleopti' 
					},
					function (notification) { Teleopti.MyTimeWeb.Asm.NotifyWhenScheduleChangedListener(notification);}
				);

			Teleopti.MyTimeWeb.AsmMessage.Init();
				
				</text>
			}
		});
	</script>
}

<header dir="ltr"> 
	@Html.Partial("Navigation", Model)
</header>
<section id="page" class="container fixed-non-responsive">
<article id="body">
    <div id="body-inner">
	</div>
	<div id="body-bottom">
		<div>
			<span id="licensed-to-label"><small>@Resources.LicensedToColon</small></span>
			<span id="licensed-to-text"><small>@Model.CustomerName</small></span>
		</div>
	</div>
</article>
	<div id="loading">
		<img src="@Url.Content("~/Areas/MyTime/Content/Images/ajax-loader.gif")" alt="Loading..." />
	</div>
	<img id="loading-small-gray-blue" src="@Url.Content("~/Areas/MyTime/Content/Images/ajax-loader-small-f8f8f8.gif")" alt="..." class="template" />
</section>
