@using Teleopti.Ccc.UserTexts
@using Teleopti.Ccc.Web.Areas.MyTime.Core
@using Teleopti.Ccc.Web.Areas.MyTime.Models.Portal
@model PortalViewModel

@section head {

@if (Model.GrantEnabled)
{
<script src='@Url.Content("~/Content/botchat/botchat-es5.js")'></script>
<link href='@Url.Content("~/Content/botchat/botchat.css")' rel="stylesheet" />
}
<script type="text/javascript">
	$(function () {
		Teleopti.MyTimeWeb.Portal.Init(
			{
				defaultNavigation: '@Html.Portal().GetDefaultAction(Model)',
				baseUrl: '@Url.Content("~/MyTime/")',
				startBaseUrl: '@Url.Content("~/Start/")'
			}, window);

		@if (Model.AsmEnabled) {
			<text>
				Teleopti.MyTimeWeb.AlertActivity.StartAlertNextActivity({
					comingMessageTemplate: '@Resources.NextActivityComingMessage',
endingMessageTemplate: '@Resources.ShiftEndingMessage',
originalDocumentTitle: document.title,
baseUrl: '@Url.Content("~/")',
header: '@Resources.Teleopti'
});
Teleopti.MyTimeWeb.Asm.ListenForScheduleChanges(
                        {
					notifyText: '@Resources.YourScheduleTheDATEHasChanged',
originalDocumentTitle: document.title,
baseUrl: '@Url.Content("~/")',
header: '@Resources.Teleopti'
},
                        function(notification) {
					Teleopti.MyTimeWeb.Asm.NotifyWhenScheduleChangedListener(notification);
				Teleopti.MyTimeWeb.AlertActivity.RefreshAlertNextActivity();
			},
			'IScheduleChangedInDefaultScenario'
		);
		Teleopti.MyTimeWeb.Asm.ListenForScheduleChanges(
                        {
					notifyText: '@Resources.ShiftTradeRequestScheduleChanged',
originalDocumentTitle: document.title,
baseUrl: '@Url.Content("~/")',
header: '@Resources.Teleopti'
},
                        function(notification) {
					Teleopti.MyTimeWeb.Asm.NotifyWhenScheduleChangedListener(notification, true);
				Teleopti.MyTimeWeb.AlertActivity.RefreshAlertNextActivity();
			},
			'IShiftTradeScheduleChangedInDefaultScenario'
		);

		Teleopti.MyTimeWeb.AsmMessage.Init();

		Teleopti.MyTimeWeb.PollScheduleUpdates.Init({
			notifyText: '@Resources.YourScheduleHasChanged',
			originalDocumentTitle: document.title,
			baseUrl: '@Url.Content("~/")',
			header: '@Resources.Teleopti'
		});
        </text>
		}

		Teleopti.MyTimeWeb.TeamScheduleNew.Init();
	});

	StoreDeviceInstanceToken = function (token) {
		var optionForBusinessUnits = {
			url: "Start/UserToken",
			dataType: "json",
			type: 'POST',
			cache: false,
			data: { '': token },
			success: function (responseData, textStatus, jqXHR) {
			},
			error: function () {
			}
		};

		$.ajax(optionForBusinessUnits);
	};
</script>
}

<header dir="ltr">
	@Html.Partial("Navigation", Model)
</header>
<section id="page">
	<article id="body">
		<div id="body-inner">
		</div>
	</article>
	<div id="loading">
		<img src='@Url.Content("~/Areas/MyTime/Content/Images/ajax-loader.gif")' alt="Loading..." />
	</div>
	<img id="loading-small-gray-blue" src='@Url.Content("~/Areas/MyTime/Content/Images/ajax-loader-small-f8f8f8.gif")' alt="..."
	 class="template" />
</section>